Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

feat: Migrate frontend environment API calls to project-scoped paths
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/settings/CreateIntegrationPage.tsx
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/environmentService.ts
Due: frontend

fix: Normalize language code in LandingPage to prevent MUI Select warning
  packages/frontend/src/pages/LandingPage.tsx
Due: frontend

fix: Include orgRole as role in login response user object
  packages/backend/src/services/AuthService.ts
Due: backend

fix: Rewrite UserModel permission methods to use RBAC tables instead of deleted g_user_permissions
  packages/backend/src/models/User.ts
Due: backend

fix: Use environment context instead of direct API calls in FeatureFlagsPage and ApiTokensPage
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: frontend

fix: DB migration schema mismatch, seed.ts name column removal, environment route param fix, systemKV init in seed, frontend service path fixes
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/database/seed.ts
  packages/backend/src/middleware/environmentMiddleware.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/admin/environments.ts
  packages/frontend/src/components/features/FeatureFlagCodeReferences.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/components/features/ImpactMetricsChart.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/components/features/SafeguardPanel.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useReleaseFlows.ts
  packages/frontend/src/hooks/useSWR.ts
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
  packages/frontend/src/services/environmentService.ts
  packages/frontend/src/services/releaseFlowService.ts
  packages/frontend/src/services/unknownFlagService.ts
Due: backend, frontend

fix: align DB migration schemas with main branch and fix API errors
  packages/backend/src/controllers/ImpactMetricsController.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/UnknownFlagService.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/RevertPreviewDrawer.tsx
  packages/frontend/src/components/admin/UserForm.tsx
  packages/frontend/src/components/common/ResourceReferenceList.tsx
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/contexts/GameWorldContext.tsx
  packages/frontend/src/contexts/PlatformConfigContext.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/varsService.ts
Due: backend, frontend

refactor: split features.ts into modular features/ directory and migrate console.* to logger
  packages/backend/src/config/knex.ts
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/controllers/PublicInvitationController.ts
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/controllers/ServiceDiscoveryConfigController.ts
  packages/backend/src/controllers/SystemConsoleController.ts
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/ActionSet.ts
  packages/backend/src/routes/admin/actionSets.ts
  packages/backend/src/routes/admin/features/_helpers.ts
  packages/backend/src/routes/admin/features/codeReferences.ts
  packages/backend/src/routes/admin/features/contextFields.ts
  packages/backend/src/routes/admin/features/flagTypes.ts
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/routes/admin/features/importExport.ts
  packages/backend/src/routes/admin/features/index.ts
  packages/backend/src/routes/admin/features/networkTraffic.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/routes/admin/features/segments.ts
  packages/backend/src/routes/admin/signalEndpoints.ts
  packages/backend/src/routes/admin/unknownFlags.ts
  packages/backend/src/routes/auth/auth.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/MetricsService.ts
  packages/backend/src/services/NetworkTrafficService.ts
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
Due: backend, frontend

fix: release flow button loading jitter, JSON parse crash, and route param mismatches
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagModel.ts
  packages/backend/src/models/FeatureFlag/FeatureSegmentModel.ts
  packages/backend/src/models/FeatureFlagType.ts
  packages/backend/src/routes/admin/features/flagTypes.ts
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/routes/admin/features/importExport.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/routes/admin/releaseFlows.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/utils/dbUtils.ts
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/sdks/server-sdk/README.ko.md
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/README.md
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Evaluation/Strategies/StrategyUtils.cs
  packages/shared/src/features/index.ts
  packages/shared/src/features/strategies/util.ts
Due: backend, frontend

refactor: remove staleAfterDays/baselinePayload, fix playground route and env service types
  packages/backend/src/addons/EventFormatter.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagModel.ts
  packages/backend/src/models/FeatureFlag/types.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/EnvironmentCopyDialog.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/services/environmentService.ts
  packages/frontend/src/services/featureFlagService.ts
Due: backend, frontend

fix: save button stays active after saving variants
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

fix: override flags lost on first save for fresh environment cards
  packages/backend/src/models/FeatureFlag/FeatureFlagEnvironmentModel.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: backend, frontend

fix: playground panel scrolls with page instead of floating separately
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: frontend

fix: auto-control release flow plan on flag toggle (backend)
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagModel.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/EnvironmentCopyDialog.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: backend, frontend

fix: auto-start release flow on toggle handles 'pending' status
  packages/backend/src/models/ReleaseFlow.ts
  packages/backend/src/services/FeatureFlagService.ts
Due: backend

fix: milestone connector line styling improvements
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

feat: flowing chevron arrows animation on active milestone connector
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: remove fixed triangle arrow, add center line behind chevrons
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: smooth chevron animation - slower speed, seamless loop
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: align connector with milestone dots, remove strategy left border
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: shift connector line 2px more right for dot alignment
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

feat: apply PageContentLoader with slide-up animation to all admin/features/game pages
  packages/frontend/src/components/common/PageContentLoader.tsx
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/GroupsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/OpenApiPage.tsx
  packages/frontend/src/pages/admin/OrganisationsPage.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

adjustments
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/models/ServiceAccount.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/routes/admin/serviceAccounts.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/services/PermissionService.ts
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/hooks/useSWR.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/orgProjectService.ts
  packages/frontend/src/services/rbacService.ts
  packages/frontend/src/services/serviceAccountService.ts
  packages/frontend/src/services/tagService.ts
  packages/frontend/src/types/apiToken.ts
  packages/frontend/src/types/user.ts
Due: backend, frontend

fix: remove loading from EmptyTableRow, fix page margins, add missing localization
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/OrganisationsPage.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
Due: frontend

fix: add Tooltip to integration event createdAt, environments->environmentIds in EditIntegrationPage
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: frontend

fix: OpenAPI page dark mode text visibility improvements
  packages/frontend/src/pages/admin/OpenApiPage.tsx
Due: frontend

refactor: UI improvements - ResizableDrawer, role column fix, env loading
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/utils/enhancedAuditLog.ts
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: backend, frontend

fix: audit log search field - use SearchTextField with clear button, add env loading state to feature flag overview
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
Due: frontend

feat: unify list view UI - MoreVert menus, round chips (global 8px), Paper outlined, hover rows, PageContentLoader, move user/env mgmt to security menu
  archived/auto-fix-tables.js
  archived/find-listviews.js
  packages/frontend/src/App.tsx
  packages/frontend/src/components/EnvironmentSelector.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/admin/GroupsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/OrganisationsPage.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/monitoring/AlertsPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
Due: frontend

fix: remove duplicate hover attributes from TableRow in 12 pages
  archived/analyze-morevert.js
  archived/fix-hover.js
  archived/transform-morevert.js
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
Due: frontend

feat: apply MoreVert menu to ActionSetsPage, ClientVersionsPage, CustomQueueMonitorPage, GameWorldsPage
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

style: add outlined variant to GameWorldsPage and CustomQueueMonitorPage table containers
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

feat: apply MoreVert menu to SignalEndpointsPage
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
Due: frontend

style: add global zebra striping to all table bodies via MuiTableBody theme override
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

style: apply MoreVert menu and outlined variant to BannerManagementPage, FeatureFlagTypesPage; add global zebra striping
  packages/frontend/src/pages/features/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
Due: frontend

style: apply MoreVert menu to ServiceNoticesPage and IngamePopupNoticesPage
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: frontend
