Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

feat: add max delay column to Ripple History page
  packages/frontend/src/pages/admin/RippleHistoryPage.tsx
Due: frontend

fix: localize maxDelay and render 0ms correctly in Ripple History
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/RippleHistoryPage.tsx
Due: frontend

refactor(coupon): optimize redeem performance and fix OOM risks
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/coupon-redeem-service.ts
  packages/backend/src/services/jobs/coupon-generation-job.ts
  packages/backend/src/services/planning-data-service.ts
Due: backend

feat: implement extreme redis optimization for zero DB lock
  docs/static/img/extreme_redis.png
  docs/static/img/legacy_db_bottleneck.png
  packages/backend/docs/EXTREME_REDIS_OPTIMIZATION.md
  packages/backend/docs/img/extreme_redis.png
  packages/backend/docs/img/legacy_db_bottleneck.png
  packages/backend/src/services/coupon-redeem-service.ts
  packages/backend/src/services/jobs/coupon-redeem-job.ts
  packages/backend/src/services/queue-service.ts
Due: backend

docs: add connection pool exhaustion simulation to extreme redis docs
  packages/backend/docs/EXTREME_REDIS_OPTIMIZATION.md
Due: none

feat(frontend): 무제한 스페셜 쿠폰의 사용률 텍스트 표시 변경
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

feat(coupon): CMS UI improvements - usage chip click filter, issued coupon column sync, dynamic filter couponCode fix
  packages/backend/src/controllers/coupon-settings-controller.ts
  packages/backend/src/services/coupon-settings-service.ts
  packages/frontend/src/pages/game/CmsManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/services/couponService.ts
Due: backend, frontend

fix(coupon): resolve InnoDB deadlock in coupon-redeem-job usedCount update
  packages/backend/src/services/jobs/coupon-redeem-job.ts
Due: backend

chore: save coupon benchmarking progress
  docs/..packagesfrontendpublicdocs/img/extreme_redis.png
  docs/..packagesfrontendpublicdocs/img/legacy_db_bottleneck.png
  docs/..packagesfrontendpublicdocs/ko/img/extreme_redis.png
  docs/..packagesfrontendpublicdocs/ko/img/legacy_db_bottleneck.png
  docs/..packagesfrontendpublicdocs/zh-Hans/img/extreme_redis.png
  docs/..packagesfrontendpublicdocs/zh-Hans/img/legacy_db_bottleneck.png
  packages/backend/scripts/benchmark-coupon-report-html.ts
  packages/backend/scripts/benchmark-coupon.ts
  packages/backend/scripts/benchmark-report-2026-05-11T03-03-52.html
  packages/backend/scripts/benchmark-report-2026-05-11T03-08-27.html
  packages/backend/scripts/benchmark-report-2026-05-11T03-14-07.html
  packages/backend/scripts/benchmark-report-2026-05-11T03-23-55.html
  packages/backend/scripts/benchmark-report-2026-05-11T03-36-31.html
  packages/backend/scripts/benchmark-report-2026-05-11T05-27-37.html
  packages/backend/scripts/benchmark-report-2026-05-11T05-43-13.html
  packages/backend/scripts/benchmark-report-2026-05-11T06-07-53-873Z.json
  packages/backend/scripts/benchmark-report-2026-05-11T06-07-53.html
  packages/backend/scripts/benchmark-report-2026-05-11T06-15-53-622Z.json
  packages/backend/scripts/benchmark-report-2026-05-11T06-15-53.html
  packages/backend/src/controllers/coupon-redeem-controller.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/services/coupon-redeem-cache.ts
  packages/backend/src/services/coupon-redeem-service.ts
  packages/backend/src/services/coupon-settings-service.ts
  packages/backend/src/services/jobs/coupon-batch-processor.ts
  packages/backend/src/services/queue-service.ts
Due: backend

fix(coupon): abort bulk generation early if setting is deleted/disabled during progress
  packages/backend/src/services/jobs/coupon-generation-job.ts
Due: backend

fix(coupon): critical Redis atomicity fixes, Lua scripts, addJob rollback, idempotent usedCount, subchannel targeting bug, doc rewrite
  packages/backend/docs/EXTREME_REDIS_OPTIMIZATION.md
  packages/backend/src/services/coupon-redeem-service.ts
  packages/backend/src/services/jobs/coupon-redeem-job.ts
Due: backend

feat(survey): optimize survey log UI and integrate coupon settings detail
  packages/backend/.env.example
  packages/backend/src/controllers/survey-controller.ts
  packages/backend/src/routes/admin/surveys.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/jobs/survey-log-batch-processor.ts
  packages/backend/src/services/queue-service.ts
  packages/backend/src/services/survey-log-service.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/PaymentStatsDetail.tsx
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/common/RecordDetailDialog.tsx
  packages/frontend/src/components/game/SurveyLogsDrawer.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/SurveyLogsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/surveyService.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/survey-service.ts
Due: backend, frontend

feat(media): migrate to S3 storage, add media assets management UI, and bulk delete unreferenced assets
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/media-asset-controller.ts
  packages/backend/src/models/media-asset.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/media-assets.ts
  packages/backend/src/services/banner-service.ts
  packages/backend/src/services/media-asset-gc-scheduler.ts
  packages/backend/src/services/media-asset-service.ts
  packages/backend/src/services/scheduler-jobs.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/MediaAssetBrowserDialog.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/MediaAssetsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/services/mediaAssetService.ts
  packages/storage/src/azure-storage-provider.ts
  packages/storage/src/cos-storage-provider.ts
  packages/storage/src/gcs-storage-provider.ts
  packages/storage/src/index.ts
  packages/storage/src/local-storage-provider.ts
  packages/storage/src/oss-storage-provider.ts
  packages/storage/src/s3-storage-provider.ts
  packages/storage/src/storage-provider.ts
Due: backend, frontend

다크 테마 색상을 neutral gray 계열로 변경 (진한 남색 → 표준 다크 테마)
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

대시보드 웰컴 카드 모던 디자인 개선 (팁 색상 제거, Glassmorphism 적용)
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: frontend

UI: 플레이어 관리 테이블 헤더 뉴트럴 색상(회색) 적용 및 캐릭터 통계 다국어(KO) 추가
  packages/frontend/src/components/admin/AllCharactersTab.tsx
  packages/frontend/src/components/admin/AllPlayersTab.tsx
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/features/DiscoveredContextFieldsTab.tsx
  packages/frontend/src/locales/ko.ini
Due: frontend

feat: survey template builder with interactive preview and resizable split-pane layout
  packages/backend/package.json
  packages/backend/src/controllers/survey-controller.ts
  packages/backend/src/controllers/survey-template-controller.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/survey-templates.ts
  packages/backend/src/routes/public/index.ts
  packages/backend/src/routes/public/survey-renderer.ts
  packages/backend/src/services/survey-service.ts
  packages/backend/src/services/survey-template-service.ts
  packages/backend/src/templates/survey-error.hbs
  packages/backend/src/templates/survey-renderer.hbs
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/game/survey-templates/LocaleEditor.tsx
  packages/frontend/src/components/game/survey-templates/QuestionBlockEditor.tsx
  packages/frontend/src/components/game/survey-templates/QuestionTypeMenu.tsx
  packages/frontend/src/components/game/survey-templates/SurveyBuilderDialog.tsx
  packages/frontend/src/components/game/survey-templates/SurveyPreview.tsx
  packages/frontend/src/components/game/survey-templates/SurveyResponseAnalytics.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/SurveyTemplatesPage.tsx
  packages/frontend/src/services/surveyService.ts
  packages/frontend/src/services/surveyTemplateService.ts
  yarn.lock
Due: backend, frontend

feat(sidebar): enhance recent pages UX - permission filtering, flushSync, refined design
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

refactor(sidebar): move clear-all to header X button, remove bottom text link
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

fix: crypto.randomUUID fallback for non-secure contexts, layout fixes
  packages/backend/package.json
  packages/backend/scripts/copy-assets.js
  packages/frontend/src/components/game/survey-templates/SurveyBuilderDialog.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
Due: frontend

feat: fully hide sidebar when collapsed (width 0 instead of 64px icon mode)
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

feat: add collapsible navigation menu section in sidebar (localStorage persisted)
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

fix: account locked dialog close button alignment
  packages/frontend/src/pages/auth/LoginPage.tsx
Due: frontend

fix: unify table row styles and empty state placeholder
  packages/edge/public/game-service-notices.html
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
Due: frontend

UI: 사이드바 depth 배경색 제거, API 토큰 테이블 개선
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

refactor: extract ClusterView, CheckerboardView, and shared constants from ServerListPage
  packages/frontend/src/components/server-list/CheckerboardView.tsx
  packages/frontend/src/components/server-list/ClusterView.tsx
  packages/frontend/src/components/server-list/constants.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

perf: implement SSE event batching (Phase 1)
  packages/backend/src/routes/admin/service-discovery.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: backend, frontend

feat(server-list): Phase 2 - add react-virtuoso table virtualization for list view
  packages/frontend/package.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  yarn.lock
Due: frontend

perf(cluster-view): optimize D3 simulation and rendering for large server counts
  packages/frontend/src/components/server-list/ClusterView.tsx
Due: frontend

feat(views): add VirtuosoGrid virtualization to Grid, Card, and Checkerboard views
  packages/frontend/src/components/server-list/CheckerboardView.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix(list-view): stabilize TableVirtuoso components to prevent animation flickering
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

style(list-view): round corners on heartbeat time progress bar
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

feat: add spreadsheet module (Univer-based Google Sheets alternative)
  packages/backend/src/controllers/spreadsheet-controller.ts
  packages/backend/src/models/spreadsheet.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/spreadsheets.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetCard.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetEditorWrapper.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetEmptyState.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/hooks/useAutoSave.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/SpreadsheetEditorPage.tsx
  packages/frontend/src/pages/admin/SpreadsheetListPage.tsx
  packages/frontend/src/services/spreadsheetService.ts
  packages/shared/src/permissions/categories.ts
  packages/shared/src/permissions/constants.ts
  yarn.lock
Due: backend, frontend

feat(spreadsheet): share dialog, DB migration fix, public link
  packages/backend/src/app.ts
  packages/backend/src/controllers/spreadsheet-controller.ts
  packages/backend/src/middleware/request-logger.ts
  packages/backend/src/models/spreadsheet-share.ts
  packages/backend/src/models/spreadsheet.ts
  packages/backend/src/routes/admin/spreadsheets.ts
  packages/backend/src/routes/public/index.ts
  packages/backend/src/services/spreadsheet-collab-service.ts
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/EmptyPagePlaceholder.tsx
  packages/frontend/src/components/spreadsheet/ShareDialog.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetCard.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetEditorWrapper.tsx
  packages/frontend/src/components/spreadsheet/SpreadsheetPresenceBar.tsx
  packages/frontend/src/components/spreadsheet/VersionUpdateBanner.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/SpreadsheetEditorPage.tsx
  packages/frontend/src/pages/admin/SpreadsheetListPage.tsx
  packages/frontend/src/pages/shared/SharedSpreadsheetPage.tsx
  packages/frontend/src/services/spreadsheetCollabService.ts
  packages/frontend/src/services/spreadsheetService.ts
  packages/frontend/src/styles/scrollbar.css
  packages/frontend/src/styles/univer-scrollbar-fix.css
  packages/frontend/src/utils/spreadsheetExcelUtils.ts
  yarn.lock
Due: backend, frontend

fix(ui): apply hover-only scrollbar and workaround Chrome 121+ scrollbar-color bug
  packages/frontend/src/styles/scrollbar.css
  packages/frontend/src/styles/univer-scrollbar-fix.css
Due: frontend

feat(ui): add scroll restoration and optimize media asset deletion
  packages/frontend/src/hooks/useListRestoration.ts
  packages/frontend/src/pages/admin/MediaAssetsPage.tsx
  packages/frontend/src/pages/admin/SpreadsheetListPage.tsx
Due: frontend

feat(ui): replace circular progress with signature lottie animation
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/ContentLoader.tsx
  packages/frontend/src/components/common/LottieLoader.tsx
  packages/frontend/src/components/common/PageContentLoader.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/SpreadsheetEditorPage.tsx
  packages/frontend/src/pages/shared/SharedSpreadsheetPage.tsx
Due: frontend

style(ui): remove unnecessary loading text from spreadsheet loaders
  packages/frontend/src/pages/admin/SpreadsheetEditorPage.tsx
  packages/frontend/src/pages/shared/SharedSpreadsheetPage.tsx
Due: frontend
