Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

style: apply MoreVert menu to SurveysPage
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

style: apply Card variant=outlined to all table-wrapping Card components across pages
  archived/check-card-outlined.js
  archived/fix-card-outlined.js
  packages/backend/src/services/PermissionService.ts
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: backend, frontend

style: increase zebra stripe opacity to 0.04, add outlined to ClientVersionsPage
  archived/check-card-outlined.js
  archived/fix-card-outlined.js
  packages/backend/src/services/PermissionService.ts
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: backend, frontend

style: fix zebra stripe vs hover conflict, add outlined to MessageTemplatesPage and UsersManagementPage, add MoreVert menu to MessageTemplatesPage
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

style: use solid colors for zebra striping and hover to fix visibility on Card-wrapped tables
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

style: fix action column alignment and zebra striping for expanded-row tables (SignalEndpoints, ActionSets)
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
Due: frontend

style: ActionSetsPage - separate description column, signal endpoint selector with icon and description, fix action column alignment
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
Due: frontend

yarn format
  packages/frontend/src/components/EnvironmentSelector.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
Due: frontend

chore: remove User.role field, add RBAC permission v2 spec
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/ServerAuthController.ts
  packages/backend/src/controllers/ServerUserController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin/admin.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/ConsoleService.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/types/user.ts
  spec/rbac_permission_v2.html
  spec/rbac_permission_v2.md
Due: backend

fix: add missing Chinese localization keys for environment settings
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: resolve frontend build errors - type fixes and shared package config
  packages/frontend/src/components/features/FeatureFlagCodeReferences.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/shared/package.json
Due: frontend

feat: improve org/project forms - add subtitle, helptext, required markers, org CRUD in workspace, disable ripple, silent reload
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
Due: frontend

docs: add RBAC v3 Role Binding spec and presentation
  spec/rbac_v3_presentation.html
  spec/rbac_v3_role_binding.md
Due: none

adjust
  deploy/.env.example
  deploy/docker-stack.yml
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/services/PermissionService.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/services/rbacService.ts
Due: backend, frontend

feat(rbac): implement RBAC v3 role binding pattern
  packages/backend/src/database/seed.ts
  packages/backend/src/models/GroupModel.ts
  packages/backend/src/models/RoleBindingModel.ts
  packages/backend/src/models/RoleModel.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/services/PermissionService.ts
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/rbacService.ts
Due: backend, frontend

refactor: replace isAdmin with RBAC permissions-based access control
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/seed.ts
  packages/backend/src/models/GroupModel.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/routes/admin/users.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/rbac/EffectivePermissionsViewer.tsx
  packages/frontend/src/components/rbac/PermissionTreeEditor.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/frontend/src/contexts/PlatformConfigContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GroupsPage.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/auth.ts
  packages/frontend/src/services/orgProjectService.ts
  packages/frontend/src/services/rbacService.ts
Due: backend, frontend

refactor: remove orgRole admin legacy check from UserModel.getPermissions - Admin gets *:* via Super Admin RBAC role binding instead of orgRole shortcut
  packages/backend/src/models/User.ts
Due: backend

fix: mount /users/me/permissions as self-service route before requirePermission middleware - fixes 404 chicken-and-egg problem
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/users.ts
Due: backend

fix: use named import for UserController in admin/index.ts
  packages/backend/src/routes/admin/index.ts
Due: backend

refactor: replace orgRole=admin check in isOrgAdmin with RBAC *:* permission check via role bindings
  packages/backend/src/services/PermissionService.ts
Due: backend

refactor: remove all user.role references from frontend, replace with RBAC permissions
  archived/fix_role_refs.js
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/chat/MentionAutocomplete.tsx
  packages/frontend/src/components/chat/UserPresence.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/admin/ChangeRequestDetailPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/common/UnauthorizedPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: frontend

chore: remove temp fix_role_refs script
  archived/fix_role_refs.js
Due: none

feat: add permission-based role label (superAdmin/manager/viewer/member) to ProfilePage and DashboardPage
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/shared/src/permissions/index.ts
  packages/shared/src/permissions/roleLabel.ts
Due: frontend

fix: silence 403 errors on ProfilePage environment fetch for users without permissions
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: frontend

refactor: remove legacy requireAdmin middleware from all routes and delete requireAdmin.ts - RBAC handles access control
  packages/backend/src/app.ts
  packages/backend/src/middleware/auth.ts
  packages/backend/src/middleware/requireAdmin.ts
  packages/backend/src/routes/admin/admin.ts
  packages/backend/src/routes/admin/auditLogs.ts
  packages/backend/src/routes/admin/banners.ts
  packages/backend/src/routes/admin/changeRequests.ts
  packages/backend/src/routes/admin/clientVersionRoutes.ts
  packages/backend/src/routes/admin/console.ts
  packages/backend/src/routes/admin/environments.ts
  packages/backend/src/routes/admin/gameWorlds.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/invitations.ts
  packages/backend/src/routes/admin/ipWhitelist.ts
  packages/backend/src/routes/admin/jobs.ts
  packages/backend/src/routes/admin/messageTemplates.ts
  packages/backend/src/routes/admin/planningData.ts
  packages/backend/src/routes/admin/rewardTemplates.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/routes/admin/surveys.ts
  packages/backend/src/routes/admin/tags.ts
  packages/backend/src/routes/admin/translation.ts
  packages/backend/src/routes/admin/users.ts
  packages/backend/src/routes/admin/vars.ts
  packages/backend/src/routes/admin/whitelist.ts
Due: backend

fix: remove legacy role column references from AdminInvitationController (g_invitations table)
  packages/backend/src/controllers/AdminInvitationController.ts
Due: backend

feat(rbac): add user onboarding auto-join spec (Section 18)
  .antigravity/config.json
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/seed.ts
  packages/backend/src/middleware/auth.ts
  packages/backend/src/models/Organisation.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin/admin.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/backend/src/services/ConsoleService.ts
  packages/backend/src/services/PermissionService.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/types/auth.ts
  packages/backend/src/types/permissions.ts
  packages/backend/src/utils/enhancedAuditLog.ts
  packages/backend/src/utils/jwt.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/rbac/EffectivePermissionsViewer.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/rbacService.ts
  packages/frontend/tsconfig.json
  spec/rbac_v3_role_binding.md
Due: backend, frontend

feat(rbac): implement scope hierarchy (system=0 > org=1 > project=2 > env=3)
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/controllers/PublicInvitationController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/models/RoleModel.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin/invitations.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/services/PermissionService.ts
  packages/backend/src/services/UserOnboardingService.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/types/permissions.ts
  packages/backend/src/utils/scopeHierarchy.ts
  packages/backend/src/utils/ulid.d.ts
  packages/backend/src/utils/ulid.d.ts.map
  packages/backend/src/utils/ulid.js
  packages/backend/src/utils/ulid.js.map
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/rbac/OrgProjectTreeSelector.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/services/invitationService.ts
  packages/frontend/src/services/rbacService.ts
  packages/frontend/src/types/invitation.ts
  spec/rbac_v3_role_binding.md
Due: backend, frontend

refactor(rbac): replace legacy requirePermission with scope-specific middleware
  packages/backend/src/middleware/auth.ts
  packages/backend/src/routes/admin/admin.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/admin/environments.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/releaseFlows.ts
  packages/backend/src/routes/admin/serverLifecycle.ts
  spec/rbac_scope_resource_mapping.md
Due: backend

chore: remove emojis from database scripts, remove internal gatrix setup from seed
  packages/backend/src/database/migrate.ts
  packages/backend/src/database/reset.ts
  packages/backend/src/database/seed.ts
Due: backend

fix(rbac): fix Viewer 403 on roles page + add global 403 permission denied popup
  packages/backend/src/routes/admin/rbac.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/api.ts
Due: backend, frontend

refactor(rbac): navigation permissions use P.* constants + fix viewer edit access
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

fix(rbac): skip change-request API call for users without permission
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

feat(rbac): readonly drawer + impact metrics + viewer permission fixes
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/ImpactMetricsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

feat(rbac): specialized roles + hide admin pages from Viewer
  packages/backend/src/database/seed.ts
  packages/frontend/src/config/navigation.tsx
Due: backend, frontend

fix(ui): remove RBAC label + add sidebar separator
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(ui): redesign onboarding page with auto-polling and premium design
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
