Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: complete cleanup of environmentId/envId references
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/components/EnvironmentChangeOverlay.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: backend, frontend

Revert "refactor: complete cleanup of environmentId/envId references"
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/components/EnvironmentChangeOverlay.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: backend, frontend

feat: Improve planning data page UX with empty state guide and CLI upload
  package.json
  packages/frontend/src/components/common/TableSkeletonRows.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  scripts/upload-planning-data.js
Due: frontend

feat: Improve planning data CLI tools and dev workflow
  .gitignore
  package.json
  packages/backend/src/routes/server/index.ts
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  scripts/convert-planning-data.js
  scripts/upload-planning-data.js
Due: backend, frontend

feat: Add planning data upload tracking UI and CLI uploader override
  docs/yarn.lock
  packages/backend/src/controllers/PlanningDataController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/planningDataService.ts
  scripts/upload-planning-data.js
Due: backend, frontend

fix: Use raw SQL for planningDataUploads migration
  packages/backend/src/database/migrations/002_planning_data_uploads.js
Due: backend

feat: Add PlanningDataHistoryPage with separate menu
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
Due: frontend

feat: Improve upload history tracking
  converted-planning-data/cashshop-lookup.json
  packages/backend/src/database/migrations/002_planning_data_uploads.js
  packages/backend/src/database/migrations/003_add_file_diffs_column.js
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/services/planningDataService.ts
Due: backend, frontend

fix: Correct diff calculation and show 'already up to date' message
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

feat(planning-data): improve upload flow, history page and add guide drawer
  converted-planning-data/cashshop-lookup.json
  packages/backend/package.json
  packages/backend/src/controllers/PlanningDataController.ts
  packages/backend/src/routes/admin/planningData.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/backend/src/services/QueueService.ts
  packages/frontend/src/components/planning-data/PlanningDataGuideDrawer.tsx
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/planningDataService.ts
  yarn.lock
Due: backend, frontend

feat(planning-data-guide): add syntax highlighting with Monaco Editor
  packages/frontend/src/components/planning-data/PlanningDataGuideDrawer.tsx
Due: frontend

fix(sdk-guides): update API paths to include environment and remove X-Environment-Id header
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
Due: frontend

fix(client-version-guide): use environment in path instead of X-Environment header
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
Due: frontend

feat(sdk-guides): improve API test UX and localization
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/utils/backendUrl.ts
Due: frontend

feat(sdk-guides): add copy button to curl preview
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
Due: frontend

feat(sdk-guides): add received time display to response section
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

feat(sdk-guides): update IngamePopupNotice and Coupon SDK guides
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
Due: frontend

fix(sdk-guides): use common.receivedAt for ClientVersionGuideDrawer
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
Due: frontend

refactor(sdk-guides): remove X-Application-Name parameter display from IngamePopupNoticeGuideDrawer
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
Due: frontend

fix(sdk-guides): fix backend URL and add missing localization keys
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/utils/backendUrl.ts
Due: frontend

UX(coupons): improve empty state messages for coupon pages
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
Due: frontend

쓰레기 메뉴얼(일단 목차라도 건지려고... 커밋)
  manual/ko/00-table-of-contents.md
  manual/ko/01-introduction.md
  manual/ko/02-dashboard.md
  manual/ko/03-user-management.md
  manual/ko/04-client-versions.md
  manual/ko/05-game-worlds.md
  manual/ko/06-maintenance.md
  manual/ko/07-service-notices.md
  manual/ko/08-popup-notices.md
  manual/ko/09-coupons.md
  manual/ko/10-surveys.md
  manual/ko/11-store-products.md
  manual/ko/12-banners.md
  manual/ko/13-planning-data.md
  manual/ko/14-remote-config.md
  manual/ko/15-server-management.md
  manual/ko/16-monitoring.md
  manual/ko/17-api-tokens.md
  manual/ko/18-settings.md
  manual/ko/Gatrix_User_Manual_Full.html
  manual/ko/Gatrix_User_Manual_Full.md
  manual/ko/images/placeholder.png
Due: none

feat(frontend): restyle Planning Data History view to match Store Products style
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
Due: frontend

style(frontend): make expanded planning data history item background darker
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
Due: frontend

docs: cleanup and update documentation
  docs/GRAFANA_IFRAME_EMBEDDING.md
  docs/build_output.txt
  docs/docs/deployment/docker.md
  docs/docs/guide/banners.md
  docs/docs/guide/coupons.md
  docs/docs/guide/img/banner-list.png
  docs/docs/guide/img/coupon-add-form.png
  docs/docs/guide/img/coupon-definition-list.png
  docs/docs/guide/img/coupon-usage-list.png
  docs/docs/guide/img/planning-data-list.png
  docs/docs/guide/img/popup-notice-add-form.png
  docs/docs/guide/img/popup-notice-list.png
  docs/docs/guide/img/service-notice-add-form.png
  docs/docs/guide/img/service-notice-list.png
  docs/docs/guide/img/store-products-list.png
  docs/docs/guide/img/survey-list.png
  docs/docs/guide/planning-data.md
  docs/docs/guide/popup-notices.md
  docs/docs/guide/service-notices.md
  docs/docs/guide/store-products.md
  docs/docs/guide/surveys.md
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/sidebars.ts
Due: none

Add Change Request settings to Environment Creation dialog
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/environmentService.ts
Due: frontend

Fix Change Request list empty space and localization issues
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
Due: frontend

중간커밋
  archived/add-cr-error-locales.js
  packages/backend/src/database/migrations/008_add_executed_by_to_change_requests.js
  packages/backend/src/database/migrations/009_add_target_fields_to_surveys.js
  packages/backend/src/database/migrations/010_add_type_to_change_requests.js
  packages/backend/src/routes/admin/changeRequests.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/gameWorldService.ts
  packages/frontend/src/services/storeProductService.ts
  packages/frontend/src/utils/errorUtils.ts
Due: backend, frontend

중간커밋
  archived/add-cr-error-locales.js
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/surveyService.ts
  packages/frontend/src/utils/errorUtils.ts
Due: frontend

Update UnifiedChangeGateway.ts
  packages/backend/src/services/UnifiedChangeGateway.ts
Due: backend

Update ChangeRequestService.ts
  packages/backend/src/services/ChangeRequestService.ts
Due: backend

fix(frontend): improve numeric input validation and usability across multiple forms
  packages/frontend/lint_output.txt
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/BatchProcessDialog.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/utils/changeRequestToast.tsx
Due: frontend

Update zh.json
  packages/frontend/src/locales/zh.json
Due: frontend

feat: standardizing date formatting, audit log actions, and error handling with ResourceLockedDialog
  packages/backend/src/services/UnifiedChangeGateway.ts
  packages/frontend/package.json
  packages/frontend/src/components/common/ResourceLockedDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/hooks/useHandleApiError.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/auditLogService.ts
  packages/frontend/src/utils/errorUtils.ts
  packages/shared/src/errors/index.ts
Due: backend, frontend

fix: improve error payload extraction for structured API responses
  packages/frontend/src/utils/errorUtils.ts
Due: frontend

feat(change-request): improve duplicate entry error handling
  packages/backend/src/controllers/ChangeRequestController.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/frontend/src/components/common/ApiErrorDialog.tsx
  packages/frontend/src/components/common/ResourceLockedDialog.tsx
  packages/frontend/src/hooks/useHandleApiError.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestDetailPage.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/utils/errorUtils.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
