Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

refine operator tooltip text
  packages/frontend/src/components/common/OperatorIcon.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

refactor: collapsible form sections, custom status icons, filter improvements
  packages/frontend/src/components/common/FlagStatusIcon.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
Due: frontend

refactor: theme color overhaul and environment pill toggle switches
  packages/frontend/src/components/common/FeatureSwitch.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat: enhance compact view with rich info layout, status icons, and fix unsaved changes flash
  packages/frontend/src/components/common/FeatureSwitch.tsx
  packages/frontend/src/components/common/FlagStatusIcon.tsx
  packages/frontend/src/components/common/OperatorIcon.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
Due: frontend

feat(frontend): refine feature flag UI/UX for code references
  packages/frontend/src/components/features/FeatureFlagCodeReferences.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

adjustments
  .gatrixignore
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/services/featureFlagService.ts
  scan_check.txt
  tools/src/config/defaults.ts
  tools/src/scanners/typescriptScanner.ts
  tools/src/utils.ts
Due: backend, frontend

feat: add GDScript scanner and upgrade language icons
  packages/frontend/public/assets/lang-icons/c.svg
  packages/frontend/public/assets/lang-icons/cpp.svg
  packages/frontend/public/assets/lang-icons/csharp.svg
  packages/frontend/public/assets/lang-icons/dart.svg
  packages/frontend/public/assets/lang-icons/go.svg
  packages/frontend/public/assets/lang-icons/godot.svg
  packages/frontend/public/assets/lang-icons/java.svg
  packages/frontend/public/assets/lang-icons/javascript.svg
  packages/frontend/public/assets/lang-icons/kotlin.svg
  packages/frontend/public/assets/lang-icons/lua.svg
  packages/frontend/public/assets/lang-icons/php.svg
  packages/frontend/public/assets/lang-icons/python.svg
  packages/frontend/public/assets/lang-icons/ruby.svg
  packages/frontend/public/assets/lang-icons/rust.svg
  packages/frontend/public/assets/lang-icons/swift.svg
  packages/frontend/public/assets/lang-icons/typescript.svg
  packages/frontend/src/utils/languageIcons.tsx
  tools/src/scanners/languageScanners.ts
  tools/src/scanners/registry.ts
  tools/src/types.ts
Due: frontend

feat(tools): add scan progress reporting and robust encoding support
  tools/src/core/scannerEngine.ts
  tools/src/utils.ts
Due: none

feat(tools): add HTML report i18n, compact layout, and --lang CLI option
  tools/src/cli.ts
  tools/src/config/defaults.ts
  tools/src/core/reporterEngine.ts
  tools/src/reporters/htmlReporter.ts
Due: none

adjustments
  .gitignore
  archived/code-refs-report-ko.html
  archived/code-refs-report.html
  docs/docs/features/feature-flags.md
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/FeatureFlagCodeReferences.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/utils/languageIcons.tsx
  tools/src/reporters/htmlReporter.ts
Due: backend, frontend

feat: refine remote config UI, add playground context field extraction
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/i18n/ko/docusaurus-plugin-content-docs/current/features/feature-flags.md
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/features/feature-flags.md
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

feat: add per-field enabled checkbox and compact layout for playground context fields
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

feat: playground context extract improvements, delete all confirm dialog, remove env switch tooltip, fix formatRelativeTime locale
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

style: simplify boolean variant limit notice to plain text
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

style: remove redundant value type help text from Flag Values tab
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: improve validation error messages with structured error codes
  packages/backend/src/utils/validateFlagValue.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/utils/errorUtils.ts
Due: backend, frontend

feat: validate missing required context fields referenced by flag strategies/segments
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

fix: distinguish not-provided vs empty-string in constraint evaluation display
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

refactor: rename allowEmpty to isRequired in validation rules
  packages/backend/src/database/migrations/059_rename_allow_empty_to_is_required.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/utils/validateFlagValue.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ValidationRulesEditor.tsx
  packages/frontend/src/hooks/features/useValueValidation.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
Due: backend, frontend

fix: migration 059 use connection.execute instead of knex
  packages/backend/src/database/migrations/059_rename_allow_empty_to_is_required.js
Due: backend

docs: reinforce migration workflow - never use knex, add data migration example
  .agent/workflows/migrations.md
Due: none

fix: isRequired and trimWhitespace enforced independently of validation enabled flag
  packages/backend/src/routes/admin/features.ts
Due: backend

fix: context validation UI - show all error fields with localized messages
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

fix: sync backend evaluateConstraint with shared evaluator
  packages/backend/src/routes/admin/features.ts
Due: backend

fix: add playground.warning.missingRequired localization key for all locales
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat: enhance validation rules enforcement and playground UI improvements
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/common/ContextFieldChip.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ValidationRulesEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
Due: backend, frontend

style: optimize Playground evaluation UI and fix Korean typos
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/ko.ini
Due: frontend

adjustments
  packages/backend/scripts/seed-context-fields.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/utils/validateFlagValue.ts
  packages/frontend/src/components/common/ContextFieldChip.tsx
  packages/frontend/src/components/common/FieldTypeIcon.tsx
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/ValidationRulesEditor.tsx
  packages/frontend/src/hooks/features/useValueValidation.ts
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/utils/countryCodes3.ts
  packages/frontend/src/utils/dateFormat.ts
  packages/frontend/src/utils/errorUtils.ts
  packages/frontend/src/utils/languages.ts
  packages/frontend/src/utils/locales.ts
  packages/frontend/src/utils/timezones.ts
Due: backend, frontend

feat: implement Impact Metrics module (Server SDK + Backend)
  packages/backend/src/controllers/ImpactMetricsController.ts
  packages/backend/src/controllers/ReleaseFlowController.ts
  packages/backend/src/database/migrations/060_release_flow_system.js
  packages/backend/src/database/migrations/061_release_flow_lifecycle.js
  packages/backend/src/database/seed.ts
  packages/backend/src/models/ReleaseFlow.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/releaseFlows.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/ImpactMetricsService.ts
  packages/backend/src/services/MetricsService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/ReleaseFlowService.ts
  packages/backend/src/services/releaseFlowScheduler.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/hooks/useReleaseFlows.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/services/releaseFlowService.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/impact-metrics/metric-api.ts
  packages/sdks/server-sdk/src/impact-metrics/metric-types.ts
  packages/sdks/server-sdk/src/index.ts
Due: backend, frontend

feat: implement SafeguardService (CRUD + Prometheus evaluation + scheduler integration)
  packages/backend/src/controllers/ReleaseFlowController.ts
  packages/backend/src/routes/admin/releaseFlows.ts
  packages/backend/src/services/SafeguardService.ts
  packages/backend/src/services/releaseFlowScheduler.ts
Due: backend

feat: add SafeguardPanel UI + ConfirmDialog component + localization keys
  packages/frontend/src/components/common/ConfirmDialog.tsx
  packages/frontend/src/components/features/SafeguardPanel.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/releaseFlowService.ts
Due: frontend

feat: integrate SafeguardPanel into ReleaseFlowTab milestone view
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: show SafeguardPanel on all milestones, not just active one
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: expand all milestone steps so safeguard panel is always visible
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

refactor: use EmptyPlaceholder component for safeguard empty state
  packages/frontend/src/components/features/SafeguardPanel.tsx
Due: frontend

fix: hide header add button when empty - EmptyPlaceholder already has it
  packages/frontend/src/components/features/SafeguardPanel.tsx
Due: frontend

feat: metric name autocomplete + idle-server test impact metrics (12 metrics)
  packages/frontend/src/components/features/SafeguardPanel.tsx
  packages/frontend/src/services/releaseFlowService.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: frontend
