Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix(admin/sdk): resolve SDK explicit string ID check and add creator column to GameWorlds list
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/base-environment-service.ts
Due: frontend

feat: add deploy-swarm Docker Swarm deployment package
  deploy-swarm/.env.example
  deploy-swarm/.gitignore
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
  deploy-swarm/build-and-push.ps1
  deploy-swarm/build-and-push.sh
  deploy-swarm/config/grafana/provisioning/dashboards/dashboards.yml
  deploy-swarm/config/grafana/provisioning/datasources/datasource.yml
  deploy-swarm/config/nginx.conf
  deploy-swarm/config/prometheus.yml
  deploy-swarm/deploy.ps1
  deploy-swarm/deploy.sh
  deploy-swarm/docker-compose.swarm.yml
  deploy-swarm/generate-secrets.ps1
  deploy-swarm/generate-secrets.sh
  deploy-swarm/health-check.ps1
  deploy-swarm/health-check.sh
  deploy-swarm/list-images.ps1
  deploy-swarm/list-images.sh
  deploy-swarm/login-registry.ps1
  deploy-swarm/login-registry.sh
  deploy-swarm/package-deploy.js
  deploy-swarm/package.ps1
  deploy-swarm/package.sh
  deploy-swarm/rollback.ps1
  deploy-swarm/rollback.sh
  deploy-swarm/scale.ps1
  deploy-swarm/scale.sh
  deploy-swarm/status.ps1
  deploy-swarm/status.sh
  deploy-swarm/teardown.ps1
  deploy-swarm/teardown.sh
  deploy-swarm/update.ps1
  deploy-swarm/update.sh
Due: none

docs: add Swarm cluster setup guide, fix package to dist/, fix default language to zh
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
Due: none

fix: remove build-and-push from package, fix teardown stack-not-found error
  deploy-swarm/package-deploy.js
  deploy-swarm/package.ps1
  deploy-swarm/package.sh
  deploy-swarm/teardown.ps1
Due: none

docs: expand notes to 22 items (security, network, deploy, data, multi-node, troubleshooting), add docker-compose.dev-infra.yml
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
  deploy-swarm/docker-compose.dev-infra.yml
Due: none

docs: fix architecture diagram alignment, add Nginx guide, change Edge label to Client API
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
Due: none

fix: swarm deployment - admin seed, role binding, env vars, docs
  deploy-swarm/.env.example
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
  deploy-swarm/deploy.ps1
  deploy-swarm/deploy.sh
  deploy-swarm/docker-compose.swarm.yml
  deploy/.build-history.json
  packages/backend/Dockerfile
  packages/backend/src/database/seed.ts
  packages/backend/src/services/survey-service.ts
  packages/edge/Dockerfile
  packages/frontend/src/components/game/SurveyConfigDialog.tsx
Due: backend, frontend

fix: make version/platform fields readonly in edit mode, fix false duplicate alert
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(deploy-swarm): decouple secrets from --init, fix service wait, rename scale to ephemeral-scale
  deploy-swarm/.env.example
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
  deploy-swarm/deploy.ps1
  deploy-swarm/deploy.sh
  deploy-swarm/docker-compose.swarm.yml
  deploy-swarm/ephemeral-scale.ps1
  deploy-swarm/ephemeral-scale.sh
  deploy-swarm/generate-secrets.ps1
  deploy-swarm/generate-secrets.sh
  deploy-swarm/package-deploy.js
  deploy-swarm/package.ps1
  deploy-swarm/package.sh
Due: none

feat(scale): auto-persist scaling changes to .env, revert to scale.sh naming
  deploy-swarm/README.en.md
  deploy-swarm/README.md
  deploy-swarm/README.zh.md
  deploy-swarm/package-deploy.js
  deploy-swarm/package.ps1
  deploy-swarm/package.sh
  deploy-swarm/scale.ps1
  deploy-swarm/scale.sh
Due: none

fix: proxy client-version health check through backend to avoid CORS
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/routes/admin/client-version-routes.ts
  packages/frontend/src/services/clientVersionService.ts
Due: backend, frontend

fix(frontend): resolve missing projectApiPath in CouponUsage, update UI components, and fix clipboard fallback
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/utils/clipboard.ts
Due: frontend

fix(deploy): resolve swarm config updates by generating dynamic config names with file hashes
  deploy-swarm/deploy.sh
  deploy-swarm/docker-compose.swarm.yml
  packages/frontend/src/components/game/SurveyConfigDialog.tsx
Due: frontend

fix(edge): override metricsBindAddress to 0.0.0.0 for swarm scrape compatibility
  packages/edge/src/config/env.ts
  packages/edge/src/services/sdk-manager.ts
Due: none

fix(gatrix): resolve planning data backend timestamp and store products UI pagination
  packages/backend/src/services/planning-data-service.ts
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  scripts/upload-planning-data.js
Due: backend, frontend

fix: planning data upload timestamp & deploy script PS5.1 compat
  deploy-ecs/deploy.ps1
  packages/backend/src/services/planning-data-service.ts
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
Due: backend, frontend

refactor: queue monitor UI overhaul, job form polish, coupon codes layout fix
  deploy-ecs/cfn/05-task-definitions.yml
  deploy-ecs/cfn/06-ecs-services.yml
  deploy-ecs/deploy.ps1
  packages/backend/src/services/jobs/coupon-generation-job.ts
  packages/backend/src/services/unknown-flag-service.ts
  packages/edge/src/services/metrics-aggregator.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/contexts/PlanningDataContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: backend, frontend

fix: remove borderRadius:0 overrides from ServerListPage, fix card view scroll
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix: add borderRadius to server cards and config bar, remove card minHeight
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix: unify server list view styles - square toggle buttons, clean card bgcolor, outlined list card
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix: queue monitor action column header, hide delete for scheduler jobs; server card style unification
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
Due: frontend

fix: alerts page outlined card, grafana/logs pages prevent self-embedding iframe
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/monitoring/AlertsPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
Due: frontend

fix: restore /grafana fallback for production builds (nginx proxy), only disable in dev
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
Due: frontend

fix: remove event lens sidebar, restrict queue job delete to completed/failed only
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
Due: frontend

fix: job form helperText, disabled submit, switch position, zh translations, backend getCurrentEnvironment
  packages/backend/src/controllers/job-controller.ts
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

fix: i18n job type schema, resizable drawer, env fix, findEnabled SQL, remove debug logs
  packages/backend/src/controllers/job-type-controller.ts
  packages/backend/src/models/job-type.ts
  packages/frontend/src/components/jobs/DynamicJobDataForm.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/services/jobService.ts
Due: backend, frontend

fix: fallback to default job types when DB table is empty
  packages/backend/src/controllers/job-type-controller.ts
Due: backend

fix: auto-seed job types into DB, fix findEnabled SQL bugs, fix db import
  packages/backend/src/controllers/job-type-controller.ts
  packages/backend/src/models/job-type.ts
Due: backend

fix: correct DB column name isActive->isEnabled in job-type model and seed
  packages/backend/src/controllers/job-type-controller.ts
  packages/backend/src/models/job-type.ts
Due: backend

fix: ULID string IDs, context menu, table style, form UX (name readonly, dirty state, filter localization)
  packages/backend/src/controllers/job-controller.ts
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/types/job.ts
Due: backend, frontend

feat: implement job execution endpoint (replaces 501 stub)
  packages/backend/src/controllers/job-controller.ts
Due: backend

fix: SQL unknown columns error and UI layout for Job History drawer
  packages/backend/src/models/job-execution.ts
  packages/frontend/src/components/common/ResizableDrawer.tsx
  packages/frontend/src/components/jobs/JobExecutionHistory.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: backend, frontend

fix: filter reload on config, pill-shaped edit container, loadFailed i18n, borderRadius cleanup
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: frontend

feat: make job name clickable to edit and add copy button
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: frontend

fix: remove non-existent g_schedules join from job execution queries
  packages/backend/src/models/job-execution.ts
Due: backend

fix: pass Date objects instead of ISO strings to knex for job execution timestamps
  packages/backend/src/controllers/job-controller.ts
  packages/backend/src/models/job-execution.ts
Due: backend

fix: remove non-existent columns (executionTimeMs) from job execution update and map error correctly
  packages/backend/src/models/job-execution.ts
Due: backend

fix: JSON.parse SyntaxError for job execution results
  packages/backend/src/models/job-execution.ts
Due: backend

fix: implement getJobExecutions, map result id for toast msg, set history close button to contained
  packages/backend/src/controllers/job-controller.ts
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/services/jobService.ts
Due: backend, frontend
