Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix grafna csrf issue
  packages/frontend/nginx.conf
  setup-env.ps1
  setup-env.sh
Due: none

fix: ensure client version meta field is always returned as object
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
Due: backend, frontend

feat: add Server Lifecycle page and various improvements
  archived/add_appversion_locale.js
  archived/add_serverlist_locales.js
  archived/backend-logs.txt
  archived/change_version_label.js
  archived/fix_all_locales.js
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/ServerLifecycleController.ts
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/database/migrations/066_create_server_lifecycle_events.js
  packages/backend/src/database/migrations/067_add_lifecycle_network_columns.js
  packages/backend/src/database/migrations/068_rename_serverversion_to_appversion.js
  packages/backend/src/index.ts
  packages/backend/src/models/ServerLifecycleEvent.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/serverLifecycle.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/lifecycleCleanupScheduler.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/backend/src/utils/ipValidation.ts
  packages/backend/src/utils/trafficSplitter.ts
  packages/chat-server/src/app.ts
  packages/edge/src/services/sdkManager.ts
  packages/event-lens/src/index.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/serverLifecycleService.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: backend, frontend

Update package.json
  packages/sdks/server-sdk/package.json
Due: none

feat: improve server lifecycle events display on dashboard
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: frontend

feat: show environment and instanceId columns by default in ServerLifecyclePage
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
Due: frontend

feat: enhance server lifecycle display with copy buttons and improved navigation
  packages/frontend/src/components/common/RelativeTime.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

feat: support version-keyed wildcard matching for clientVersionPassiveData
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/PlanningDataController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/utils/passiveDataUtils.ts
Due: backend

fix: resolve backend-dev runtime errors and clean up yarn install warnings
  package-lock.json
  package.json
  packages/backend/src/services/lifecycleCleanupScheduler.ts
  packages/chat-server/package.json
  packages/frontend/package.json
  packages/sdks/server-sdk/package.json
  yarn.lock
Due: backend

fix: resolve ClickHouse UNKNOWN_DATABASE error during event-lens migration
  packages/event-lens/scripts/migrate-clickhouse.js
Due: none

fix: add missing server list status localizations and standardize keys
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix: resolve service notices CSP and cache issues
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/edge/public/game-service-notices.html
  packages/edge/src/app.ts
Due: backend

fix: resolve chat-server redis-adapter type mismatch
  packages/chat-server/src/services/WebSocketService.ts
Due: none

Update en.json
  packages/frontend/src/locales/en.json
Due: frontend

fix: clipboard, service notices webview, rich text editor improvements
  docker-compose.lite.yml
  packages/edge/public/game-service-notices.html
  packages/edge/src/routes/public.ts
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/utils/clipboard.ts
Due: frontend

정돈
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/edge/public/game-service-notices.html
  packages/edge/src/app.ts
Due: backend

refactor: standardize error responses with error.code across backend
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/InternalApiTokensController.ts
  packages/backend/src/controllers/ServerLifecycleController.ts
  packages/backend/src/controllers/ServiceDiscoveryController.ts
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/routes/mails.ts
Due: backend

refactor: update EnvironmentController to use GatrixError with ErrorCodes
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/utils/apiResponse.ts
Due: backend

feat: add local development workflow with docker-compose-infra
  .env.local.example
  EASY_SETUP_KO.md
  docker-compose-infra.yml
  packages/backend/src/database/migrations/002_environments_and_extensions.js
Due: backend

feat: add yarn local scripts for faster development workflow
  .env.local.example
  EASY_SETUP_KO.md
  package.json
  yarn.lock
Due: none

refactor: unify dev scripts to auto-load .env.local
  EASY_SETUP_KO.md
  package.json
Due: none

feat: add yarn dev:all and update ports for local development
  .env.local.example
  EASY_SETUP_KO.md
  package.json
  packages/frontend/vite.config.ts
Due: none

fix: server SDK auth and local dev environment
  .env.local.example
  packages/backend/src/routes/server/index.ts
Due: backend

fix: dev:all waits for backend ready before starting other services
  EASY_SETUP_KO.md
  package.json
  yarn.lock
Due: none

fix: add environmentName field to environment list response for SDK
  packages/backend/src/controllers/ServerEnvironmentController.ts
Due: backend

Revert "fix: add environmentName field to environment list response for SDK"
  packages/backend/src/controllers/ServerEnvironmentController.ts
Due: backend

fix: SDK uses 'environment' field instead of 'environmentName'
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/services/EnvironmentService.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: none

fix: Environment selection and API header handling
  .agent/workflows/dev-turbo.md
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_environments_and_extensions.js
  packages/backend/src/routes/admin/environments.ts
  packages/chat-server/src/config/index.ts
  packages/event-lens/migrations/mysql/001_create_analytics_tables.sql
  packages/event-lens/src/config/index.ts
  packages/frontend/src/components/EnvironmentSelector.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/contexts/GameWorldContext.tsx
  packages/frontend/src/services/api.ts
Due: backend, frontend

fix: Remove incorrect await from database.getPool() in StoreProductService
  packages/backend/src/services/StoreProductService.ts
Due: backend

fix: Finalize environment selection and store product sync with proper migration and service logic
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/services/StoreProductService.ts
Due: backend

fix: planning data sync cache and productId change detection
  packages/backend/src/services/PlanningDataService.ts
  packages/backend/src/services/StoreProductService.ts
Due: backend

fix: ingame popup notice service response data extraction
  packages/frontend/src/services/ingamePopupNoticeService.ts
Due: frontend

fix: add missing seed data and isHidden for gatrix-env
  packages/backend/src/database/migrations/001_initial_schema.js
Due: backend

fix: stringFormat replaces all placeholder occurrences
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

fix: CashShop placeholder replacement for name and description
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

refactor: unify environment identifiers across codebase
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/models/JobType.ts
  packages/backend/src/services/jobs/CouponGenerationJob.ts
  packages/frontend/src/components/EnvironmentChangeOverlay.tsx
  packages/frontend/src/components/common/PermissionSelector.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/apiTokenService.ts
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

fix: tag color contrast and ServerLifecyclePage API response
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/components/EnvironmentChangeOverlay.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/serverLifecycleService.ts
  packages/frontend/src/utils/colorUtils.ts
Due: backend, frontend
