Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Draft system: global banner, unified dialog, batch draft, seed fixes
  packages/backend/src/database/seed.ts
  packages/backend/src/routes/admin/drafts.ts
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/draft-service.ts
  packages/frontend/src/components/common/DraftBanner.tsx
  packages/frontend/src/components/common/DraftChangesDialog.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/services/draftService.ts
Due: backend, frontend

Segment draft system: handler, UI integration, draft-based save/toggle
  packages/backend/src/routes/admin/drafts.ts
  packages/backend/src/services/draft-handlers/segment-draft-handler.ts
  packages/frontend/src/components/common/DraftChangesDialog.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
Due: backend, frontend

Segment create/delete draft, fix global draft cache invalidation
  packages/backend/src/routes/admin/drafts.ts
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/draft-handlers/segment-draft-handler.ts
  packages/frontend/src/components/common/DraftChangesDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: backend, frontend

feat: auto-resolve unknown flags on flag creation, add create flag menu to unknown flags page, disable exit animation flicker on Menu/Dialog/Popover close
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/services/feature-flag-service.ts
  packages/edge/src/utils/evaluation-helper.ts
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
Due: backend, frontend

feat: improve draft diff UI - grouped table layout, per-variant diff, strategy disabled state, auto discard, field ordering, localization
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/feature-flag-service.ts
  packages/frontend/src/components/common/ContentLoader.tsx
  packages/frontend/src/components/common/DraftBanner.tsx
  packages/frontend/src/components/common/DraftChangesDialog.tsx
  packages/frontend/src/components/common/DraftConfirmDialog.tsx
  packages/frontend/src/components/common/DraftDiffUtils.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
Due: backend, frontend

feat: playground evaluates with draft data instead of published only
  packages/backend/src/routes/admin/features/playground.ts
Due: backend

fix: playground field extraction not extracting segment constraint fields (segment.name -> segment.segmentName)
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

refactor: remove release flow from draft system, auto-activate first milestone on template apply, clean up strategies on plan delete
  .agents/workflows/safe-tooltip.md
  deploy/docker-stack.yml
  docker/nginx/nginx.swarm.conf
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/draft-service.ts
  packages/backend/src/services/release-flow-service.ts
  packages/frontend/src/components/common/DraftDiffUtils.tsx
  packages/frontend/src/components/common/SafeTooltip.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/components/features/StrategyCardReadonly.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
Due: backend, frontend

feat: add common export/import utilities and components
  deploy/docker-stack.yml
  packages/frontend/nginx.conf
  packages/frontend/src/components/common/ExportImportMenuItems.tsx
  packages/frontend/src/components/common/ImportDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/utils/exportImportUtils.ts
Due: frontend

feat: add export/import to GameWorlds, ServiceNotices, IngamePopupNotices pages
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/services/draft-service.ts
  packages/backend/src/services/release-flow-service.ts
  packages/frontend/src/components/common/DraftDiffUtils.tsx
  packages/frontend/src/components/common/ImportDialog.tsx
  packages/frontend/src/components/common/SafeTooltip.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/utils/exportImportUtils.ts
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/GatrixSettings.asset
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: backend, frontend

feat: add export/import to Surveys page
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

feat: add export/import to CouponSettings, MessageTemplates, BannerManagement pages
  archived/batch-add-export-import.js
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

feat: add export/import to ClientVersions, RewardTemplates, StoreProducts, WhitelistPage
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
Due: frontend

feat: add export/import to IpWhitelistTab, replace bulk import button with MoreVert menu
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
Due: frontend

fix: reduce gap between buttons and MoreVert menu on MessageTemplates, StoreProducts, RewardTemplates pages
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
Due: frontend

fix: reorder menu items (export/import below existing items) and add aria-label to MoreVert buttons
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

fix: reorder menu items - export/import below existing items, banner simplified, ClientVersions and ServiceNotices fixed
  packages/frontend/src/components/common/ExportImportMenuItems.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: frontend

fix: change Create to Add for ActionSets/SignalEndpoints labels, add form help texts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
Due: frontend

fix: remove unnecessary Paper wrapper around EmptyPagePlaceholder in JobsPage
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: frontend

refactor: unify JobsPage filter UI with DynamicFilterBar pattern (matching GameWorldsPage)
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: frontend

fix: display start/end date fields in single row for whitelist forms
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

fix: replace DateTimePicker with LocalizedDateTimePicker in whitelist forms (clear/reset support)
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

fix: whitelist forms - save to add/update buttons, move IP toggle to context menu
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

fix: IP whitelist update button only enabled when form data changed
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
Due: frontend

feat: click on account ID or IP address to open edit form
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

fix: IP whitelist isDirty not working from context menu edit (handleMenuClose was clearing selectedIpWhitelist)
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
Due: frontend

fix: unify IP whitelist context menu icons with Account whitelist pattern (BlockIcon/CheckCircleIcon)
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
Due: frontend

fix: dark mode alternating row color contrast - remove conflicting MuiTableBody hardcoded colors
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

fix: rename account whitelist add button to match IP whitelist pattern
  archived/hardcoded-row-colors.md
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: remove all hardcoded alternating row colors across pages - delegate to global theme
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/features/FeatureFlagAuditLogs.tsx
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
Due: frontend

fix: remove startIcon from all form action buttons (cancel/add/save) for clean UI
  archived/hardcoded-row-colors.md
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/admin/InvitationSuccess.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/admin/PlatformDefaultsDialog.tsx
  packages/frontend/src/components/chat/FileUpload.tsx
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/common/ImportDialog.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/RewardSelector.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/SequenceEditor.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/jobs/DynamicJobDataForm.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: frontend

refactor: convert action columns to context menus (segments, context fields, release templates)
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

fix: add actions column header text and fix RichTextEditor dark mode toolbar visibility
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

fix: message template form button text - add for new, update for edit
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: frontend

fix: reduce ConstraintDisplay min widths for single-line layout in narrow containers
  packages/frontend/src/components/features/ConstraintDisplay.tsx
Due: frontend

refactor: merge NOT chip into operator chip and move CIDR to end of string operators
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: group NOT/operator/case-sensitivity controls in ConstraintEditor with visual styling
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: align operator group height by reducing Select padding
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: add padding and visible border to operator group
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: fine-tune operator group height and styling
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
