Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

로그인/계정생성 UI 개선
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/routes/auth.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/BaiduOAuth.ts
  packages/backend/src/services/PasswordResetService.ts
  packages/backend/src/services/WeChatOAuth.ts
  packages/backend/src/types/passport-qq.d.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/ForgotPasswordPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/pages/auth/SignUpPromptPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/auth.ts
  test_password_reset_auth_type.js
Due: backend, frontend

Update AuthController.ts
  packages/backend/src/controllers/AuthController.ts
Due: backend

remote-config 추가 작업
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/controllers/RemoteConfigClientController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/database/migrations/002_remote_config_schema.js
  packages/backend/src/models/ConfigRule.ts
  packages/backend/src/models/RemoteConfig.ts
  packages/backend/src/routes/client.ts
  packages/backend/src/routes/notifications.ts
  packages/backend/src/routes/remoteConfig.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/backend/src/types/remoteConfig.ts
  packages/backend/src/utils/trafficSplitter.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/CodeEditor.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  yarn.lock
Due: backend, frontend

Update RemoteConfigPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
Due: frontend

remote-config 초기 작업 마무리(추가 개선해야함)
  packages/backend/run_migration.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/CampaignController.ts
  packages/backend/src/controllers/ContextFieldController.ts
  packages/backend/src/controllers/RemoteConfigClientController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/database/migrations/003_campaign_enhancements.js
  packages/backend/src/models/Campaign.ts
  packages/backend/src/models/RemoteConfig.ts
  packages/backend/src/models/Variant.ts
  packages/backend/src/routes/campaigns.ts
  packages/backend/src/routes/contextFields.ts
  packages/backend/src/routes/remoteConfig.ts
  packages/backend/src/services/CampaignEvaluationEngine.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/backend/src/types/contextFields.ts
  packages/backend/src/types/remoteConfig.ts
  packages/frontend/src/components/TargetConditionBuilder.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/services/contextFieldService.ts
Due: backend, frontend

remote-config ui 요소들 개선
  packages/frontend/src/components/TargetConditionBuilder.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
Due: frontend

remote-config ui 개선
  packages/backend/check_users_table.js
  packages/backend/migrations/20241212000000_create_context_fields.js
  packages/backend/migrations/20241212000001_add_updated_by_to_variants.js
  packages/backend/run_migration.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/ContextFieldController.ts
  packages/backend/src/controllers/ContextFieldControllerNew.ts
  packages/backend/src/controllers/RemoteConfigClientController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/index.ts
  packages/backend/src/models/ContextField.ts
  packages/backend/src/models/RemoteConfig.ts
  packages/backend/src/routes/contextFields.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/jobs/CampaignCheckJob.ts
  packages/backend/src/services/jobs/index.ts
  packages/backend/src/types/remoteConfig.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/services/api.ts
Due: backend, frontend

remote-config 관련 이슈들 수정
  packages/backend/data/game-mock-data.sql
  packages/backend/migrations/20241201_remove_job_schedule_fields.js
  packages/backend/migrations/20241203_fix_job_types_column.js
  packages/backend/migrations/20241212000000_create_context_fields.js
  packages/backend/migrations/20241212000001_add_updated_by_to_variants.js
  packages/backend/run_migration.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/ContextFieldControllerNew.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_add_maintenance_fields.js
  packages/backend/src/database/migrations/002_add_user_language_preference.js
  packages/backend/src/database/migrations/002_add_user_tags.js
  packages/backend/src/database/migrations/002_remote_config_schema.js
  packages/backend/src/database/migrations/003_campaign_enhancements.js
  packages/backend/src/database/migrations/007_add_auth_type_to_users.js
  packages/backend/src/database/migrations/008_add_used_column_to_password_reset_tokens.js
  packages/backend/src/database/migrations/009_add_updatedAt_column_to_password_reset_tokens.js
  packages/backend/src/database/migrations/010_add_variants_table.js
  packages/backend/src/database/migrations/011_add_campaign_traffic_percentage.js
  packages/backend/src/database/migrations/012_remove_variants_conditions.js
  packages/backend/src/models/Campaign.ts
  packages/backend/src/models/ContextField.ts
  packages/backend/src/models/RemoteConfig.ts
  packages/backend/src/models/Variant.ts
  packages/backend/src/routes/campaigns.ts
  packages/backend/src/routes/contextFields.ts
  packages/backend/src/routes/remoteConfig.ts
  packages/backend/src/services/CampaignEvaluationEngine.ts
  packages/backend/src/types/remoteConfig.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
Due: backend, frontend

버저닝 체계 변경 전 커밋
  check-rules-constraints.js
  packages/backend/src/controllers/RemoteConfigClientController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/010_add_variants_table.js
  packages/backend/src/database/migrations/011_add_campaign_traffic_percentage.js
  packages/backend/src/database/migrations/012_remove_variants_conditions.js
  packages/backend/src/models/ConfigRule.ts
  packages/backend/src/models/Segment.ts
  packages/backend/src/routes/remoteConfig.ts
  packages/backend/src/types/remoteConfig.ts
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/services/api.ts
Due: backend, frontend

Create .dockerignore.js
  packages/backend/.dockerignore.js
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

UI 관련 작업
  packages/backend/migrations/20250916_drop_old_token_table.sql
  packages/backend/migrations/20250916_remove_permissions_column.sql
  packages/backend/scripts/migrate-remove-permissions.js
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/routes/apiTokens.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

api tokens UI 개선
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/routes/apiTokens.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

api tokens 테이블에서 isActive 제거
  packages/backend/scripts/remove-isactive-column.js
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

api 토큰 일괄 삭제 기능 추가
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

토큰 관련한 UI 버그 수정 및 마무리
  packages/backend/scripts/check-table-structure.js
  packages/backend/scripts/seed-10k-tokens.js
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

UI 정리작업
  packages/backend/scripts/debug-insert.js
  packages/backend/scripts/seed-10k-tokens.js
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

UI 정돈
  packages/frontend/src/App.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

UI 정돈
  package-lock.json
  packages/frontend/package.json
  yarn.lock
Due: none

정리
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/database/migrations/002_add_maintenance_fields.js
  packages/backend/src/database/migrations/003_remote_config_v2_system.js
  packages/backend/src/database/migrations/004_remote_config_v2_seed_data.js
  packages/backend/src/database/migrations/005_remote_config_final_system.js
  packages/backend/src/database/migrations/006_remote_config_final_seed_data.js
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

UI 정돈
  package-lock.json
  packages/backend/src/routes/clientVersionRoutes.ts
  packages/frontend/package.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  yarn.lock
Due: backend, frontend

정돈
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/admin/InvitationStatusCard.tsx
  packages/frontend/src/components/admin/InvitationSuccess.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/services/invitationService.ts
  packages/frontend/src/types/invitation.ts
Due: frontend

UI 개선
  packages/baidu-svgrepo-com.svg
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/qq-fill-svgrepo-com.svg
  packages/wechat-o-svgrepo-com.svg
Due: frontend

데이터베이스에서 ISO8601 datetime string이 넘어왔을때 UTC로 표기되는 문제 수정
  create-test-token.js
  debug-single-call.js
  package-lock.json
  packages/backend/.env.example
  packages/backend/docs/API_TOKEN_USAGE_TRACKING.md
  packages/backend/migrations/20250917_rename_token_hash_to_token_value.sql
  packages/backend/package.json
  packages/backend/scripts/add-usage-count-column.js
  packages/backend/src/app.ts
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/services/ApiTokenUsageService.ts
  packages/backend/src/services/CacheService.ts
  packages/backend/src/utils/AppInstance.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
  packages/frontend/src/utils/dateFormat.ts
  test-api-calls.js
  test-token-validity.js
  yarn.lock
Due: backend, frontend

routes 정리
  packages/backend/src/controllers/RemoteConfigSDKController.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/routes/client/index.ts
  packages/backend/src/routes/server/index.ts
Due: backend

api 경로 잘못된것 수정
  packages/backend/src/routes/admin/jobs.ts
  packages/frontend/src/services/jobService.ts
Due: backend, frontend

api 토큰 리셋시 해싱된 값이 복사되는 문제 수정
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: backend, frontend

사이드 폼 나올때 드랍다운 리스트 안보이는 문제들 수정
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/admin/PlatformDefaultsDialog.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/services/ipWhitelistService.ts
  packages/frontend/src/services/platformDefaultsService.ts
Due: frontend

Update ko.json
  packages/frontend/src/locales/ko.json
Due: frontend

Update ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

remote config 페이지 좌우 여백 넓은것 다른페이지와 동일하게 변경(매우 어려운 문제였음)
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboardNew.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
Due: frontend

후반주 작업
  packages/chat-server/docker-compose.yml
  packages/chat-server/haproxy/haproxy.cfg
  packages/chat-server/prometheus/prometheus.yml
  packages/chat-server/scripts/deploy.sh
  packages/chat-server/src/app.ts
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/database/migrations/20241217000004_create_users.js
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/routes/channels.ts
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/messages.ts
  packages/chat-server/src/services/GatrixApiService.ts
  packages/chat-server/src/services/UserSyncService.ts
Due: none

채팅서버 빌드 오류 수정
  package-lock.json
  packages/chat-server/README.md
  packages/chat-server/package.json
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/MetricsService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/chat-server/src/types/chat.ts
  packages/chat-server/tsconfig.json
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  yarn.lock
Due: frontend

채팅 기본 작업 (채널생성됨)
  package-lock.json
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/scripts/create-server-token.js
  packages/backend/scripts/generate-token.js
  packages/backend/scripts/test-server-api.js
  packages/backend/scripts/test-user-sync.js
  packages/backend/src/controllers/ServerAuthController.ts
  packages/backend/src/controllers/ServerChatController.ts
  packages/backend/src/controllers/ServerFileController.ts
  packages/backend/src/controllers/ServerNotificationController.ts
  packages/backend/src/controllers/ServerUserController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/middleware/upload.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/server/index.ts
  packages/chat-server/.env.example
  packages/chat-server/package.json
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/config/logger.ts
  packages/chat-server/src/database/migrations/20241217000001_create_channels.js
  packages/chat-server/src/database/migrations/20241217000002_create_channel_members.js
  packages/chat-server/src/database/migrations/20241217000003_create_messages.js
  packages/chat-server/src/database/migrations/20241217000004_create_users.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/services/GatrixApiService.ts
  packages/chat-server/src/services/UserSyncService.ts
  packages/frontend/package.json
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/styles/chat.css
  yarn.lock
Due: backend, frontend

채팅 기본 기능 적용
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routes/chat/index.ts
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/database/migrations/20241217000005_create_message_attachments.js
  packages/chat-server/src/database/migrations/20241217000006_create_message_reactions.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/routes/channels.ts
  packages/chat-server/src/routes/index.ts
  packages/frontend/public/sounds/notification.mp3
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
  yarn.lock
Due: backend, frontend

기본 채팅 기능 동작하는 상태
  packages/chat-server/src/app.ts
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/MessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatWebSocketService.ts
Due: frontend

채팅 관련 UI 개선
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/types/chat.ts
  yarn.lock
Due: frontend
