Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

docs: fix Events table in CLIENT_SDK_SPEC.md - add missing header row for GitHub rendering
  packages/sdks/client-sdks/spec/CLIENT_SDK_SPEC.md
Due: none

feat: add gatrix-java-server-sdk (Kotlin) with evaluation engine, Redis Pub/Sub, and comprehensive unit tests
  packages/sdks/server-sdks/gatrix-java-server-sdk/.gitignore
  packages/sdks/server-sdks/gatrix-java-server-sdk/README.ko.md
  packages/sdks/server-sdks/gatrix-java-server-sdk/README.md
  packages/sdks/server-sdks/gatrix-java-server-sdk/build.gradle.kts
  packages/sdks/server-sdks/gatrix-java-server-sdk/gradle/wrapper/gradle-wrapper.jar
  packages/sdks/server-sdks/gatrix-java-server-sdk/gradle/wrapper/gradle-wrapper.properties
  packages/sdks/server-sdks/gatrix-java-server-sdk/gradlew
  packages/sdks/server-sdks/gatrix-java-server-sdk/gradlew.bat
  packages/sdks/server-sdks/gatrix-java-server-sdk/settings.gradle.kts
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/GatrixServerSdk.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/cache/FlagDefinitionCache.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/client/GatrixApiClient.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/config/GatrixSdkConfig.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/evaluation/FeatureFlagEvaluator.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/evaluation/MurmurHash3.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/events/EventListener.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/example/Example.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/models/Models.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/services/FeatureFlagService.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/test/kotlin/com/gatrix/server/sdk/evaluation/FeatureFlagEvaluatorTest.kt
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/test/kotlin/com/gatrix/server/sdk/evaluation/MurmurHash3Test.kt
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: none

fix: update GatrixSDKConfig usage - gatrixUrl to apiUrl, remove environment, features to uses
  packages/chat-server/src/app.ts
  packages/event-lens/src/index.ts
Due: none

adjustments
  packages/backend/src/config/index.d.ts
  packages/backend/src/config/index.d.ts.map
  packages/backend/src/config/index.js.map
  packages/sdks/client-sdks/gatrix-react-client-sdk/README.ko.md
  packages/sdks/client-sdks/gatrix-react-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useBoolVariation.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useGatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useJsonVariation.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useNumberVariation.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useStringVariation.ts
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/README.ko.md
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/src/stores/variations.ts
  packages/sdks/client-sdks/gatrix-vue-client-sdk/README.ko.md
  packages/sdks/client-sdks/gatrix-vue-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-vue-client-sdk/src/composables/useBoolVariation.ts
  packages/sdks/client-sdks/gatrix-vue-client-sdk/src/composables/useJsonVariation.ts
  packages/sdks/client-sdks/gatrix-vue-client-sdk/src/composables/useNumberVariation.ts
  packages/sdks/client-sdks/gatrix-vue-client-sdk/src/composables/useStringVariation.ts
Due: backend

feat: add gatrix-angular-client-sdk, update vue/svelte dashboard ConfigForm to match React
  packages/sdks/client-sdks/gatrix-angular-client-sdk/README.ko.md
  packages/sdks/client-sdks/gatrix-angular-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/.angular/cache/18.2.21/dashboard/.tsbuildinfo
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/.angular/cache/18.2.21/dashboard/angular-compiler.db-lock
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/angular.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/app.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/components/config-form.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/components/dashboard.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/components/flag-card.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/components/log-viewer.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/app/components/stats-panel.component.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/index.html
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/main.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-angular-client-sdk/ng-package.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/__tests__/gatrix-angular-sdk.spec.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/gatrix.module.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/gatrix.service.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/inject-functions.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/provide-gatrix.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/public-api.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/src/tokens.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/tsconfig.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/tsconfig.lib.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/tsconfig.spec.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/vitest.config.ts
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/examples/dashboard/src/components/ConfigForm.svelte
  packages/sdks/client-sdks/gatrix-vue-client-sdk/examples/dashboard/src/components/ConfigForm.vue
  yarn.lock
Due: none

feat: add Gatrix Go Server SDK - feature flags, game worlds, services, evaluator, events, cache, example, tests, README
  packages/sdks/server-sdks/gatrix-go-server-sdk/.gitignore
  packages/sdks/server-sdks/gatrix-go-server-sdk/README.ko.md
  packages/sdks/server-sdks/gatrix-go-server-sdk/README.md
  packages/sdks/server-sdks/gatrix-go-server-sdk/cache/cache_manager.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/client/api_client.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/config.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/evaluator/evaluator.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/evaluator/evaluator_test.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/events/event_emitter.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/events/event_listener.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/examples/console/main.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/gatrix.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/go.mod
  packages/sdks/server-sdks/gatrix-go-server-sdk/go.sum
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/base_service.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/feature_flag.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/game_world.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/impact_metrics.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/other_services.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/services/popup_notice.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/types/api.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/types/common.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/types/events.go
  packages/sdks/server-sdks/gatrix-go-server-sdk/types/feature_flags.go
Due: none

refactor: feature flag API two-overload pattern, evaluateInternal DRY refactor, environmentId spec clarification
  packages/backend/src/controllers/client-controller.ts
  packages/edge/src/config/env.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/services/environment-registry.ts
  packages/edge/src/services/metrics-aggregator.ts
  packages/edge/src/services/sdk-manager.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/edge/src/services/token-usage-tracker.ts
  packages/edge/src/utils/evaluation-helper.ts
  packages/evaluator/src/evaluation-utils.ts
  packages/evaluator/src/feature-flag-evaluator.ts
  packages/sdks/server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdk/src/client/api-client.ts
  packages/sdks/server-sdk/src/gatrix-server-sdk.ts
  packages/sdks/server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdk/src/services/metrics-server.ts
  packages/sdks/server-sdk/src/services/service-maintenance-service.ts
  packages/sdks/server-sdk/src/services/service-notice-service.ts
  packages/sdks/server-sdk/src/services/survey-service.ts
  packages/sdks/server-sdk/src/services/whitelist-service.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/sdk-metrics.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/feature-flag-test.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/maintenance-watcher-test.ts
  packages/sdks/server-sdk/test-servers/start-single-server.ts
  packages/sdks/server-sdk/tests/GatrixSDK.test.ts
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.ko.md
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
  packages/shared/src/features/types.ts
Due: backend

fix(js-client-sdk): duplicate polling in streaming and duplicate starting logs
  archived/git-push-temp.js
  archived/git-push-temp3.js
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/context-utils.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/errors.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/features-client.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/flag-proxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/gatrix-client.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/utils.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/validate-config.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/watch-flag-group.ts
Due: none

fix: unknown flags & network page show env displayName, add project/org columns, fix Edge->Backend auth for metrics proxy
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/routes/admin/service-discovery.ts
  packages/backend/src/services/unknown-flag-service.ts
  packages/edge/src/constants/headers.ts
  packages/edge/src/index.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/internal.ts
  packages/edge/src/services/flag-streaming-service.ts
  packages/edge/src/services/metrics-aggregator.ts
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/frontend/src/services/unknownFlagService.ts
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/GatrixClient.cs
Due: backend, frontend

chore: remove environment disabled warning from release flow tab - Remove envDisabledWarning alert from ReleaseFlowTab.tsx - Remove releaseFlow.envDisabledWarning from ko/en/zh locale files
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: remove HourglassEmpty icon from default LoadingIndicator, env disabled warning cleanup
  packages/frontend/src/components/LoadingIndicator.tsx
Due: frontend

fix: improve stickiness error message with hints, add Korean monospace font support to PlaygroundDialog and JsonEditor
  packages/evaluator/src/strategies/flexible-rollout-strategy.ts
  packages/frontend/src/components/common/JsonEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  yarn.lock
Due: frontend

fix: delegate strategy-specific logic to each strategy isEnabled() instead of generic rollout check. Updated SERVER_SDK_SPEC.
  archived/git-push-evaluator.js
  packages/evaluator/src/feature-flag-evaluator.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.ko.md
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
  yarn.lock
Due: frontend

refactor: strict flag.valueType validation in all variation methods, fix metrics tracking, optimize flag lookup
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/edge/Dockerfile
  packages/edge/Dockerfile.dev
  packages/evaluator/src/value-source.test.ts
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/GatrixSettings.asset
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/Scenes/SampleScene.unity
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
  packages/sdks/client-sdks/spec/CLIENT_SDK_SPEC.md
  packages/sdks/server-sdk/src/gatrix-server-sdk.ts
  packages/sdks/server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.ko.md
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: none

refactor: optimize strategy isEnabled, remove unnecessary object allocations, add JSDoc to shared types
  packages/evaluator/src/strategies/application-hostname-strategy.ts
  packages/evaluator/src/strategies/flexible-rollout-strategy.ts
  packages/evaluator/src/strategies/gradual-rollout-random-strategy.ts
  packages/evaluator/src/strategies/gradual-rollout-session-id-strategy.ts
  packages/evaluator/src/strategies/gradual-rollout-user-id-strategy.ts
  packages/evaluator/src/strategies/index.ts
  packages/evaluator/src/strategies/remote-address-strategy.ts
  packages/evaluator/src/strategies/strategies.test.ts
  packages/evaluator/src/strategies/user-with-id-strategy.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  packages/shared/src/features/types.ts
Due: none

feat: add cidr_match operator and fix gradual rollout random strategy
  packages/evaluator/src/feature-flag-evaluator.test.ts
  packages/evaluator/src/feature-flag-evaluator.ts
  packages/evaluator/src/strategies/remote-address-strategy.ts
  packages/evaluator/src/strategies/util.ts
  packages/frontend/src/components/common/OperatorIcon.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/SortableStrategyList.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Evaluation/FeatureFlagEvaluator.cs
  packages/sdks/server-sdks/gatrix-go-server-sdk/evaluator/evaluator.go
  packages/sdks/server-sdks/gatrix-java-server-sdk/src/main/kotlin/com/gatrix/server/sdk/evaluation/FeatureFlagEvaluator.kt
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
  packages/shared/src/features/types.ts
Due: frontend

feat: migrate from Yarn 1.x to Yarn Berry (v4.13.0) with workspace:* protocol
  .gitignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
  packages/backend/package.json
  packages/chat-server/package.json
  packages/edge/package.json
  packages/evaluator/package.json
  packages/event-lens/package.json
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  packages/sdks/client-sdks/gatrix-angular-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-react-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-unity-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-vue-client-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/yarn.lock
  packages/shared/package.json
  yarn.lock
Due: none

fix: expanded editor save button and segment toast messages
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
Due: frontend

chore: update localization, fix input validation, add stringUtils
  archived/find-keys.js
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/utils/stringUtils.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/.yarn/install-state.gz
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/.yarn/install-state.gz
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-react-client-sdk/yarn.lock
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/GatrixSettings.asset
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/Scenes/SampleScene.unity
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: frontend

feat: add stickiness field support for context fields
  archived/find-keys.js
  packages/backend/scripts/seed-context-fields.ts
  packages/backend/src/database/seed.ts
  packages/backend/src/models/FeatureFlag/feature-context-field-model.ts
  packages/backend/src/models/FeatureFlag/types.ts
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: backend, frontend

refactor(sdk): enforce getter-only access pattern, make environmentId optional
  packages/backend/src/index.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/services/sdk-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/README.ko.md
  packages/sdks/server-sdks/gatrix-node-server-sdk/README.md
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/gatrix-server-sdk.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/index.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/banner-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/base-environment-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/client-version-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/coupon-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/game-world-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/popup-notice-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-discovery-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-maintenance-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-notice-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/store-product-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/survey-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/vars-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/whitelist-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/world-maintenance-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/authd.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/chatd.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/lobbyd.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/maintenance-watcher-test.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/worldd.ts
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.ko.md
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: backend

feat(sdk): add validateAll parameter validation, update environmentId JSDoc, remove setTimeout delays
  packages/sdks/client-sdks/spec/CLIENT_SDK_SPEC.md
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/banner-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/client-version-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/coupon-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/game-world-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/popup-notice-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-maintenance-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-notice-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/store-product-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/survey-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/vars-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/whitelist-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/world-maintenance-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/utils/validation.ts
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: none

fix: correct argument order for surveyService.listByEnvironment in fetchDataForEnvironments
  archived/add-client-validation.js
  archived/fix-client-sdk-deps.js
  packages/sdks/client-sdks/gatrix-angular-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-angular-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/errors.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/features-client.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/validate-params.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-vue-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-vue-client-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/utils/validation.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/validation/index.ts
  yarn.lock
Due: none

feat: add edge-rust - Rust-based Gatrix Edge Server
  packages/edge-rust/.gitignore
  packages/edge-rust/Cargo.lock
  packages/edge-rust/Cargo.toml
  packages/edge-rust/Dockerfile
  packages/edge-rust/Dockerfile.dev
  packages/edge-rust/README.ko.md
  packages/edge-rust/README.md
  packages/edge-rust/src/app_state.rs
  packages/edge-rust/src/config.rs
  packages/edge-rust/src/main.rs
  packages/edge-rust/src/middleware/client_auth.rs
  packages/edge-rust/src/middleware/mod.rs
  packages/edge-rust/src/middleware/server_auth.rs
  packages/edge-rust/src/routes/client.rs
  packages/edge-rust/src/routes/health.rs
  packages/edge-rust/src/routes/internal.rs
  packages/edge-rust/src/routes/mod.rs
  packages/edge-rust/src/routes/server.rs
  packages/edge-rust/src/services/environment_registry.rs
  packages/edge-rust/src/services/mod.rs
  packages/edge-rust/src/services/token_mirror.rs
Due: none

feat: add gatrix-rust-server-sdk and update SDK specs
  packages/sdks/client-sdks/spec/CLIENT_SDK_SPEC.md
  packages/sdks/server-sdks/gatrix-rust-server-sdk/Cargo.lock
  packages/sdks/server-sdks/gatrix-rust-server-sdk/Cargo.toml
  packages/sdks/server-sdks/gatrix-rust-server-sdk/README.ko.md
  packages/sdks/server-sdks/gatrix-rust-server-sdk/README.md
  packages/sdks/server-sdks/gatrix-rust-server-sdk/examples/basic.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/cache/cache_manager.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/cache/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/client/api_client.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/client/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/config.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/error.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/evaluator/evaluator.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/evaluator/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/events/event_emitter.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/events/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/lib.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/services/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/types/api.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/types/events.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/types/feature_flags.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/types/mod.rs
  packages/sdks/server-sdks/gatrix-rust-server-sdk/target/.rustc_info.json
  packages/sdks/server-sdks/gatrix-rust-server-sdk/target/CACHEDIR.TAG
  packages/sdks/server-sdks/gatrix-rust-server-sdk/tests/integration_tests.rs
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: none

docs: add license section to edge-rust READMEs
  packages/edge-rust/README.ko.md
  packages/edge-rust/README.md
Due: none

fix: change default GATRIX_URL port from 5000 to 45000
  packages/edge-rust/README.ko.md
  packages/edge-rust/README.md
  packages/edge-rust/src/config.rs
Due: none

feat: add security middleware and EDGE_SPEC.md
  packages/edge-rust/spec/EDGE_SPEC.md
  packages/edge-rust/src/config.rs
  packages/edge-rust/src/main.rs
  packages/edge-rust/src/middleware/etag.rs
  packages/edge-rust/src/middleware/ip_filter.rs
  packages/edge-rust/src/middleware/mod.rs
  packages/edge-rust/src/middleware/rate_limit.rs
Due: none

feat: apply EDGE_SPEC features to Node.js edge server
  packages/edge-rust/spec/EDGE_SPEC.md
  packages/edge/lint_output.txt
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/middleware/etag.ts
  packages/edge/src/middleware/ip-filter.ts
  packages/edge/src/middleware/rate-limiter.ts
  packages/edge/src/services/flag-streaming-service.ts
Due: none

feat: add configurable CORS origin to Rust edge
  packages/edge-rust/src/config.rs
  packages/edge-rust/src/main.rs
Due: none

fix: backend rate limiter triple-application and low prod limits
  packages/backend/src/app.ts
  packages/backend/src/middleware/rate-limiter.ts
Due: backend

feat: account lockout after failed login attempts & OWASP A07 fix
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/admin-controller.ts
  packages/backend/src/models/user.ts
  packages/backend/src/routes/admin/admin.ts
  packages/backend/src/scripts/unlock-user.ts
  packages/backend/src/services/auth-service.ts
  packages/backend/src/services/password-reset-service.ts
  packages/backend/src/types/user.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/services/users.ts
  packages/shared/src/errors/index.ts
Due: backend, frontend

Update gatrix-server-sdk.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/gatrix-server-sdk.ts
Due: none

feat(ai-chat): add dynamic model listing, custom API URL, error localization, markdown tables, project context
  packages/backend/src/controllers/ai-chat-controller.ts
  packages/backend/src/routes/admin/ai-chat.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/backend/src/services/ai/ai-model-service.ts
  packages/backend/src/services/ai/ai-settings-service.ts
  packages/backend/src/services/ai/ai-tools.ts
  packages/backend/src/services/ai/llm-provider.ts
  packages/backend/src/services/ai/llm-types.ts
  packages/backend/src/services/ai/providers/claude-provider.ts
  packages/backend/src/services/ai/providers/gemini-provider.ts
  packages/backend/src/services/ai/providers/openai-provider.ts
  packages/frontend/package.json
  packages/frontend/src/components/ai/AIChatPanel.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useAIChat.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/services/aiChatService.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/gatrix-server-sdk.ts
  yarn.lock
Due: backend, frontend

feat: integrate draft system for all environment-affecting settings
  packages/backend/src/controllers/ai-chat-controller.ts
  packages/backend/src/models/FeatureFlag/types.ts
  packages/backend/src/routes/admin/drafts.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/ai/ai-model-service.ts
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/draft-service.ts
  packages/backend/src/utils/json-utils.ts
  packages/frontend/src/components/ai/AIChatPanel.tsx
  packages/frontend/src/components/common/DraftBanner.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useAIChat.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/services/draftService.ts
Due: backend, frontend

fix: move draft banner to header right, expand env sections by default, show flagName in title, 5min threshold for relative time
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

style: improve DraftBanner design with rounded corners and compact layout
  packages/frontend/src/components/common/DraftBanner.tsx
Due: frontend
