Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

chore: update frontend pages
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

fix: migration runner seed logic and page size persistence
  packages/backend/src/database/migration.ts
  packages/frontend/src/hooks/usePageState.ts
Due: backend, frontend

UI: 테이블 컴팩트화, 적용기간 컬럼 분리, PageHeader 비주얼 개선
  packages/frontend/src/components/common/PageHeader.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
Due: frontend

UI: Improve feature flag details layout, tooltip logic, and segmented tab stability
  packages/frontend/src/components/common/OverflowTooltip.tsx
  packages/frontend/src/components/common/SegmentedTabs.tsx
  packages/frontend/src/components/common/SimplePagination.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/FeatureFlagCodeReferences.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: frontend

feat(ui): Standardize page headers and update feature flag views
  packages/frontend/src/components/common/DateRangePicker.tsx
  packages/frontend/src/components/common/PageHeaderContextMenu.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
Due: frontend

feat(argus): scaffold Phase 1 — API/Worker split, ClickHouse/MySQL schemas, Redis Streams ingestion
  packages/argus/Dockerfile.api
  packages/argus/Dockerfile.worker
  packages/argus/migrations/clickhouse/001_create_errors_table.sql
  packages/argus/migrations/clickhouse/002_create_transactions_table.sql
  packages/argus/migrations/clickhouse/003_create_spans_table.sql
  packages/argus/migrations/clickhouse/004_create_sessions_table.sql
  packages/argus/migrations/clickhouse/005_create_user_feedback_table.sql
  packages/argus/migrations/clickhouse/006_create_metrics_table.sql
  packages/argus/migrations/clickhouse/007_create_materialized_views.sql
  packages/argus/migrations/mysql/001_create_argus_tables.sql
  packages/argus/package.json
  packages/argus/scripts/migrate-clickhouse.js
  packages/argus/scripts/migrate-mysql.js
  packages/argus/src/api.ts
  packages/argus/src/app.ts
  packages/argus/src/config/clickhouse.ts
  packages/argus/src/config/index.ts
  packages/argus/src/config/minio.ts
  packages/argus/src/config/mysql.ts
  packages/argus/src/config/redis.ts
  packages/argus/src/middleware/dsn-auth.ts
  packages/argus/src/processing/fingerprinter.ts
  packages/argus/src/processing/issue-grouper.ts
  packages/argus/src/processing/normalizer.ts
  packages/argus/src/routes/ingest.ts
  packages/argus/src/routes/issues.ts
  packages/argus/src/types/events.ts
  packages/argus/src/types/issues.ts
  packages/argus/src/utils/logger.ts
  packages/argus/src/worker.ts
  packages/argus/src/workers/error-worker.ts
  packages/argus/tsconfig.json
  yarn.lock
Due: none

feat(argus): add Transaction/Session workers, Projects API, transaction normalizer
  packages/argus/src/app.ts
  packages/argus/src/processing/transaction-normalizer.ts
  packages/argus/src/routes/projects.ts
  packages/argus/src/worker.ts
  packages/argus/src/workers/session-worker.ts
  packages/argus/src/workers/transaction-worker.ts
Due: none

feat(argus): add Feedback/Metric workers — all 5 event types now fully processed
  packages/argus/src/worker.ts
  packages/argus/src/workers/feedback-worker.ts
  packages/argus/src/workers/metric-worker.ts
Due: none

feat(frontend): add Argus error tracking UI — issues list + detail pages
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/services/argusService.ts
  packages/frontend/vite.config.ts
Due: frontend

feat(argus): Phase 1 - Overview Dashboard with full i18n (ko/en/zh)
  packages/argus/src/app.ts
  packages/argus/src/routes/overview.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

refactor(argus): replace manual Skeleton with PageContentLoader pattern on all 3 pages
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
Due: frontend

feat(argus): Phase 2 - Performance Page with transaction list, detail, i18n (ko/en/zh)
  packages/argus/src/app.ts
  packages/argus/src/routes/performance.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): Phase 3 - Project Settings Page with DSN management, sampling, quotas, i18n
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusSettingsPage.tsx
Due: frontend

feat(argus): Phase 4 - Session Health Page with crash-free trend, release breakdown, i18n
  packages/argus/src/app.ts
  packages/argus/src/routes/sessions.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): Phase 5+6 - User Feedback + Releases Pages with backend APIs, i18n
  packages/argus/src/app.ts
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/releases.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): Phase 7 - Issues page i18n retrofit + add missing common.title key (ko/en/zh)
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
Due: frontend

infra: add MinIO to docker-compose-infra.yml for Argus object storage
  docker-compose-infra.yml
Due: none

feat(argus): add dev:argus:api and dev:argus:worker to root dev script
  package.json
Due: none

fix(argus): remove PORT env fallback to prevent conflict with backend (use ARGUS_API_PORT only)
  packages/argus/src/config/index.ts
Due: none

fix(argus): use dedicated axios instance without /api/v1 prefix to route through Vite proxy correctly
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): align all route queries with actual ClickHouse schema and fix frontend URL path order
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/overview.ts
  packages/argus/src/routes/performance.ts
  packages/argus/src/routes/sessions.ts
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): resolve ClickHouse data ingestion failures and enhance issue detail
  packages/argus/migrations/clickhouse/007_create_materialized_views.sql
  packages/argus/scripts/simulate-events.mjs
  packages/argus/src/config/clickhouse.ts
  packages/argus/src/routes/issues.ts
  packages/frontend/src/pages/argus/ArgusSettingsPage.tsx
Due: frontend

feat(argus): realistic game server simulator v2 + fix feedback field mapping
  packages/argus/scripts/simulate-events.mjs
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): fix span query - spans table has no 'transaction' column
  packages/argus/src/routes/performance.ts
Due: none

feat(argus): Phase 1 UI/UX overhaul — Sentry-grade Overview + Issues
  packages/frontend/src/components/argus/ArgusSparkline.tsx
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
Due: frontend

feat(argus): complete UI/UX overhaul — Sentry-grade monitoring dashboard
  packages/argus/scripts/simulate-events.ts
  packages/argus/src/routes/performance.ts
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): settings redesign + visual polish batch
  packages/argus/src/routes/sessions.ts
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusSettingsPage.tsx
Due: frontend

fix(argus): tooltip placement + syntax highlighting in SDK code blocks
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusSettingsPage.tsx
Due: frontend

feat(argus): implement trace waterfall and enhance performance ui
  packages/argus/scripts/simulate-events.ts
  packages/argus/scripts/truncate-db.js
  packages/frontend/src/components/argus/TraceWaterfall.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/pages/argus/ArgusSettingsPage.tsx
  packages/frontend/src/utils/chartPlugins.ts
Due: frontend

fix: resolve duplicate React key warnings in Argus pages
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
Due: frontend

fix: resolve all remaining duplicate React key warnings in Argus pages
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
Due: frontend

fix: remove nonexistent import and fix duplicate formatRelative in ArgusIssueDetailPage
  packages/frontend/src/pages/argus/ArgusIssueDetailPage.tsx
Due: frontend

feat(argus): enhance overview page with heatmap, distributions, and change indicators
  packages/argus/src/routes/overview.ts
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): enhance all pages to Sentry-level quality
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/releases.ts
  packages/argus/src/routes/sessions.ts
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): extract browser/OS from user_agent in sessions queries
  packages/argus/src/routes/sessions.ts
Due: none

feat(argus): add Sentry-style date range picker + overview-to-issues filter navigation
  packages/argus/src/routes/issues.ts
  packages/frontend/src/components/argus/ArgusDateRangePicker.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

feat(argus): unified Sentry-style ArgusFilterBar across all pages
  packages/argus/src/routes/overview.ts
  packages/frontend/src/components/argus/ArgusFilterBar.tsx
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/pages/argus/ArgusOverviewPage.tsx
  packages/frontend/src/pages/argus/ArgusPerformancePage.tsx
  packages/frontend/src/pages/argus/ArgusReleasesPage.tsx
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): clean donut chart segments - remove spacing/borderRadius artifacts
  packages/frontend/src/pages/argus/ArgusSessionHealthPage.tsx
Due: frontend

fix(argus): heatmap click now sets custom date range on Issues page
  packages/argus/src/routes/issues.ts
  packages/frontend/src/pages/argus/ArgusIssuesPage.tsx
  packages/frontend/src/services/argusService.ts
Due: frontend

fix(argus): resolve issue_ids from ClickHouse events for time range filter
  packages/argus/src/routes/issues.ts
Due: none
