Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

문서 업데이트
  README.md
  packages/backend/src/routes/server/serviceDiscovery.ts
Due: backend

코드정돈
  .env.backup.20251112_171454
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/sdks/server-sdk/src/services/WhitelistService.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend

화이트리스트 이벤트 발생시 오류 수정
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/WhitelistService.ts
Due: backend

모니터링 메뉴 추가
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

그라파나 임베딩 처리
  EASY_SETUP.md
  docker-compose.dev.yml
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
Due: frontend

그라파나에 테마적용
  .env
  EASY_SETUP.md
  docker-compose.dev.yml
  docker-compose.yml
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  setup-env.ps1
  setup-env.sh
Due: frontend

계정 화이트리스트 활성/비활성화 추가
  docker-compose.dev.yml
  packages/backend/src/controllers/WhitelistController.ts
  packages/backend/src/routes/admin/whitelist.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/couponService.ts
  packages/frontend/src/services/whitelistService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

채팅서버에 연결이 안되는 문제 해결
  docker-compose.dev.yml
  packages/backend/.env.example
  packages/backend/src/config/index.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/chat-server/.env.example
  packages/chat-server/Dockerfile.dev
  packages/chat-server/knexfile.js
  packages/chat-server/nodemon.json
  packages/chat-server/src/app.ts
  packages/chat-server/src/database/migrations/20251113_add_fields_to_chat_users.js
  packages/chat-server/src/database/migrations/20251113_add_name_to_chat_users.js
  packages/chat-server/src/database/migrations/20251113_update_chat_channel_invitations_schema.js
  packages/chat-server/src/database/migrations/20251113_update_chat_channel_members_add_fields.js
  packages/chat-server/src/database/migrations/20251113_update_chat_channels_add_columns.js
  packages/chat-server/src/index.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/routes/users.ts
  packages/chat-server/src/services/MetricsService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/locales/ko.json
Due: backend, frontend

채팅 관련 오류들 수정
  packages/chat-server/src/database/migrations/20251113_add_owner_to_chat_channels.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/services/UserService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

채팅 관련 버그수정
  packages/backend/src/routes/chat/index.ts
  packages/chat-server/src/database/migrations/20251113_update_chat_messages_and_attachments.js
  packages/chat-server/src/models/Message.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/types/chat.ts
Due: backend, frontend

Update MessageController.ts
  packages/chat-server/src/controllers/MessageController.ts
Due: none

Update ChatContext.tsx
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

Update ChatPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채팅 UI 개선
  packages/chat-server/src/database/migrations/20251113_add_lastReadMessageId_to_chat_channel_members.js
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

bull dashboard 로컬아닌곳에서 안나오는 문제 수정
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  setup-env.ps1
  setup-env.sh
Due: frontend

sdk 처리 보완
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/metrics.ts
  packages/sdks/server-sdk/src/utils/sdkMetrics.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: none

Update ApiClient.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
Due: none

Update sdkMetrics.ts
  packages/sdks/server-sdk/src/utils/sdkMetrics.ts
Due: none

Update GatrixServerSDK.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
Due: none

Update index.ts
  packages/sdks/server-sdk/src/index.ts
Due: none

sdk 메트릭 추가
  archived/metrics-final.txt
  docker/grafana/dashboards/gatrix-sdk-metrics.json
Due: none

그라파나 개선
  docker/grafana/dashboards/gatrix-overview.json
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
Due: frontend

그라파나를 통한 서비스로그,알람기능 추가
  .env
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-logs.json
  docker/grafana/provisioning/datasources/datasource.yml
  docker/loki/local-config.yaml
  packages/backend/src/config/logger.ts
  packages/backend/src/controllers/MonitoringAlertController.ts
  packages/backend/src/database/migrations/040_create_monitoring_alerts_table.js
  packages/backend/src/models/MonitoringAlert.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/monitoringAlerts.ts
  packages/backend/src/routes/index.ts
  packages/chat-server/src/config/logger.ts
  packages/event-lens/src/utils/logger.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/monitoring/AlertsPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
Due: backend, frontend

chat-server, event-lens heartbeat 실패하는 문제 수정
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-logs.json
  packages/backend/src/config/logger.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/requestLogger.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/logger.ts
  packages/chat-server/src/middleware/requestLogger.ts
  packages/event-lens/scripts/migrate-clickhouse.js
  packages/event-lens/src/index.ts
  packages/event-lens/src/utils/logger.ts
Due: backend

불필요한 파일 로그 저장 코드 제거
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-logs.json
  packages/backend/src/config/logger.ts
  packages/chat-server/src/config/logger.ts
  packages/event-lens/src/utils/logger.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend

도커 패키지 오류 수정
  package-lock.json
  packages/frontend/Dockerfile.dev
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  yarn.lock
Due: none

점검상태처리개선
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/models/ServiceMaintenance.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/ServiceMaintenanceScheduler.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend, frontend

점검상태 정리
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/services/GameWorldService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/services/maintenanceService.ts
  packages/frontend/src/utils/maintenanceStatusUtils.ts
Due: backend, frontend

예약점검중일때 플래그처리 오류들 수정
  packages/backend/src/controllers/MaintenanceController.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: backend, frontend

초기화시 프로토콜 지정가능하게
  packages/backend/src/controllers/MaintenanceController.ts
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/services/maintenanceService.ts
  packages/frontend/src/utils/maintenanceStatusUtils.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  setup-env.ps1
  setup-env.sh
Due: backend, frontend

문서화
  .env.example
  EASY_SETUP.md
  EASY_SETUP_KO.md
  docker-compose.yml
  setup-env.ps1
  setup-env.sh
Due: none

Create EASY_SETUP_ZH.md
  EASY_SETUP_ZH.md
Due: none

정돈
  .env
  docker-compose.dev.yml
  docker-compose.yml
  docker/mysql/exporter/.my.cnf
  packages/frontend/src/services/api.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
