Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

초고속 최적화 진행
  packages/backend/COUPON_PAGINATION_OPTIMIZATION.md
  packages/backend/scripts/check-coupon-indexes.sql
  packages/backend/scripts/recalculate-coupon-cache.js
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/015_optimize_coupon_pagination.js
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/couponService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

보상아이템템플릿 관리 기능 추가
  docker-compose.dev.yml
  packages/backend/src/controllers/RewardTemplateController.ts
  packages/backend/src/database/migrations/008_create_reward_templates.js
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/rewardTemplates.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/rewardTemplateService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

보상아이템관리기능추가
  packages/backend/src/controllers/RewardTemplateController.ts
  packages/backend/src/database/migrations/013_fix_tag_assignments_entity_id.js
  packages/backend/src/models/TagAssignment.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/TagService.ts
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/services/rewardTemplateService.ts
Due: backend, frontend

보상아이템플릿기능 추가
  packages/backend/src/database/migrations/016_add_reward_template_id_to_surveys.js
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/components/game/RewardSelector.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/surveyService.ts
Due: backend, frontend

보상아이템템플릿관련 오류수정
  docker-compose.dev.yml
  packages/backend/src/database/migrations/016_add_reward_template_id_to_surveys.js
  packages/backend/src/database/migrations/016_fix_reward_templates_schema.js
  packages/backend/src/database/migrations/017_remove_old_reward_template_columns.js
  packages/frontend/src/components/game/RewardSelector.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: backend, frontend

보상아이템템플릿잘못 설정되는 문제 수정
  packages/backend/src/services/RewardTemplateService.ts
  packages/frontend/Dockerfile.dev
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: backend, frontend

쿠폰 사용 api 정돈
  coupon_system_design.md
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/018_add_coupon_reward_email_fields.js
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/services/couponService.ts
Due: backend, frontend

SDK 연동 가이드 추가
  coupon_system_design.md
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/CouponRedeemController.ts
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/019_add_coupon_code_pattern.js
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/routes/coupons.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/jobs/CouponGenerationJob.ts
  packages/backend/src/utils/couponCodeGenerator.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/services/couponService.ts
  packages/frontend/src/utils/couponCodeGenerator.ts
Due: backend, frontend

SDK 연동 가이드 문서 수정
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

SDK 연동 테스트 기능 추가
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

API 테스트 개선
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/zh.json
Due: frontend

쿠폰 사용관련 수정 사항 반영
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/CouponRedeemController.ts
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/database/migrations/020_add_coupon_character_limit.js
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/admin/clientVersionRoutes.ts
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/services/CacheService.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/PubSubService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/services/couponService.ts
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

채널, 서브채널 추가
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

API test 폼 개선
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
Due: frontend

사이트 베이스 주소 설정 가이드 작성
  packages/frontend/.env.example
  packages/frontend/docker-entrypoint.sh
  packages/frontend/public/service-notices-simple.html
  packages/frontend/public/service-notices-standalone.html
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
Due: frontend

사이드바 메뉴 구조 개편(확장이 용이한 구조로 개선)
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

Update MainLayout.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

사이드바 메뉴 정리
  packages/backend/scripts/test-service-discovery.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
Due: backend, frontend

open api 추가
  package-lock.json
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/frontend/gameWorlds-korean.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/OpenApiPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/frontend/vite.config.ts
  yarn.lock
Due: backend, frontend

Update OpenApiPage.tsx
  packages/frontend/src/pages/admin/OpenApiPage.tsx
Due: frontend

게임월드 순서가 반대로 되는 문제 수정
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/routes/server/index.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/OpenApiPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
Due: backend, frontend

게임월드 순서 잘못되는 부분 수정
  packages/backend/src/services/GameWorldService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

자잘한 오류 수정
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/utils/maintenanceUtils.ts
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: backend, frontend

쿠폰사용기록 내보내기 버그 수정
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/012_create_coupon_system.js
  packages/backend/src/database/migrations/021_make_coupon_startsAt_nullable.js
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/utils/dateUtils.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/services/couponService.ts
Due: backend, frontend

플랫폼, 채널, 서브채널 동적으로 관리할수 있도록 kv에 빼줌
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/database/migrations/011_add_kv_support_to_vars.js
  packages/backend/src/database/migrations/022_add_platforms_and_channels_kv.js
  packages/backend/src/database/migrations/023_add_copyable_flag_and_rename_kv_keys.js
  packages/backend/src/database/migrations/024_remove_market_types_kv.js
  packages/backend/src/models/Vars.ts
  packages/backend/src/utils/systemKV.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/PlatformDefaultsDialog.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/constants/platforms.ts
  packages/frontend/src/contexts/PlatformConfigContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/services/varsService.ts
  packages/frontend/src/types/platformConfig.ts
Due: backend, frontend

Update ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: frontend

마무리
  packages/backend/src/controllers/ClientController.ts
  packages/frontend/src/components/common/ArrayEditor.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
Due: backend, frontend

Update CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

큐 모니터링 제대로 안되는 문제 수정
  packages/backend/scripts/test-service-discovery.ts
  packages/backend/src/app.ts
  packages/backend/src/config/bullboard.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/WhitelistOverview.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/EventLensProjectsPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/vite.config.ts
Due: backend, frontend

대상선택기 개선중
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/RewardSelector.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/contexts/GameWorldContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

대상 선택 컨트롤 다듬기
  packages/frontend/src/components/game/TargetSelector.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

대상 선택 컨트롤 완성도 올리기
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

대상필터링이슈 수정
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/009_add_survey_channel_targeting.js
  packages/backend/src/database/migrations/021_add_coupon_inverted_targeting.js
  packages/backend/src/database/migrations/025_add_coupon_user_targeting.js
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/services/couponService.ts
  packages/frontend/src/services/surveyService.ts
Due: backend, frontend

정돈
  packages/backend/src/config/swagger.ts
  packages/backend/src/routes/admin/gameWorlds.ts
  packages/backend/src/routes/admin/users.ts
  packages/backend/src/routes/auth/auth.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/routes/users.ts
Due: backend

중간커밋
  packages/backend/run-migration-026.js
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/database/migrations/026_add_ingame_popup_notice_targeting.js
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/services/ingamePopupNoticeService.ts
Due: backend, frontend

타겟팅 버그 수정
  packages/backend/run-migration-026.js
  packages/backend/src/database/migrations/027_add_channel_to_coupon_target_subchannels.js
  packages/backend/src/database/migrations/028_update_surveys_targeting_fields.js
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/IngamePopupNoticeGuideDrawer.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/surveyService.ts
Due: backend, frontend

인게임팝업공지 시간 범위 체크 오류 수정
  packages/backend/migrations/20251031_make_ingame_popup_notices_startdate_nullable.sql
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/database/migrations/029_make_ingame_popup_notices_startdate_nullable.js
  packages/backend/src/services/CampaignEvaluationEngine.ts
  packages/backend/src/services/ConsoleService.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/services/ingamePopupNoticeService.ts
Due: backend, frontend

서비스 공지 startDate 옵셔널로 처리
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/030_make_service_notices_startdate_nullable.js
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
Due: backend, frontend

마이그레이션 누락분 수정
  packages/backend/src/database/migrations/034_add_reward_template_id_to_surveys.js
  packages/frontend/src/pages/game/PlanningDataPage.tsx
Due: backend, frontend
