Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(coupon): support SPECIAL coupon redemption
  packages/backend/src/services/CouponRedeemService.ts
Due: backend

Refine Change Request UI and logic: fix timeline connectors, localize execution errors, and fix rollback ActionGroups
  packages/backend/src/controllers/ChangeRequestController.ts
  packages/backend/src/database/migrations/003_add_file_diffs_column.js
  packages/backend/src/database/migrations/011_cr_system_redesign.js
  packages/backend/src/models/ActionGroup.ts
  packages/backend/src/models/ChangeItem.ts
  packages/backend/src/models/ChangeRequest.ts
  packages/backend/src/models/EntityLock.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/models/OutboxEvent.ts
  packages/backend/src/routes/admin/changeRequests.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/backend/src/services/LockService.ts
  packages/backend/src/services/OutboxService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/outboxScheduler.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/errors_part.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
  packages/frontend/src/services/gameWorldService.ts
  packages/frontend/src/utils/changeRequestFormatter.ts
Due: backend, frontend

Fix rollback: update ChangeItem targetId after CREATE execution, improve ops display
  packages/backend/archived/reset_cr_data.ts
  packages/backend/reset_db_simple.js
  packages/backend/src/services/ChangeRequestService.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/locales/errors_part.json
  packages/shared/src/errors/index.ts
Due: backend, frontend

feat(cr): Add conflict status, improve CR UI and localization
  .env.example
  packages/backend/src/controllers/ChangeRequestController.ts
  packages/backend/src/database/migrations/012_ops_based_changes.js
  packages/backend/src/database/migrations/013_add_conflict_status.js
  packages/backend/src/models/ChangeItem.ts
  packages/backend/src/models/ChangeRequest.ts
  packages/backend/src/routes/admin/changeRequests.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/RollbackPreviewDrawer.tsx
  packages/frontend/src/components/admin/SubmitPreviewDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
Due: backend, frontend

feat: implement entity lock with SSE notifications for real-time updates
  packages/backend/src/controllers/EntityLockController.ts
  packages/backend/src/database/migrations/014_add_lock_settings.js
  packages/backend/src/models/ChangeRequest.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/backend/src/services/EntityLockService.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/hooks/useEntityLock.ts
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/entityLockService.ts
  packages/frontend/src/services/environmentService.ts
Due: backend, frontend

fix: entity lock and CR banner improvements
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

fix: add createdBy field when executing CR for new records
  packages/backend/src/services/ChangeRequestService.ts
Due: backend

feat: CR system redesign - align with specification
  packages/backend/src/controllers/ChangeRequestController.ts
  packages/backend/src/routes/admin/changeRequests.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/frontend/src/components/admin/RollbackPreviewDrawer.tsx
  packages/frontend/src/services/changeRequestService.ts
Due: backend, frontend

refactor: complete rollbackrevert terminology change
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/RevertPreviewDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
Due: frontend

fix: resolve duplicate gameWorlds localization keys
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
Due: frontend

feat: add Phase 5 - pending review lock banner UI
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

fix: add missing DB columns and improve client version localization
  package.json
  packages/backend/src/database/migrations/015_add_created_by_column.js
  packages/backend/src/database/migrations/016_add_change_items_data_columns.js
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/RevertPreviewDrawer.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
Due: backend, frontend

Improve RichText Editor: selection preservation, emoji button toolbar integration, style refinements
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
Due: frontend

Fix service notice deletion: use hard delete instead of soft delete
  packages/backend/src/services/UnifiedChangeGateway.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: backend, frontend

Improve service notice preview: add title divider and Quill CSS support
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
Due: frontend

Add floating toolbar for text selection in RichTextEditor
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
Due: frontend

Fix clipboard functions to preserve formatting
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
Due: frontend

Add version display to sidebar
  packages/frontend/src/components/layout/Sidebar.tsx
Due: frontend

feat(admin): Add Service Control menu with Player Connections page
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
Due: backend, frontend

Fix service notices, ETag invalidation, build issues, and lint errors
  lint_output.txt
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/controllers/ChangeRequestController.ts
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/seed.ts
  packages/backend/src/scripts/createAdmin.ts
  packages/backend/src/services/ChangeRequestService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/edge/public/game-service-notices.html
  packages/frontend/index.html
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
Due: backend, frontend

Change service notice display time from CreatedAt to UpdatedAt in preview and webview
  packages/edge/public/game-service-notices.html
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
Due: frontend

Fix MySQL DATETIME to UTC conversion when mysql2 returns Date object
  packages/backend/src/utils/dateUtils.ts
Due: backend

Fix MySQL DATETIME to UTC conversion for all services and models
  packages/backend/src/config/knex.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/StoreProductService.ts
Due: backend

Refactor services to use knex instead of raw mysql2: ServiceNoticeService, RewardTemplateService, IngamePopupNoticeService
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/ServiceNoticeService.ts
Due: backend

Revert "Refactor services to use knex instead of raw mysql2: ServiceNoticeService, RewardTemplateService, IngamePopupNoticeService"
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/ServiceNoticeService.ts
Due: backend

Add search functionality to Gatrix Edges JSON viewer and improve invalidation count display
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
Due: frontend

refine: Improve Gatrix Edges UI and filter internal environment
  frontend_lint.txt
  lint_output.txt
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/edge/src/config/env.ts
  packages/edge/src/routes/internal.ts
  packages/edge/src/services/sdkManager.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/admin/GatrixEdgesPage_bak.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
Due: backend, frontend

refine: Improve Gatrix Edges grouping UX and add persistence
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
Due: frontend

feat: Service Notices sortable columns, Rich Text Editor effect removal, and status toggle removal
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/017_add_is_pinned_to_service_notices.js
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: backend, frontend

Fix service notice toggle event payload to include full notice data for cache update
  packages/backend/src/services/ServiceNoticeService.ts
Due: backend

refine: Polish Gatrix Edges connector lines and simplified visual hierarchy
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
Due: frontend

Enhance Gatrix Edges cache display: invalidation count, auto-refresh, and UI improvements
  packages/edge/src/routes/internal.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
Due: frontend

타입 오류 수정
  packages/backend/src/services/RewardTemplateService.ts
  packages/backend/src/services/StoreProductService.ts
Due: backend

feat: Remove inline status toggles from list views and fix localization
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

feat: Add multi-level grouping UI with chips and dropdown selector
  packages/frontend/src/components/server-list/ServerGroupRenderer.tsx
  packages/frontend/src/components/server-list/types.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/scripts/deploy-to-game-server.ts
Due: frontend

feat: Apply multi-level grouping to CheckerboardView and ClusterView
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

feat: Add first-level grouping to ListView and CardView
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

wip: Add GroupedListView and GroupedCardView components for multi-level grouping
  packages/frontend/src/components/server-list/GroupedCardView.tsx
  packages/frontend/src/components/server-list/GroupedListView.tsx
Due: frontend

feat: Implement true multi-level grouping for ListView and CardView
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

chore: Remove unused GroupedListView and GroupedCardView components
  packages/frontend/src/components/server-list/GroupedCardView.tsx
  packages/frontend/src/components/server-list/GroupedListView.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
