Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

api 인증 문제 수정 및 정돈
  debug-api-call.js
  packages/backend/src/app.ts
  packages/backend/src/constants/headers.ts
  packages/backend/src/middleware/responseCache.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/jobs/HttpRequestJob.ts
  packages/chat-server/src/app.ts
  packages/chat-server/src/constants/headers.ts
  packages/chat-server/src/middleware/apiAuth.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/services/GatrixApiService.ts
Due: backend

사용자 초대 기능 정상화
  packages/backend/migrations/20250926_create_invitations_table.sql
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/controllers/PublicInvitationController.ts
  packages/backend/src/database/migrations/007_create_invitations_table.js
  packages/backend/src/database/migrations/008_make_invitation_email_optional.js
  packages/backend/src/routes/public/index.ts
  packages/backend/src/routes/public/invitations.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/InvitationStatusCard.tsx
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/components/common/ConfirmDeleteDialog.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/auth/InvalidInvitePage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/invitationService.ts
Due: backend, frontend

Typing indicator 처리
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/types/chat.ts
Due: frontend

Update ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
Due: frontend

client-crashes 기능 추가 초안
  client-crashes-upload-js-analysis.md
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashController.ts
  packages/backend/src/middleware/validateRequest.ts
  packages/backend/src/models/ClientCrash.ts
  packages/backend/src/models/CrashInstance.ts
  packages/backend/src/routes/admin/crashes.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/types/crash.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/locales/en.json.backup
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/services/crashService.ts
  packages/frontend/src/types/crash.ts
Due: backend, frontend

클라이언트 크래쉬 추적 기능 추가
  generate-mock-crashes.js
  packages/backend/data/sample-crashes.sql
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashController.ts
  packages/backend/src/database/migrations/006_create_crashes_tables.js
  packages/backend/src/models/ClientCrash.ts
  packages/backend/src/models/CrashInstance.ts
  packages/backend/src/types/crash.ts
  packages/frontend/src/locales/en.json
  simple-mock-crashes.js
  test-crash-upload.js
Due: backend, frontend

doc 갱신
  README.md
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/2024-01-15-production-deployment-tips.md
  docs/blog/2024-01-20-performance-optimization.md
  docs/blog/authors.yml
  docs/blog/tags.yml
  docs/docs/intro.md
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/admin/admin.ts
Due: backend

UI 버그들 수정
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/admin/PlatformDefaultsDialog.tsx
  packages/frontend/src/components/common/SimplePagination.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

서비스 점검 상태 설정
  packages/backend/src/app.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/maintenance.ts
  packages/backend/src/routes/admin/notifications.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/services/maintenanceService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

서비스 점검 배너 추가
  packages/backend/src/services/sseNotificationService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: backend, frontend

점검 시간 잘못 처리되는 부분 수정
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: frontend

서비스 점검 설정 기능 다듬기
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: frontend

서비스 점검 설정 잘못된 부분 수정
  packages/backend/src/controllers/MaintenanceController.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/services/maintenanceService.ts
Due: backend, frontend

메시지 잘못 나오는 문제점 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: frontend

클라이언트 버전 페이지의 게스트 모드 필터링 안되는 문제 수정
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/hooks/useDebounce.ts
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  test-guest-mode-filter.js
Due: backend, frontend

검색필터 디바운싱 적용
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

디바운싱 처리 추가
  packages/frontend/src/components/admin/InvitationStatusCard.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

kick 유예 시간 추가
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/maintenanceService.ts
  scripts/add-message-templates.js
Due: backend, frontend

drawer, 드랍다운 zindex 이슈 해결
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/frontend/src/components/layout/Header.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

사이드바 펼치기 버튼 변경
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

sse 이벤트 전파 개선
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/RemoteConfigController.ts
  packages/backend/src/controllers/RemoteConfigTemplateController.ts
  packages/backend/src/controllers/ServerNotificationController.ts
  packages/backend/src/index.ts
  packages/backend/src/models/RemoteConfigChangeRequest.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
Due: backend, frontend

시스템 콘솔 추가
  package-lock.json
  packages/backend/src/controllers/SystemConsoleController.ts
  packages/backend/src/routes/admin/console.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/ConsoleService.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  yarn.lock
Due: backend, frontend

Update SystemConsolePage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: frontend

기본 폰트 변경(D2 Coding)
  packages/backend/src/services/ConsoleService.ts
  packages/frontend/public/fonts/D2Coding.woff2
  packages/frontend/public/fonts/D2CodingBold.woff2
  packages/frontend/public/index.html
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: backend, frontend

영문 로컬라이징 오류 수정
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json.backup-2025-10-01T02-50-31-317Z
  packages/frontend/src/locales/ko.json.backup-2025-10-01T02-50-31-327Z
  packages/frontend/src/locales/zh.json.backup-2025-10-01T02-50-31-330Z
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/styles/scrollbar.css
  scripts/normalize-locales.mjs
Due: frontend

로컬라이징 정리
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  service-discovery.md
Due: frontend

로컬라이징 오류 수정
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

로컬라이징 이슈 처리(진행중)
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

중간정리
  packages/frontend/extract-korean-sections.cjs
  packages/frontend/fix-ko-json.cjs
  packages/frontend/gameWorlds-korean.json
  packages/frontend/src/components/TargetConditionBuilder.tsx
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/admin/InvitationStatusCard.tsx
  packages/frontend/src/components/admin/InvitationSuccess.tsx
  packages/frontend/src/components/common/CodeEditor.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/pages/auth/InvalidInvitePage.tsx
Due: frontend

로컬라이징 수정
  packages/frontend/fix-ko-complete.cjs
  packages/frontend/src/locales/ko.json
Due: frontend

로컬라이징 이슈 처리
  packages/frontend/find-duplicates.cjs
  packages/frontend/fix-all-indent.cjs
  packages/frontend/fix-whitelist-indent.cjs
  packages/frontend/fix-zh-structure.cjs
  packages/frontend/fix-zh.cjs
  packages/frontend/remove-duplicates.cjs
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

로케일문제 수정
  packages/frontend/src/locales/ko.json.backup
  packages/frontend/src/locales/zh.json.backup
  packages/frontend/sync-locales.cjs
  packages/frontend/validate-locales.cjs
Due: frontend

Update CrashesPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
Due: frontend

Create find-admin-crashes.cjs
  packages/frontend/find-admin-crashes.cjs
Due: none

점검 메시지 정상적용
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/translationService.ts
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

메시지 템플릿에서 태그 필터링 안되는 문제 수정
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: backend, frontend

Create OPENPANEL_COMPARISON_ANALYSIS.md
  packages/event-lens/OPENPANEL_COMPARISON_ANALYSIS.md
Due: none

추가 최적화
  packages/event-lens/migrations/clickhouse/006_apply_openpanel_optimizations.sql
  packages/event-lens/src/utils/normalize.ts
Due: none

Create OPENPANEL_OPTIMIZATION_IMPLEMENTATION_GUIDE.md
  OPENPANEL_OPTIMIZATION_IMPLEMENTATION_GUIDE.md
Due: none

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
