Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix: CR should use target environment, not active environment
  packages/backend/src/routes/admin/features/flags.ts
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/services/changeRequestService.ts
Due: backend, frontend

fix: pass targetEnvironmentId in FeatureFlagsPage toggle/bulk toggle
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: frontend

fix: CR menu and floating banner should be environment-independent
  packages/backend/src/controllers/change-request-controller.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/config/navigation.tsx
Due: backend, frontend

fix: CR list should filter by projectId, not environmentId
  packages/backend/src/controllers/change-request-controller.ts
Due: backend

fix: CR stats/tab counts should also filter by projectId
  packages/backend/src/controllers/change-request-controller.ts
  packages/backend/src/services/change-request-service.ts
Due: backend

fix: flag list should merge draft data and toggle should update locally
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/services/change-request-service.ts
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: backend, frontend

fix: draft merge key mismatch - targetId is flag.id, not flagName
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: frontend

fix: draft merge key mismatch + inline submit form in CR drawer
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
Due: frontend

fix: CR apply broken by _flagName key + UI polish + page size persistence
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
Due: backend, frontend

ui: smooth Collapse transition for draft/submit mode switch
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
Due: frontend

feat: pending CR draft indicator improvements and playground fix
  packages/backend/src/routes/admin/features/playground.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: backend, frontend

fix: prevent duplicate draft CRs for same target entity
  packages/backend/src/services/change-request-service.ts
Due: backend

fix: resolve environment IDs to display names in CR change detail
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
Due: frontend

fix: only show pending draft indicator on CR-required environments
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: frontend

feat: replace auto-save with explicit Apply button for variants/values
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

fix: reset button correctly clears hasChanges state
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

fix: remove unnecessary 'cannot be undone' warning from strategy delete dialog
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: CR conflict detection - use ops oldValues instead of missing beforeData field
  packages/backend/src/services/change-request-service.ts
Due: backend

fix: game world delete label for CR env + strip invalid DB columns in CR execute
  packages/backend/src/services/change-request-service.ts
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

fix: resolve TS2769 type errors in change-request-controller
  packages/backend/src/controllers/change-request-controller.ts
Due: backend

feat(cr): improve AI summary accuracy, env name display, strategy diff, and draft subtitle
  archived/debug-cr.js
  archived/find-banner.js
  docker-compose-infra.yml
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/redis/redis.conf
  packages/backend/src/controllers/change-request-controller.ts
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/models/change-item.ts
  packages/backend/src/models/change-request.ts
  packages/backend/src/routes/admin/change-requests.ts
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/services/ai/ai-cr-summary-service.ts
  packages/backend/src/services/change-request-service.ts
  packages/backend/src/utils/entity-label-resolver.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/RevertPreviewDrawer.tsx
  packages/frontend/src/components/admin/change-request/ChangeItemDiffDisplay.tsx
  packages/frontend/src/components/admin/change-request/FeatureFlagDiffRenderer.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
  packages/frontend/src/utils/entityLabelResolver.ts
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: backend, frontend

feat(cr): integrate UnifiedChangeGateway into MessageTemplates (backend+frontend)
  packages/backend/src/controllers/message-template-controller.ts
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/messageTemplateService.ts
Due: backend, frontend

feat(cr): standardize CR response handling across all entity pages (ServiceNotices, Banners, IngamePopup, Surveys)
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

feat: CR tag integration, delete dialog standardization, menu restructure
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/services/change-request-service.ts
  packages/backend/src/services/service-registry.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/change-request/ChangeItemDiffDisplay.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

fix: delete confirm shows item details, move survey tags into basic info
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
Due: frontend

revert: replace named volumes for Redis with local bind mounts to fix folder access issue
  docker-compose-infra.yml
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/redis/redis.conf
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/change-request/FeatureFlagDiffRenderer.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: backend, frontend

fix: CR system improvements - no-change guard, bulk delete skip CR, 404 error handling, localization
  archived/revert-volumes.js
  packages/backend/src/controllers/server-game-world-controller.ts
  packages/backend/src/services/change-request-service.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/SubmitPreviewDrawer.tsx
  packages/frontend/src/components/common/ChangeRequestSubmitButtons.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
Due: backend, frontend

chore(backend): translate Korean comments to English across all src files
  packages/backend/src/config/bullboard.ts
  packages/backend/src/config/index.ts
  packages/backend/src/config/knex.ts
  packages/backend/src/constants/cache-keys.ts
  packages/backend/src/constants/headers.ts
  packages/backend/src/controllers/chat-channel-controller.ts
  packages/backend/src/controllers/chat-sync-controller.ts
  packages/backend/src/controllers/platform-defaults-controller.ts
  packages/backend/src/controllers/translation-controller.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/audit-log.ts
  packages/backend/src/middleware/error-handler.ts
  packages/backend/src/middleware/request-logger.ts
  packages/backend/src/models/FeatureFlag/feature-variant-model.ts
  packages/backend/src/routes/admin/global-network-traffic.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/ip-whitelist.ts
  packages/backend/src/routes/admin/message-templates.ts
  packages/backend/src/routes/admin/tags.ts
  packages/backend/src/routes/admin/whitelist.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/routes/public/invitations.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/service-discovery.ts
  packages/backend/src/scripts/execute-sql.ts
  packages/backend/src/services/baidu-o-auth.ts
  packages/backend/src/services/chat-server-service.ts
  packages/backend/src/services/platform-defaults-service.ts
  packages/backend/src/services/we-chat-o-auth.ts
  packages/backend/src/utils/app-instance.ts
  packages/backend/src/utils/date-utils.ts
  packages/backend/src/utils/db-timezone-check.ts
  packages/backend/src/utils/enhanced-audit-log.ts
  packages/frontend/src/pages/features/FeatureNetworkPage.tsx
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
Due: backend, frontend

feat: enforce form validation on admin dialogs (surveys, banners, popups, notices, coupons)
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

feat: add project token support, prefix-based token optimization, and localization fixes
  packages/backend/src/controllers/api-tokens-controller.ts
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/controllers/server-client-version-controller.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/middleware/environment-key-auth.ts
  packages/backend/src/models/api-access-token.ts
  packages/backend/src/models/client-version.ts
  packages/backend/src/routes/admin/api-tokens.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/ai/tools/client-version-tools.ts
  packages/backend/src/services/client-version-service.ts
  packages/backend/src/services/tag-service.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/edge/src/services/version-map-service.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/types/apiToken.ts
  packages/frontend/src/types/clientVersion.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/types/api.ts
  packages/sdks/server-sdks/spec/SERVER_SDK_SPEC.md
Due: backend, frontend

fix: project token auth, auto serviceNoticeUrl in meta, fix SDK service notice caching
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/controllers/internal-api-tokens-controller.ts
  packages/backend/src/controllers/server-client-version-controller.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/services/unified-change-gateway.ts
  packages/edge/public/game-service-notices.html
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/routes/client.ts
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-notice-service.ts
Due: backend, frontend

docs: document data scope architecture (environment vs project) in SDK READMEs
  packages/sdks/server-sdks/gatrix-node-server-sdk/README.ko.md
  packages/sdks/server-sdks/gatrix-node-server-sdk/README.md
Due: none

feat: whitelist bypass for MAINTENANCE status in client-version API
  packages/backend/src/controllers/client-controller.ts
  packages/edge/src/routes/client.ts
Due: backend

fix: whitelist check order and SDK ApiClientFactory support
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/routes/server/service-discovery.ts
  packages/edge/src/routes/client.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/whitelist-service.ts
Due: backend

refactor: separate IP and account whitelist events
  packages/backend/src/services/ip-whitelist-service.ts
  packages/backend/src/services/whitelist-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-handlers/whitelist-event-handler.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/types/events.ts
Due: backend

refactor: split whitelist into separate IP and account endpoints/caches
  packages/backend/src/constants/cache-keys.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/service-discovery.ts
  packages/backend/src/services/ip-whitelist-service.ts
  packages/backend/src/services/whitelist-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-handlers/whitelist-event-handler.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/whitelist-service.ts
Due: backend

fix: IP whitelist event order - invalidateKey before publishSDKEvent
  packages/backend/src/services/ip-whitelist-service.ts
Due: backend

fix: IP whitelist environmentId was undefined from model result
  packages/backend/src/services/ip-whitelist-service.ts
Due: backend
