Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

정돈
  docker-compose.dev.yml
  docker/redis/redis.conf
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/database/migrations/038_make_world_server_address_required.js
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/types/gameWorld.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/start-single-server.ts
Due: backend, frontend

service discovery 매니징 안되는 이슈 처리
  docker-compose.dev.yml
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/test-servers/start-single-server.ts
Due: backend, frontend

Update RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
Due: backend

서비스 디스커버리 1차 완료
  .env
  docker-compose.dev.yml
  packages/backend/src/config/index.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: backend, frontend

서비스 점검 처리 오류 보완
  packages/backend/src/controllers/CouponRedeemController.ts
  packages/backend/src/models/ServiceMaintenance.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/ServiceMaintenanceScheduler.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/services/SurveyService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/frontend/src/services/surveyService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend, frontend

중간정돈
  packages/backend/src/controllers/CouponRedeemController.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/orchestrator.ts
  packages/sdks/server-sdk/test-servers/worldd.ts
Due: backend, frontend

정돈
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/test-servers/authd.ts
  packages/sdks/server-sdk/test-servers/chatd.ts
  packages/sdks/server-sdk/test-servers/lobbyd.ts
  packages/sdks/server-sdk/test-servers/orchestrator.ts
  packages/sdks/server-sdk/test-servers/worldd.ts
Due: backend, frontend

실시간 변경 이벤트 감지 처리
  docker-compose.dev.yml
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/index.ts
  packages/backend/src/models/ServiceMaintenance.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/orchestrator.ts
Due: backend

sdk 응답에서 불필요한 필드들 제거
  packages/backend/src/config/database.ts
  packages/backend/src/config/knex.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/types/events.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend

데이터베이스에서 bool 처리 자동화(knex설정)
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/services/ingamePopupNoticeService.ts
Due: backend, frontend

이벤트 통지 안되는 문제 수정
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/types/events.ts
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/services/surveyService.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend, frontend

게임월드 순서 변경 이벤트 전파
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/types/events.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend, frontend

마이너 버그 수정
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: none

sdk 시작, 종료처리 자연스럽게
  packages/backend/src/routes/index.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
Due: backend

Update knex.ts
  packages/backend/src/config/knex.ts
Due: backend

sdk 개선
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package-lock.json
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/logger.ts
  packages/sdks/server-sdk/test-servers/README.md
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/yarn.lock
Due: none

.net sdk 추가
  gatrix.sln
  packages/sdks/dotnet-sdk/.gitignore
  packages/sdks/dotnet-sdk/Gatrix.ServerSDK.csproj
  packages/sdks/dotnet-sdk/LICENSE
  packages/sdks/dotnet-sdk/README.md
  packages/sdks/dotnet-sdk/src/Cache/CacheManager.cs
  packages/sdks/dotnet-sdk/src/Cache/EventListener.cs
  packages/sdks/dotnet-sdk/src/Client/ApiClient.cs
  packages/sdks/dotnet-sdk/src/Extensions/ServiceCollectionExtensions.cs
  packages/sdks/dotnet-sdk/src/GatrixServerSDK.cs
  packages/sdks/dotnet-sdk/src/Types/ApiResponse.cs
  packages/sdks/dotnet-sdk/src/Types/Config.cs
  packages/sdks/dotnet-sdk/src/Utils/Logger.cs
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: none

로거 정리 및 SDK 개선
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/sdks/dotnet-sdk/README.md
  packages/sdks/dotnet-sdk/src/Cache/CacheManager.cs
  packages/sdks/dotnet-sdk/src/Extensions/ServiceCollectionExtensions.cs
  packages/sdks/dotnet-sdk/src/GatrixServerSDK.cs
  packages/sdks/dotnet-sdk/src/Types/ApiResponse.cs
  packages/sdks/dotnet-sdk/src/Utils/Logger.cs
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/src/utils/logger.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend

정돈
  packages/sdks/dotnet-sdk/src/Cache/CacheManager.cs
  packages/sdks/dotnet-sdk/src/Cache/EventListener.cs
  packages/sdks/dotnet-sdk/src/GatrixServerSDK.cs
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: none

모니터링 적용(프로메테우스, 그라파나)
  docker-compose.dev.yml
  docker-compose.yml
  docker/grafana/dashboards/gatrix-nodejs-services.json
  docker/grafana/dashboards/gatrix-overview.json
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/datasources/datasource.yml
  docker/prometheus/entrypoint.sh
  docker/prometheus/prometheus.base.yml
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2024-01-20-performance-optimization.md
  docs/blog/authors.yml
  docs/docs/deployment/docker.md
  docs/docs/features/monitoring.md
  docs/docs/intro.md
  docs/docs/monitoring/setup.md
  docs/docs/optimization/caching.md
  docs/docs/optimization/database.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  docs/sidebars.ts
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/index.ts
  packages/backend/src/routes/public/index.ts
  packages/backend/src/routes/public/monitoring.ts
  packages/backend/src/services/MetricsService.ts
  packages/event-lens/package.json
  packages/event-lens/src/app.ts
  packages/event-lens/src/config/index.ts
  packages/event-lens/src/services/MetricsService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/utils/metrics.ts
  yarn.lock
Due: backend, frontend

inbound/outbount 트래픽 추적
  metrics.tmp.txt
  packages/backend/src/services/MetricsService.ts
  packages/event-lens/src/services/MetricsService.ts
Due: backend

쿠폰정의시 보상아이템 안나오는 문제 수정(rewardTemplateId 사용시)
  docker-compose.dev.yml
  docker-compose.yml
  docker/grafana/dashboards/gatrix-infrastructure-services.json
  docker/grafana/dashboards/gatrix-mysql.json
  docker/grafana/dashboards/gatrix-prometheus.json
  docker/grafana/dashboards/gatrix-redis.json
  docker/mysql/exporter/.my.cnf
  docker/prometheus/prometheus.base.yml
  packages/frontend/src/components/game/RewardDisplay.tsx
Due: frontend

초기 설정 스크립트 추가
  .env
  .env.example
  EASY_SETUP.md
  README.md
  packages/backend/src/database/migrations/039_seed_default_tags.js
  setup-env.ps1
  setup-env.sh
Due: backend

Update EASY_SETUP.md
  EASY_SETUP.md
Due: none

문서화 최신화 및 셋업 스크립트 수정
  .env
  EASY_SETUP.md
  README.md
  setup-env.ps1
  setup-env.sh
Due: none

문서화 업데이트
  LICENSE
  README.md
  package.json
Due: none

정돈
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  EASY_SETUP.md
  README.md
  docs/docs/intro.md
  docs/package.json
  package.json
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/chat-server/package.json
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  packages/event-lens/package.json
  packages/frontend/Dockerfile
  packages/frontend/Dockerfile.dev
  packages/frontend/package.json
  packages/sdks/server-sdk/package.json
  scripts/setup.sh
Due: none

Update README.md
  packages/sdks/server-sdk/README.md
Due: none

sdk에 화이트리스트 처리 추가
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/backend/src/types/events.ts
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/WhitelistService.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend

정돈
  .gitignore
  EASY_SETUP.md
  execute_sql.js
  packages/sdks/server-sdk/src/services/WhitelistService.ts
Due: none

Update client.ts
  packages/backend/src/routes/client/client.ts
Due: backend

정돈
  .env.backup.20251112_171454
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
Due: none

Update .env
  .env
Due: none

서버 초기화시 무한 로그인 새로고침 현상 처리
  packages/frontend/src/services/api.ts
  packages/sdks/dotnet-sdk/src/Types/Config.cs
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/network.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  setup-env.ps1
  setup-env.sh
Due: frontend

whitelists endpoint 위치 변경
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
Due: backend

Update serviceDiscovery.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
