Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

채팅관련 마무리중
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/chat-server/src/middleware/apiAuth.ts
  packages/frontend/src/services/chatService.ts
Due: backend, frontend

frontend -> backend -> chat-server 인증 이슈 처리
  packages/backend/src/controllers/ChatChannelController.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/frontend/src/services/chatService.ts
Due: backend, frontend

Update ChatChannelController.ts
  packages/backend/src/controllers/ChatChannelController.ts
Due: backend

body parsing 이슈 처리
  packages/backend/src/routes/chat/index.ts
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/types/chat.ts
Due: backend, frontend

Update ChatContext.tsx
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

채팅서버 인증 문제 처리
  packages/backend/src/controllers/ChatChannelController.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/routes/server/index.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/models/User.ts
  packages/chat-server/src/types/chat.ts
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

채팅 인증 문제 처리중
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/chat-server/src/app.ts
  packages/chat-server/src/controllers/UserController.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/routes/users.ts
Due: backend

채팅서버 인증문제 해결!?
  packages/backend/src/controllers/ChatSyncController.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/chat-server/src/controllers/UserController.ts
  packages/chat-server/src/routes/users.ts
  packages/chat-server/src/services/UserService.ts
  packages/frontend/src/services/chatWebSocketService.ts
Due: backend, frontend

리액션 처리 문제 수정중
  package-lock.json
  packages/backend/package.json
  packages/backend/src/controllers/ChatSyncController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/index.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/utils/dateUtils.ts
  packages/backend/src/utils/dbTimezoneCheck.ts
  packages/chat-server/fix_reactions_final.sql
  packages/chat-server/fix_reactions_table.sql
  packages/chat-server/fix_table.sql
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/controllers/MessageReactionController.ts
  packages/chat-server/src/database/migrations/20250923_add_gatrix_user_id.js
  packages/chat-server/src/database/migrations/20250923_create_message_reactions.js
  packages/chat-server/src/database/migrations/20250923_recreate_message_reactions.js
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/models/MessageReaction.ts
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/messageReactions.ts
  packages/chat-server/src/services/UserService.ts
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  yarn.lock
Due: backend, frontend

메시지 리액션 처리 안되는것 수정
  packages/chat-server/src/controllers/MessageReactionController.ts
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/types/chat.ts
  test_reaction_notification.md
Due: frontend

채팅 관련 미구현된 기능 적용 및 로컬라이징 이슈 처리
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/routes/messages.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/components/chat/UserPresence.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/types/chat.ts
Due: frontend

채팅페이지 스켈레톤 처리
  packages/frontend/src/components/chat/ChatSkeleton.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/types/chat.ts
Due: frontend

메시지 스레드 기능 안되는것 수정
  packages/chat-server/src/models/Message.ts
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/types/chat.ts
Due: frontend

채팅 관련 디버깅 로그 제거
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

UI 버그 수정
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/types/chat.ts
  packages/chat-server/test.js
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/types/chat.ts
Due: frontend

스레드 기능 정상황
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatService.ts
Due: frontend

스레드창 구현
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채팅 메시지 정리
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채팅서버 기본 동작 완료
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/models/Message.ts
Due: none

미리보기 기능 강화
  packages/backend/src/controllers/LinkPreviewController.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/linkPreview.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/MessageContent.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
Due: backend, frontend

Update ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
Due: frontend

Update ThreadView.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
Due: frontend

댓글 카운터 한줄로
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
Due: frontend

초대시 유저정보 조회안되는 이슈 처리
  packages/chat-server/src/controllers/InvitationController.ts
Due: none

Update InvitationController.ts
  packages/chat-server/src/controllers/InvitationController.ts
Due: none

필드명 통일
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ReadReceipts.tsx
  packages/frontend/src/components/layout/Header.tsx
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

초대기능 안되는 문제 수정
  packages/chat-server/scripts/cleanup-invitations.js
  packages/chat-server/src/controllers/InvitationController.ts
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
Due: frontend

상대방이 입력한 채팅 메시지가 잠깐 아래로 내려온 상태로 보이는 현상 수정
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
Due: frontend

한줄 아래에서 보이기 시작하는 현상 수정완료!
  packages/frontend/src/components/chat/ThreadView.tsx
Due: frontend

UI 버그 수정
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
Due: frontend

게임월드에 customPayload 추가
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/003_add_gameworld_custom_payload.js
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/invitations.ts
  packages/backend/uploads/avatar-1758771425607-944379236.png
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/invitationService.ts
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

사이드바 메뉴 하이라이팅 이슈 수정
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

이모지 선택기 개선
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
Due: frontend

채팅페이지 전환 자연스럽게 보완
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채팅 페이지 전환시 깜빡임 줄이기
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채팅 개선작업
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

채팅 관련 버그 수정
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/backend/src/routes/admin/invitations.ts
  packages/frontend/src/components/admin/InvitationSuccess.tsx
  packages/frontend/src/components/chat/FileUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: backend, frontend

avatar 정보 안넘어가는것 수정
  packages/chat-server/src/middleware/apiAuth.ts
  packages/chat-server/src/middleware/auth.ts
Due: none

채팅 관련 오류 수정
  packages/chat-server/src/controllers/DirectMessageController.ts
  packages/chat-server/src/services/UserService.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/MentionAutocomplete.tsx
  packages/frontend/src/components/chat/MessageList.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/components/chat/ThreadView.tsx
  packages/frontend/src/components/chat/TypingIndicator.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/types/chat.ts
Due: frontend

api 인증 오류 수정
  docs/docs/api/server-sdk-api.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/server-sdk-api.md
  packages/backend/scripts/create-server-api-token.js
  packages/backend/src/constants/headers.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/chat-server/src/constants/headers.ts
  packages/chat-server/src/services/GatrixApiService.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
