Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

backend 빌드 오류 해결
  packages/backend/src/routes/analytics.ts
  packages/event-lens/OPENPANEL_OPTIMIZATIONS_APPLIED.md
  packages/event-lens/migrations/clickhouse/001_create_events_table.sql
  packages/event-lens/migrations/clickhouse/002_create_profiles_table.sql
  packages/event-lens/migrations/clickhouse/003_create_sessions_table.sql
  packages/event-lens/migrations/clickhouse/004_create_materialized_views.sql
Due: backend

메시지 템플릿 관리에서 두개이상의 태그 필터링 안되는 이슈 수정
  packages/backend/src/models/MessageTemplate.ts
Due: backend

console 명령 추가
  CONSOLE_IMPROVEMENTS_SUMMARY.md
  CONSOLE_IMPROVEMENTS_V2_SUMMARY.md
  CONSOLE_IMPROVEMENTS_V3_SUMMARY.md
  CONSOLE_IMPROVEMENTS_V4_SUMMARY.md
  RECENT_FIXES_SUMMARY.md
  packages/backend/docs/CONSOLE_COMMANDS.md
  packages/backend/src/services/ConsoleService.ts
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: backend, frontend

시스템 콘솔창 개선
  CONSOLE_IMPROVEMENTS_V5_SUMMARY.md
  FINAL_CONSOLE_FIXES_SUMMARY.md
  SERVICE_DISCOVERY_COMMANDS_SUMMARY.md
  packages/backend/src/services/ConsoleService.ts
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: backend, frontend

페이지 제목 아이콘 적용
  packages/backend/src/services/ConsoleService.ts
  packages/backend/src/utils/AppInstance.ts
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: backend, frontend

레이아웃 정돈
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: frontend

Update SystemConsolePage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: frontend

실시간 이벤트뷰 안되는 문제 수정(조회날짜 처리 이슈)
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/models/AuditLog.ts
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
Due: backend, frontend

이벤트 스트림 정리(1차 완성)
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: frontend

실시간 이벤트 뷰 보완
  packages/backend/src/controllers/SystemConsoleController.ts
  packages/backend/src/services/ConsoleService.ts
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/services/gameWorldService.ts
Due: backend, frontend

실시긴 이벤트 페이지 마무리
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/routes/admin/gameWorlds.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/services/gameWorldService.ts
Due: backend, frontend

사이드메뉴바 스크롤시 시각적 오류 해결
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

클라이언트 크래쉬 검색 필터 개선
  packages/frontend/src/components/common/DateRangePicker.tsx
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/auth.ts
Due: frontend

동적필터 적용
  packages/backend/src/controllers/AdminInvitationController.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/invitationService.ts
  packages/frontend/src/services/messageTemplateService.ts
Due: backend, frontend

필터링 이슈 처리
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/User.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/auditLogService.ts
Due: backend, frontend

필터링 이슈 처리
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/User.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

swr 리팩토링 전
  packages/frontend/src/hooks/usePageState.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/utils/apiCache.ts
Due: frontend

swr 적극 적용
  packages/frontend/src/hooks/useSWR.ts
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/utils/apiCache.ts
Due: frontend

사용자 추가, 새 초대 생성 버튼 위치 변경
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

Update RegisterPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

메시지 템플릿 태기 필터링 안되는 이슈 수정
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: backend, frontend

게임월드 관리 페이지 필터링 UI 통일
  packages/backend/src/controllers/GameWorldController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: backend, frontend

Update GameWorldsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

점검 메시지 처리 보완
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/004_add_maintenance_template_id.js
  packages/backend/src/models/GameWorld.ts
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/gameWorldService.ts
  packages/frontend/src/services/messageTemplateService.ts
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

docker compose yml 정리 및 문서정리
  DOCKER_COMPOSE_SETUP.md
  DOCKER_COMPOSE_UPDATE_SUMMARY.md
  EVENT_LENS_SETUP_GUIDE.md
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  packages/chat-server/Dockerfile.dev
  packages/chat-server/README.md
  packages/chat-server/docker-compose.yml
  packages/event-lens/Dockerfile.dev
Due: none

도커환경 정리
  DOCKER_BUILD_FIX_SUMMARY.md
  YARN_WORKSPACE_MIGRATION_SUMMARY.md
  docker-compose.dev.yml
  package-lock.json
  package.json
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  yarn.lock
Due: none

docker이미지의 node 버전 상향
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/frontend/Dockerfile
  packages/frontend/Dockerfile.dev
Due: none

파일정리
  FINAL_STATUS_SUMMARY.md
  README.md
  REMAINING_TASKS_COMPLETED.md
  YARN_WORKSPACE_MIGRATION_SUMMARY.md
  docker-compose.dev.yml
  package.json
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/chat-server/src/config/database.ts
  packages/event-lens/src/config/bullmq.ts
  yarn.lock
Due: backend

정돈
  .env
  docker-compose.dev.yml
  packages/backend/package.json
  packages/backend/src/database/Migration.ts
  packages/chat-server/package.json
  packages/chat-server/src/database/migrate-with-lock.ts
  packages/event-lens/package.json
  packages/event-lens/scripts/migrate-clickhouse.js
  packages/event-lens/scripts/migrate-mysql.js
  packages/frontend/.env.example
  packages/frontend/DEVELOPMENT.md
  packages/frontend/vite.config.ts
Due: backend

갖가지 오류 수정
  packages/frontend/package.json
  packages/frontend/public/animations/loading-dots.json
  packages/frontend/src/App.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/styles/scrollbar.css
  packages/frontend/vite.config.ts
  yarn.lock
Due: frontend

정돈
  packages/backend/scripts/add-migration-record.js
  packages/backend/scripts/check-and-create-api-tokens.js
  packages/backend/scripts/create-api-tokens-table.js
  packages/backend/src/database/migrations/009_create_api_access_tokens.js
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

페이지 레이아웃 통일
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

정돈
  packages/backend/src/controllers/TagController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_add_maintenance_fields.js
  packages/backend/src/database/migrations/003_remote_config_v2_system.js
  packages/backend/src/database/migrations/004_remote_config_v2_seed_data.js
  packages/backend/src/database/migrations/005_remote_config_final_system.js
  packages/backend/src/database/migrations/006_create_crashes_tables.js
  packages/backend/src/database/migrations/006_remote_config_final_seed_data.js
  packages/backend/src/database/migrations/007_create_invitations_table.js
  packages/backend/src/database/migrations/008_make_invitation_email_optional.js
  packages/backend/src/models/Tag.ts
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/tagService.ts
Due: backend, frontend

실시간 이벤트 뷰 버그 수정 및 개선
  packages/frontend/src/components/common/MultiLanguageMessageInput.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
Due: frontend

감사로그 보완(추가 보완해야함)
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/admin/invitations.ts
  packages/backend/src/test/test-audit-log.ts
  packages/backend/src/utils/enhancedAuditLog.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: backend, frontend

Update RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: frontend

정돈
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: frontend

사이드바 메뉴 패널 오른쪽 선 제거
  docker-compose.yml
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
Due: frontend

UI 시각적 오류 수정
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

UI Hang 문제 수정(실시간 이벤트 스트림에서 무한루프 발생)
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: frontend
