Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

chore: grant execution permission to packages/frontend/docker-entrypoint.sh
  packages/frontend/docker-entrypoint.sh
Due: none

feat(argus): user profile behavioral insights - lifecycle badge, churn risk, activity heatmap, session stats, top products, starred users
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

feat(argus): activity sparkline in user list + disable auto-format workflow
  .github/workflows/format.yml
  packages/argus/src/routes/user-profiles.ts
  packages/frontend/src/services/argus/argusTypes.ts
Due: frontend

fix(argus): re-apply sparkline UI after merge conflict rollback
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

fix(argus): use ArgusSparkline SVG for user list activity chart (smooth line)
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

feat(argus): split event count and sparkline into separate columns
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

fix: prevent Events header wrap with nowrap
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

fix: add Activity header to sparkline column
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

i18n: add missing userProfiles localization keys to ko/en/zh (activityTrend, starred, otherUsers)
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(argus): churn risk detection (Phase 2) - backend SQL + churn_risk score + reactivation badge + i18n ko/en/zh
  packages/argus/src/routes/user-profiles.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
  packages/frontend/src/services/argus/argusTypes.ts
Due: frontend

refactor(argus): use util formatRelativeTime/formatDuration + fix all i18n hardcoding in ArgusUserProfilesPage
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

fix(argus): colSpan 13 for otherUsers divider and empty state rows
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

feat: redesign user profiles and detailed profile pages with tab sync and routing fixes
  packages/argus-optic/src/datasets/index.ts
  packages/argus-optic/src/datasets/user-profiles.ts
  packages/argus/src/routes/user-profiles.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/argus/query-aql/fields.ts
  packages/frontend/src/components/argus/query-aql/index.ts
  packages/frontend/src/components/userProfiles/UserProfileDetailLeft.tsx
  packages/frontend/src/components/userProfiles/UserProfileEventFeed.tsx
  packages/frontend/src/components/userProfiles/UserProfileFinanceTab.tsx
  packages/frontend/src/components/userProfiles/UserProfileListItem.tsx
  packages/frontend/src/components/userProfiles/UserProfilePropsTab.tsx
  packages/frontend/src/components/userProfiles/UserProfileSessionsTab.tsx
  packages/frontend/src/components/userProfiles/UserProfileStatsBar.tsx
  packages/frontend/src/pages/argus/ArgusUserProfileDetailPage.tsx
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.styles.tsx
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
  packages/frontend/src/services/argus/argusAnalytics.ts
  packages/frontend/src/services/argus/argusTypes.ts
Due: frontend

feat: Relocate user properties to left sidebar, sync and repair localizations
  packages/frontend/src/components/userProfiles/UserProfileDetailLeft.tsx
  packages/frontend/src/components/userProfiles/UserProfilePropsTab.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusUserProfileDetailPage.tsx
Due: frontend

style: Unify layout margins on user profiles list page
  packages/frontend/src/pages/argus/ArgusUserProfilesPage.tsx
Due: frontend

refactor(argus): rename simulator scripts for clarity
  packages/argus/scripts/sim-analytics-activities.ts
  packages/argus/scripts/sim-fulldata.ts
  packages/argus/scripts/sim-tracking-batch-small.ts
  packages/argus/scripts/sim-tracking-batch.mjs
  packages/argus/scripts/sim-tracking-realtime.ts
Due: none

feat(feedback): redesign list item + add avatar_url support
  packages/argus/migrations/clickhouse/019_alter_user_feedback_avatar_url.sql
  packages/argus/src/routes/feedback.ts
  packages/frontend/src/pages/argus/components/FeedbackListItem.tsx
  packages/frontend/src/services/argus/argusTypes.ts
Due: frontend

feat(argus): external issue tracker bidirectional sync and activity timeline integration
  packages/argus/scripts/reseed-feedback.ts
  packages/argus/scripts/sim-tracking-realtime.ts
  packages/argus/scripts/simulate/seed-feedback-full.ts
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/issues.ts
  packages/argus/src/routes/realtime.ts
  packages/argus/src/services/trackerAdapter.ts
  packages/backend/src/database/migrations/080_argus_issues_external_link.js
  packages/backend/src/database/migrations/081_fix_issue_activity_column_types.js
  packages/frontend/src/components/argus/ActivityTimeline.tsx
  packages/frontend/src/components/argus/IssueTrackerWidget.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/components/FeedbackDetailPanel.tsx
  packages/frontend/src/pages/argus/components/FeedbackDialogs.tsx
  packages/frontend/src/services/argus/argusIssues.ts
  packages/frontend/src/services/argus/argusTypes.ts
Due: backend, frontend

feat(argus): lifecycle trends + user profiles stats + simulate-data consolidation
  packages/argus/scripts/reseed-feedback.ts
  packages/argus/scripts/seed-feedback-links.ts
  packages/argus/scripts/sim-analytics-activities.ts
  packages/argus/scripts/simulate/user-pool.ts
  packages/argus/src/routes/issues.ts
  packages/argus/src/routes/lifecycle.ts
  packages/argus/src/routes/user-profiles.ts
  packages/backend/src/database/migrations/082_argus_issue_links.js
  packages/frontend/src/components/argus/IssueTrackerWidget.tsx
  packages/frontend/src/components/userProfiles/UserProfileStatsBar.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/argus/ArgusLifecyclePage.tsx
  packages/frontend/src/services/argus/argusAnalytics.ts
  packages/frontend/src/services/argus/argusIssues.ts
  packages/frontend/src/services/argus/argusTypes.ts
  packages/frontend/src/services/argusService.ts
Due: backend, frontend

fix(argus): feedback detail issue link + activity refresh + GitHub webhook events
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/github-app.ts
  packages/frontend/src/components/argus/ActivityTimeline.tsx
  packages/frontend/src/pages/argus/ArgusFeedbackPage.tsx
  packages/frontend/src/pages/argus/components/IssueDetailSidebar.tsx
  packages/frontend/src/services/argus/argusTypes.ts
Due: frontend

refactor: move inline CREATE TABLE DDL to proper migrations (083-090)
  packages/argus/src/routes/feedback.ts
  packages/argus/src/routes/github-app.ts
  packages/argus/src/routes/global-integrations.ts
  packages/argus/src/routes/issue-trackers.ts
  packages/argus/src/routes/notification-channels.ts
  packages/backend/src/database/migrations/083_argus_notification_channels.js
  packages/backend/src/database/migrations/084_argus_issue_trackers.js
  packages/backend/src/database/migrations/085_argus_global_integrations.js
  packages/backend/src/database/migrations/086_argus_github_installations.js
  packages/backend/src/database/migrations/087_argus_spam_keywords.js
  packages/backend/src/database/migrations/088_argus_feedback_activity.js
  packages/backend/src/database/migrations/089_argus_feedback_issue_links.js
  packages/backend/src/database/migrations/090_password_reset_tokens.js
  packages/backend/src/scripts/create-password-reset-table.ts
Due: backend

fix: wrap migration 082 data migration in try-catch for fresh install safety
  packages/backend/src/database/migrations/082_argus_issue_links.js
Due: backend

fix: add 067a migration to create Argus core tables from SQL files before ALTER migrations
  packages/backend/src/database/migrations/067a_argus_core_tables.js
Due: backend
