Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

정돈
  .env
  archived/remote-config-missing-keys.md
  archived/run-idle-server.ps1
  docker-compose.yml
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  setup-env.ps1
Due: frontend

Update remoteConfigService.ts
  packages/frontend/src/services/remoteConfigService.ts
Due: frontend

bullboard 다른 컴퓨터에서 안나오는 문제 수정
  .env
  .env.example
  EASY_SETUP.md
  EASY_SETUP_KO.md
  EASY_SETUP_ZH.md
  archived/HTTPS_DEPLOYMENT_GUIDE.md
  archived/add-firewall-rules.ps1
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/src/app.ts
  packages/frontend/nginx.conf
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/frontend/vite.config.ts
  setup-env.ps1
  setup-env.sh
Due: backend, frontend

채팅 안되던 문제 수정! (역시 gpt5인가!)
  packages/backend/src/routes/chat/index.ts
  packages/frontend/src/services/chatWebSocketService.ts
Due: backend, frontend

서비스 디스커버리 상태 처리 제대로 안되는 문제점들 수정
  .env
  .env.backup.20251118_193237
  EASY_SETUP_KO.md
  archived/run-idle-server.ps1
  archived/start-50-idle-servers.ps1
  archived/test-etcd-inactive-ttl.ps1
  archived/test-redis-ttl-expiration.ps1
  packages/backend/src/index.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  setup-env.ps1
  setup-env.sh
Due: backend

서비스 디스커버리 버그 수정
  archived/test-etcd-no-response-short.ps1
  archived/test-etcd-no-response.ps1
  archived/test-inactive-heartbeat.ps1
  packages/backend/src/index.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
Due: backend

로그 메시지 배경 색상 버그 수정
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-etcd.json
  docker/grafana/dashboards/gatrix-infrastructure-services.json
  docker/grafana/dashboards/gatrix-logs.json
  docker/grafana/dashboards/gatrix-sdk-metrics.json
  docker/prometheus/prometheus.base.yml
Due: none

그라파나 대시보드 개선
  docker/grafana/dashboards/gatrix-logs.json
  docker/grafana/dashboards/gatrix-loki.json
  docker/grafana/dashboards/gatrix-sdk-metrics.json
  docker/prometheus/prometheus.base.yml
Due: none

etag 응답 캐싱
  docker/grafana/dashboards/gatrix-sdk-metrics.json
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/routes/public/monitoring.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/backend/src/utils/serverSdkEtagCache.ts
  packages/sdks/server-sdk/eslint.config.cjs
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixSDK.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/src/utils/logger.ts
  packages/sdks/server-sdk/src/utils/metrics.ts
  packages/sdks/server-sdk/src/utils/sdkMetrics.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/tests/GatrixSDK.test.ts
  packages/sdks/server-sdk/yarn.lock
Due: backend

sdk 정돈
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixSDK.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/index.ts
Due: none

캐싱이슈 수정
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/database/migrations/007_create_surveys.js
  packages/backend/src/services/CacheService.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/vite.config.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: backend

sdk 함수 시그니처 정돈
  packages/sdks/dotnet-sdk/README.md
  packages/sdks/dotnet-sdk/src/GatrixServerSDK.cs
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/lobbyd.ts
  packages/sdks/server-sdk/test-servers/worldd.ts
  packages/sdks/server-sdk/tests/GatrixSDK.test.ts
Due: none

sdk 정돈
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/MaintenanceService.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/services/WhitelistService.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: backend

정돈
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/TranslationController.ts
  packages/backend/src/database/migrations/041_update_world_server_address_comment.js
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/utils/asyncUtils.ts
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/types/gameWorld.ts
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/utils/time.ts
  packages/sdks/server-sdk/test-servers/orchestrator.ts
Due: backend, frontend

sdk 정돈
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/MaintenanceService.ts
Due: none

sdk 최신화
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/tests/GatrixSDK.test.ts
Due: none

점검 상태 설정 UI/UX 변경
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/042_add_gameworld_maintenance_options.js
  packages/backend/src/models/GameWorld.ts
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/services/gameWorldService.ts
  packages/frontend/src/types/gameWorld.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/cache/MaintenanceWatcher.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend, frontend

점검상태 개선
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/cache/MaintenanceWatcher.ts
  packages/sdks/server-sdk/test-servers/maintenance-watcher-test.ts
  packages/sdks/server-sdk/tsconfig.test-servers.json
Due: frontend

점검 설정 체계 마무리
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/MaintenanceWatcher.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/test-servers/maintenance-watcher-test.ts
Due: none

infraSettings 추가
  package-lock.json
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/043_add_gameworld_infra_settings.js
  packages/backend/src/models/GameWorld.ts
  packages/frontend/package.json
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/common/Json5Editor.tsx
  packages/frontend/src/components/common/JsonEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/types/gameWorld.ts
  packages/sdks/server-sdk/src/types/api.ts
  yarn.lock
Due: backend, frontend

게임월드 설정에 인프라설정도 같이 할수 있게 개선
  package-lock.json
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/044_change_infrasettings_to_text.js
  packages/backend/src/models/GameWorld.ts
  packages/frontend/package.json
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/common/Json5Editor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/types/gameWorld.ts
  yarn.lock
Due: backend, frontend

월드별 인프라셋팅 에디터 개선
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/frontend/package.json
  packages/frontend/src/components/common/Json5Editor.tsx
  packages/frontend/src/components/gameWorlds/GameWorldSDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  yarn.lock
Due: backend, frontend

api/v1/client/client-version api lastest 버전 조회 기능 추가
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
Due: backend, frontend

점검 상태 관련 정돈
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/routes/server/index.ts
  packages/frontend/src/components/admin/ClientVersionGuideDrawer.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package-lock.json
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/scripts/deploy-to-game-server.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/cache/MaintenanceWatcher.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/ServiceMaintenanceService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/test-servers/lobbyd.ts
Due: backend, frontend

sdk 배포 스크립트 보완
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package-lock.json
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/scripts/deploy-to-game-server.ts
Due: none

도커 빌드 이슈 처리
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/chat-server/package.json
  packages/chat-server/src/app.ts
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  packages/event-lens/package.json
  packages/event-lens/src/index.ts
  yarn.lock
Due: backend

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

문서화 업데이트
  README.md
  docs/docs/deployment/docker.md
Due: none

도커내 server-sdk 빌드 누락 처리
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
Due: none

sdks는 workspace가 아니므로 직접 빌드해야함.
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
Due: none

server-sdk 도커 이미지 빌드시 오류 수정
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
Due: none

코드정돈
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  packages/backend/Dockerfile.dev
  packages/backend/nodemon.json
  packages/backend/src/index.ts
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  packages/event-lens/nodemon.json
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/vite.config.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/cache/MaintenanceWatcher.ts
  yarn.lock
Due: backend, frontend

UI 이슈들 처리
  packages/frontend/public/about-ko.html
  packages/frontend/public/about-zh.html
  packages/frontend/public/about.html
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/common/NotFoundPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/logger.ts
Due: frontend

DATA_ROOT 볼륨 셋업기능 추가
  .env.example
  EASY_SETUP.md
  EASY_SETUP_KO.md
  EASY_SETUP_ZH.md
  docker-compose.dev.yml
  docs/docs/deployment/docker.md
  setup-env.ps1
  setup-env.sh
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Update package.json
  packages/sdks/server-sdk/package.json
Due: none

틱톡 영상 링크 추가 가능하게 개선
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
Due: frontend

인게임 팝업 공지 감추기 안되는 버그 수정
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
Due: backend

Update index.ts
  packages/backend/src/index.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
