Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

채팅창 스크롤 안되는 문제 수정
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
Due: frontend

중간커밋
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/types/chat.ts
Due: frontend

Update ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
Due: frontend

채널 생성 안되는 문제점 수정
  packages/backend/src/routes/chat/index.ts
  packages/chat-server/src/config/index.ts
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/models/Channel.ts
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/types/chat.ts
Due: backend, frontend

채널목록 펼치기/접기
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

Update ChatPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

채널 초대 기능 추가
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/users.ts
  packages/backend/src/services/userService.ts
  packages/chat-server/src/controllers/DirectMessageController.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/controllers/UserPrivacyController.ts
  packages/chat-server/src/database/migrations/20241217000007_create_user_privacy_settings.js
  packages/chat-server/src/database/migrations/20241217000008_create_channel_invitations.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/models/ChannelInvitation.ts
  packages/chat-server/src/models/UserPrivacySettings.ts
  packages/chat-server/src/routes/channels.ts
  packages/chat-server/src/routes/direct-messages.ts
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/invitations.ts
  packages/chat-server/src/routes/privacy.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/GatrixApiService.ts
  packages/chat-server/src/types/chat.ts
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/PrivacySettings.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: backend, frontend

UI 정돈
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/RemoteConfigHistoryPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

UI 개선
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

UI 정돈
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

UI 정돈
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

다른 페이지갔다오면 채팅 메시지 안나오는 문제 수정
  packages/frontend/src/contexts/ChatContext.tsx
Due: frontend

url 미리보기 기능 구현
  package-lock.json
  packages/chat-server/package.json
  packages/frontend/src/components/LinkPreview.css
  packages/frontend/src/components/LinkPreview.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/LinkPreviewCard.tsx
  packages/frontend/src/components/chat/MessageContent.tsx
  packages/frontend/src/services/linkPreviewService.ts
  packages/frontend/src/types/chat.ts
  packages/frontend/src/utils/linkPreview.ts
  yarn.lock
Due: frontend

프리뷰 기능 강화
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/linkPreview.ts
  packages/chat-server/src/services/LinkPreviewService.ts
  packages/frontend/src/utils/linkPreview.ts
Due: frontend

링크 preview 개선
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/linkPreview.ts
  packages/chat-server/src/services/LinkPreviewService.ts
  packages/frontend/src/components/LinkPreview.tsx
  packages/frontend/src/components/admin/InvitationForm.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/MessageContent.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/components/chat/__tests__/ChatScrollBehavior.test.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/platformDefaultsService.ts
  packages/frontend/src/styles/chat.css
  packages/frontend/src/utils/linkPreview.ts
Due: frontend

채팅 관련 기능 작업중
  packages/backend/src/app.ts
  packages/chat-server/migrations/005_create_invitations_and_privacy.sql
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/database/migrations/20241217000007_create_user_privacy_settings.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/models/UserPrivacySettings.ts
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/src/types/chat.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

로그정돈
  package-lock.json
  packages/backend/public/favicon.ico
  packages/backend/src/routes/index.ts
  packages/chat-server/.env.example
  packages/chat-server/package.json
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/config/index.ts
  packages/chat-server/src/config/logger.ts
  packages/chat-server/src/config/redis.ts
  packages/chat-server/src/controllers/DirectMessageController.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/controllers/MessageController.ts
  packages/chat-server/src/controllers/UserPrivacyController.ts
  packages/chat-server/src/index.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/middleware/requestLogger.ts
  packages/chat-server/src/models/UserPrivacySettings.ts
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/GatrixApiService.ts
  packages/chat-server/src/services/MetricsService.ts
  packages/chat-server/src/services/UserSyncService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  yarn.lock
Due: backend, frontend

knex 디버깅 기능 외부에서 설정할수 있도록
  packages/backend/.env.example
  packages/backend/src/config/index.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/config/index.ts
Due: backend

Update knex.ts
  packages/backend/src/config/knex.ts
Due: backend

favicon 이슈 해소
  packages/backend/src/config/knex.ts
  packages/frontend/public/favicon.ico
Due: backend

MUI 최신 버전으로 교체
  package-lock.json
  packages/frontend/fix-mui-grid.cjs
  packages/frontend/package.json
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/WhitelistOverview.tsx
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/components/common/ColorPicker.tsx
  packages/frontend/src/components/jobs/JobExecutionHistory.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboard.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboardNew.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  yarn.lock
Due: frontend

로컬라이제이션 fallback처리 제거(불필요함!)
  fix-t-fallbacks.cjs
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChannelList.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/components/chat/FileUpload.tsx
  packages/frontend/src/components/chat/MentionAutocomplete.tsx
  packages/frontend/src/components/chat/MessageList.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/components/chat/ReadReceipts.tsx
  packages/frontend/src/components/chat/SimpleMessageList.tsx
  packages/frontend/src/components/chat/UserPresence.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboardNew.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

로컬라이징 단순화
  fix-t-fallbacks.cjs
  packages/frontend/src/components/chat/FileUpload.tsx
  packages/frontend/src/components/chat/MessageList.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/components/chat/ReadReceipts.tsx
  packages/frontend/src/components/chat/TypingIndicator.tsx
  packages/frontend/src/components/chat/UserPresence.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

Update channels.ts
  packages/chat-server/src/routes/channels.ts
Due: none

Update UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

backend -> chat-proxy 통신 안되는 이슈 수정!
  package.json
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/routes/chat/index.ts
  packages/chat-server/.env.example
  packages/chat-server/src/app.ts
  packages/chat-server/src/controllers/ChannelController.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/models/Channel.ts
  packages/frontend/src/components/admin/WhitelistOverview.tsx
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/PrivacySettings.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/components/chat/UserStatusPicker.tsx
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/components/jobs/JobExecutionHistory.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboard.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboardNew.tsx
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CustomQueueMonitorPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  scripts/reset-chat-data.js
  test-backend-to-chat.js
  test-chat-server.js
  test-markasread.js
Due: backend, frontend

chat proxy 처리 안되는 문제점 수정(처리 순서 이슈)
  packages/backend/src/app.ts
  packages/backend/src/controllers/ServerUserController.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/index.ts
  packages/chat-server/src/controllers/DirectMessageController.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/services/MetricsService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: backend, frontend

채팅 관련 오류 토스트 처리 통일
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/types/chat.ts
Due: frontend

초대기능 정상화
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/routes/admin/admin.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/AdvancedMessageInput.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatWebSocketService.ts
Due: backend, frontend

채널 참여 안되는 문제 수정됨
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/database/migrations/20241217000008_create_channel_invitations.js
  packages/chat-server/src/database/migrations/20241217000009_fix_invitation_unique_constraint.js
  packages/chat-server/src/models/Channel.ts
  packages/chat-server/src/models/ChannelInvitation.ts
  packages/chat-server/src/routes/channels.ts
  packages/chat-server/src/services/BroadcastService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

로컬라이징 이슈 처리
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/services/chatWebSocketService.ts
Due: frontend

초대관련 버그 수정
  packages/chat-server/src/controllers/InvitationController.ts
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/NotificationManager.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/types/chat.ts
Due: frontend

채팅관련 버그 수정
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/InvitationManager.tsx
  packages/frontend/src/components/chat/MessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
  packages/frontend/src/types/chat.ts
Due: frontend

중간커밋
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/routes/auth/auth.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/contexts/ChatContext.tsx
Due: backend, frontend

채팅서버에서 토큰 처리 방법 변경(gatrix 의존성 제거, 단독 실행이 가능하도록 개선)
  package-lock.json
  packages/backend/package.json
  packages/backend/src/config/index.ts
  packages/backend/src/controllers/ChatSyncController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/chat-server/package.json
  packages/chat-server/scripts/reset-chat-data.js
  packages/chat-server/scripts/simple-reset.sql
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/index.ts
  packages/chat-server/src/config/redis.ts
  packages/chat-server/src/controllers/ApiTokenController.ts
  packages/chat-server/src/controllers/DirectMessageController.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/chat-server/src/controllers/UserController.ts
  packages/chat-server/src/database/migrations/20241217000009_fix_invitation_unique_constraint.js
  packages/chat-server/src/database/migrations/20241222_create_api_tokens.js
  packages/chat-server/src/database/migrations/20241222_remove_gatrix_dependency.js
  packages/chat-server/src/index.ts
  packages/chat-server/src/middleware/apiAuth.ts
  packages/chat-server/src/middleware/auth.ts
  packages/chat-server/src/models/Message.ts
  packages/chat-server/src/routes/apiTokens.ts
  packages/chat-server/src/routes/index.ts
  packages/chat-server/src/routes/users.ts
  packages/chat-server/src/services/ApiTokenService.ts
  packages/chat-server/src/services/CacheService.ts
  packages/chat-server/src/services/UserService.ts
  packages/chat-server/src/services/UserSyncService.ts
  packages/chat-server/src/services/WebSocketService.ts
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  scripts/create-chat-db.js
  yarn.lock
Due: backend, frontend

채팅 인증 관련 이슈들 처리
  packages/backend/src/controllers/ChatChannelController.ts
  packages/chat-server/debug-tokens.js
  packages/chat-server/src/middleware/apiAuth.ts
  packages/chat-server/src/services/ApiTokenService.ts
  packages/chat-server/src/services/UserService.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
