Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: Redis connection improvements, CCU scoreboard enhancements, player connections refactor
  packages/backend/src/config/redis.ts
  packages/backend/src/controllers/player-connections-controller.ts
  packages/backend/src/routes/admin/player-connections.ts
  packages/backend/src/services/ccu-polling-service.ts
  packages/backend/src/services/flag-streaming-service.ts
  packages/backend/src/services/pub-sub-service.ts
  packages/backend/src/services/serviceDiscovery/redis-service-discovery-provider.ts
  packages/chat-server/src/config/redis.ts
  packages/edge/src/services/environment-registry.ts
  packages/edge/src/services/flag-streaming-service.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/event-lens/src/config/redis.ts
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/services/playerConnectionService.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-listener.ts
Due: backend, frontend

fix: various improvements and fixes
  packages/backend/src/controllers/server-feature-flag-controller.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/routes/admin/features/context-field-usage.ts
  packages/backend/src/routes/admin/features/index.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/service-discovery.ts
  packages/backend/src/services/context-field-usage-service.ts
  packages/backend/src/services/queue-service.ts
  packages/backend/src/services/scheduler-jobs.ts
  packages/backend/src/services/serviceDiscovery/redis-service-discovery-provider.ts
  packages/edge/public/game-service-notices.html
  packages/edge/src/services/metrics-aggregator.ts
  packages/edge/src/utils/evaluation-helper.ts
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/common/PageContentLoader.tsx
  packages/frontend/src/components/features/DiscoveredContextFieldsTab.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/services/contextFieldUsageService.ts
  packages/sdks/client-sdks/gatrix-unity-client-sdk/Simplit/UserSettings/Layouts/default-6000.dwlt
  payload.json
Due: backend, frontend

fix: service discovery meta persistence with TTL and error code handling
  packages/backend/src/routes/server/service-discovery.ts
  packages/backend/src/services/serviceDiscovery/redis-service-discovery-provider.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/index.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-discovery-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/types/api.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/utils/errors.ts
Due: backend

feat: player connections controller improvements
  packages/backend/src/controllers/player-connections-controller.ts
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/services/playerConnectionService.ts
Due: backend, frontend

fix: use serverSDKAuth for register/status routes to resolve environmentId
  packages/backend/src/routes/server/service-discovery.ts
Due: backend

fix: revert register/status to serverAuthBase, resolve environmentId from token inline
  packages/backend/src/routes/server/service-discovery.ts
Due: backend

fix: GatrixEdgesPage - remove square borders, use EmptyPlaceholder for empty state
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
Due: frontend

fix: resolve unsecured token environmentId to ULID, add environment fallback in ServerList, unify search bar layout across all pages
  packages/backend/src/routes/server/service-discovery.ts
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: backend, frontend

fix: etcd provider auto-recover service from SDK backup data on updateStatus, add meta repair
  packages/backend/src/services/serviceDiscovery/etcd-service-discovery-provider.ts
  packages/frontend/src/components/admin/AllCharactersTab.tsx
  packages/frontend/src/components/admin/AllPlayersTab.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: backend, frontend

feat: add SimplePagination to UnknownFlagsPage, use Card variant=outlined pattern
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
Due: frontend

feat: 전광판 대항해시대 테마 배경 + 매출 상세 뷰 + KRW 환율 표시
  packages/backend/src/controllers/player-connections-controller.ts
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CosmicBackground.tsx
  packages/frontend/src/components/admin/OceanBackground.tsx
  packages/frontend/src/components/admin/PaymentStatsDetail.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/playerConnectionService.ts
Due: backend, frontend

feat: 전광판 배경 프리미엄 업그레이드 - 몽환적 대항해시대
  packages/frontend/src/components/admin/OceanBackground.tsx
Due: frontend

feat: swap countdown/CCU backgrounds, fix skip transition, improve payment stats readability
  packages/frontend/public/images/countdown_ocean_bg.png
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/components/admin/PaymentStatsDetail.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

fix: smooth countdown→CCU transition, remove localStorage persistence, improve payment stats readability
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

feat: scoreboard bg settings, login queue, payment overlay, presets
  packages/backend/src/controllers/player-connections-controller.ts
  packages/backend/src/routes/admin/player-connections.ts
  packages/frontend/public/images/bg_galleon_sunset.png
  packages/frontend/public/images/bg_naval_battle.png
  packages/frontend/public/images/bg_trading_port.png
  packages/frontend/public/images/countdown_ocean_bg.png
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/components/admin/OceanBackground.tsx
  packages/frontend/src/components/admin/PaymentStatsDetail.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/services/playerConnectionService.ts
Due: backend, frontend

feat: scoreboard UI - auto-hide buttons (2s), sparkline toggle, bg auto-detect, Northern Lights preset
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

feat: add 6 Age of Sail bg images, localize preset labels (en/ko/zh), cursor auto-hide on idle
  packages/frontend/public/images/bg_dawn_harbor.png
  packages/frontend/public/images/bg_pirate_battle.png
  packages/frontend/public/images/bg_seagull_voyage.png
  packages/frontend/public/images/bg_storm_passage.png
  packages/frontend/public/images/bg_trade_fleet.png
  packages/frontend/public/images/bg_voyage_horizon.png
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

feat: add Golden Trade and Spice Route bg presets with i18n
  packages/frontend/public/images/bg_golden_trade.png
  packages/frontend/public/images/bg_spice_route.png
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

fix: strengthen dark overlay and text shadows for readability on bright backgrounds
  packages/frontend/src/components/admin/CcuScoreboard.tsx
Due: frontend

fix: rewrite SlideshowBackground with A/B layers, fix IIFE state reset, add useMemo
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/components/admin/SlideshowBackground.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

fix: A/B layer crossfade, shuffle images, IIFE state fix
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
  packages/frontend/src/components/admin/SlideshowBackground.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

fix: per-layer portrait side to prevent position jump during crossfade
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

style: push portrait images further to screen edges
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

style: push portraits further to edges (mx: -10)
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

perf: use 200px CDN thumbnails in dialog (261MB -> 2.5MB), push portraits further to edges (-8%)
  packages/frontend/src/components/admin/SlideshowBackground.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
Due: frontend

style: reduce portrait edge offset to -3% to prevent cropping
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

style: premium multi-layer gradient background for portrait slides
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

style: much stronger portrait gradient colors
  packages/frontend/src/components/admin/SlideshowBackground.tsx
Due: frontend

fix: countdown always uses OceanBackground regardless of scoreboard bg settings
  packages/frontend/src/components/admin/CountdownScoreboard.tsx
Due: frontend

feat: truncate long game server / patch URLs in client versions table
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: frontend

feat: persist CCU settings to localStorage, improve slideshow & payment detail UI
  packages/frontend/src/components/admin/CcuGraphTab.tsx
  packages/frontend/src/components/admin/DashboardCcuChart.tsx
  packages/frontend/src/components/admin/PaymentStatsDetail.tsx
  packages/frontend/src/components/admin/SlideshowBackground.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(coupon): prevent duplicate code generation with 3-layer dedup strategy
  packages/backend/src/services/coupon-settings-service.ts
  packages/backend/src/services/jobs/coupon-generation-job.ts
  packages/backend/src/utils/coupon-code-generator.ts
Due: backend

feat: online players tab - row height unification, total counter, export feature
  packages/backend/src/controllers/player-connections-controller.ts
  packages/backend/src/routes/admin/service-discovery.ts
  packages/frontend/index.html
  packages/frontend/src/components/admin/AllCharactersTab.tsx
  packages/frontend/src/components/admin/AllPlayersTab.tsx
  packages/frontend/src/components/admin/CcuGraphTab.tsx
  packages/frontend/src/components/admin/CcuScoreboard.tsx
  packages/frontend/src/components/admin/PlayerListTab.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/services/playerConnectionService.ts
Due: backend, frontend

feat: Update CMS management dashboard to support separate binaryCode column and sorting
  package.json
  packages/backend/src/controllers/coupon-settings-controller.ts
  packages/backend/src/controllers/player-connections-controller.ts
  packages/backend/src/controllers/ripple-cms-controller.ts
  packages/backend/src/models/character-history.ts
  packages/backend/src/models/subscriber-history.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/player-connections.ts
  packages/backend/src/routes/admin/ripple-cms.ts
  packages/backend/src/services/coupon-settings-service.ts
  packages/backend/src/services/queue-service.ts
  packages/backend/src/services/scheduler-jobs.ts
  packages/backend/src/services/subscriber-polling-service.ts
  packages/frontend/public/animations/loading-dots.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/AllPlayersTab.tsx
  packages/frontend/src/components/admin/CharacterGraphTab.tsx
  packages/frontend/src/components/admin/DashboardCcuChart.tsx
  packages/frontend/src/components/admin/RippleTrackingDialog.tsx
  packages/frontend/src/components/admin/SubscriberGraphTab.tsx
  packages/frontend/src/components/icons/RippleIcon.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/PlayerConnectionsPage.tsx
  packages/frontend/src/pages/admin/RippleHistoryPage.tsx
  packages/frontend/src/pages/admin/RippleMonitorPage.tsx
  packages/frontend/src/pages/game/CmsManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/cmsService.ts
  packages/frontend/src/services/couponService.ts
  packages/frontend/src/services/playerConnectionService.ts
  packages/frontend/src/services/rippleService.ts
  packages/frontend/src/utils/chartCrosshairPlugin.ts
  packages/shared/src/permissions/categories.ts
  packages/shared/src/permissions/constants.ts
  yarn.lock
Due: backend, frontend

fix: CMS diff API route, version sync binaryCode normalization, history diff UI improvements, i18n keys
  packages/backend/src/controllers/ripple-cms-controller.ts
  packages/backend/src/routes/admin/ripple-cms.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/CmsManagementPage.tsx
  packages/frontend/src/services/cmsService.ts
Due: backend, frontend

fix: CMS/Ripple environment scope - stop admind fallback to wrong env, re-fetch on env change
  packages/backend/src/controllers/ripple-cms-controller.ts
  packages/frontend/src/pages/game/CmsManagementPage.tsx
Due: backend, frontend

fix: environment-aware admind detection for CMS/Ripple pages with error codes, loading guard, 3-lang i18n
  packages/backend/src/controllers/ripple-cms-controller.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/RippleHistoryPage.tsx
  packages/frontend/src/pages/admin/RippleMonitorPage.tsx
  packages/frontend/src/pages/game/CmsManagementPage.tsx
Due: backend, frontend

fix: hide AI Chat FAB when AI is disabled in system settings
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
