Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(ui): Disable Payload tab when variantType is not set
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat(ui): Add baselinePayload validation - require value before saving
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Add variantType 'none' option and fix context field createdBy
  packages/backend/src/controllers/ContextFieldControllerNew.ts
  packages/backend/src/types/express.d.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

feat: Add variantType 'none' migration and seed scripts
  packages/backend/scripts/seed-context-fields.ts
  packages/backend/scripts/seed-feature-flags.ts
  packages/backend/src/database/migrations/040_add_none_to_variant_type.js
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

fix: Remove Tooltip wrapper from Payload tab to fix click issue
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Add variantType 'none' option to flag creation with proper localization
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

fix: Default variantType to 'none' in flag creation dialog handlers
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat: Improve variant type change handling with proper payload reset and warnings
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: Save button enabled when type or payload changes, skip payload check for none type
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: Show warning when changing to 'none' type from other types
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: Payload tab always enabled, show detailed strategy variants warning when changing to none
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Improve variant type 'none' UI handling - hide variant type display, show navigation link to Payload tab
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat: Add cancel button and auto-reset payload changes when switching tabs, fix variants table name
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

feat: Change default variant name to 'disabled', add reserved name validation
  packages/backend/src/controllers/ClientController.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

feat: Add segment event handling for real-time cache sync, fix env card spacing and empty metrics donut style, remove boolean from PayloadType
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
Due: backend, frontend

refactor: Remove legacy constraint operators from SDK - only use prefixed format
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: none

feat: Add str_regex operator for regex matching in constraints
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: none

refactor: Clean up context fields - remove environmentName, country, city, userAgent and rename ip to remoteAddress
  packages/backend/scripts/seed-context-fields.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: none

chore: Add reset-feature-flags script, update seed-context-fields with cleaned field list
  packages/backend/scripts/reset-feature-flags.ts
Due: none

refactor: Remove unused VariantOverride feature from SDK and backend
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
Due: backend

fix: isActive is for UI display only, not for flag/segment evaluation
  packages/backend/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend

refactor: rename flagType/featureType to flagType(purpose)/flagUsage(classification)
  .agent/workflows/migrations.md
  packages/backend/src/database/migrations/041_add_feature_type_column.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
Due: backend, frontend

Enhance Remote Config UI and add localization
  packages/backend/src/database/migrations/021_feature_flags_system.js
  packages/backend/src/database/migrations/027_add_variant_type_to_feature_flags.js
  packages/backend/src/database/migrations/039_add_version_to_feature_flags.js
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

Fix JsonEditor infinite loop, improve payload size UI, and update localization
  packages/frontend/src/components/common/JsonEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(frontend): Implement Feature Flag History tab and improve UI metrics
  packages/frontend/src/components/features/FeatureFlagAuditLogs.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

refactor(playground): Consolidate results into flag-based table with environment columns
  packages/backend/src/database/migrations/042_add_baseline_payload_to_feature_environments.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/common/JsonEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

fix(playground): Show noConfig for remote config items without variant
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(playground): Use JsonIcon (DataObject) for remote config items
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

feat(playground): Add Test in Playground action from flag list
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

refactor(playground): Remove auto-execute, reduce dialog width
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat(playground): Add Playground button to environment cards
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: Improve playground button style and add date fieldType localization
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix(playground): Use flag.isEnabled instead of environments[0].isEnabled
  packages/backend/src/routes/admin/features.ts
Due: backend

feat(playground): UI improvements
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(evaluation): Return disabled variant with baselinePayload when flag is disabled
  packages/backend/src/routes/admin/features.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend

feat(feature-flags): Enhance environment variants editor UI and disabled flag evaluation
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend, frontend

fix(feature-flags): Add flagUsage filter support in feature flags list page
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat(playground): enhance evaluation display with skipped checks, context table, and improved AND chip styling
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
