Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

감사로그 디테일 보기 추가
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
Due: frontend

감사로그 개선
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
Due: frontend

클라이언트 크래시 로그 기능 개선
  .gitignore
  crashes.md
  packages/backend/data/sample-crashes.sql
  packages/backend/package.json
  packages/backend/scripts/seed-crash-events.ts
  packages/backend/scripts/test-crash-events-api.js
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashController.ts
  packages/backend/src/controllers/CrashEventController.ts
  packages/backend/src/database/migrations/002_add_maintenance_fields.js
  packages/backend/src/database/migrations/005_remote_config_final_system.js
  packages/backend/src/database/migrations/006_create_crashes_tables.js
  packages/backend/src/database/migrations/007_create_crashes_tables.js
  packages/backend/src/index.ts
  packages/backend/src/models/ClientCrash.ts
  packages/backend/src/models/CrashEvent.ts
  packages/backend/src/routes/admin/crashEvents.ts
  packages/backend/src/routes/admin/crashes.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/types/crash.ts
  packages/backend/src/utils/semver.ts
  packages/backend/src/utils/ulid.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/components/StackTraceViewer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/services/crashService.ts
  packages/frontend/src/types/crash.ts
Due: backend, frontend

크래시 로그 뷰어 개선
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/hooks/usePageState.ts
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/types/crash.ts
  yarn.lock
Due: frontend

필터에서 any of 안되는 문제 수정
  packages/backend/src/controllers/CrashEventController.ts
  packages/frontend/src/components/StackTraceViewer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
Due: backend, frontend

클라이언트 크래시 api 로 전송 문제있는것들 수정
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/ClientCrash.ts
  packages/backend/src/models/CrashEvent.ts
  packages/backend/src/routes/client/client.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
Due: backend, frontend

크래시 이벤트 정리 및 버그 수정
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashController.ts
  packages/backend/src/models/CrashEvent.ts
  packages/backend/src/models/CrashInstance.ts
  packages/backend/src/routes/admin/crashes.ts
  packages/backend/src/routes/admin/index.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashesPage.tsx
  packages/frontend/src/services/crashService.ts
Due: backend, frontend

user agent 추적 추가
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashEventController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/services/crashService.ts
  packages/frontend/src/types/crash.ts
Due: backend, frontend

Update CrashEventsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
Due: frontend

Update LoginPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
Due: frontend

로그인, 회원가입 오류 처리 개선
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

몇가지 UI 이슈들처리
  packages/frontend/src/App.tsx
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/components/StackTraceViewer.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/services/auth.ts
  packages/frontend/src/styles/fonts.css
Due: frontend

크래시 이벤트 라인지정해서 이동 안되는 문제 해결
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
Due: frontend

중간커밋
  crash.callstack
  create-crash-events.js
  get-or-create-token.js
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/routes/client/client.ts
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/components/StackTraceViewer.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
Due: backend, frontend

크래시 이벤트 뷰 개선
  package-lock.json
  packages/backend/src/controllers/ClientCrashController.ts
  packages/backend/src/controllers/CrashEventController.ts
  packages/backend/src/database/migrations/008_add_firstline_to_crash_events.js
  packages/backend/src/models/CrashEvent.ts
  packages/backend/src/scripts/addTestCrashes.ts
  packages/backend/src/types/crash.ts
  packages/frontend/package.json
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  yarn.lock
Due: backend, frontend

UI 개선
  DOCKER_COMPOSE_SETUP.md
  package.json
  packages/frontend/package.json
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  yarn.lock
Due: frontend

UI 버그 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: frontend

UI 개선 작업
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
Due: frontend

채팅 관련 문제점들 수정
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/src/routes/chat/index.ts
  packages/chat-server/src/controllers/InvitationController.ts
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
  packages/frontend/src/contexts/ChatContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: backend, frontend

Update UserSearchDialog.tsx
  packages/frontend/src/components/chat/UserSearchDialog.tsx
Due: frontend

정돈
  packages/frontend/src/components/chat/EmojiPicker.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/chat/ChatPage.tsx
Due: frontend

메일박스추가
  packages/backend/src/database/migrations/002_create_mails_table.js
  packages/backend/src/models/Mail.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/mails.ts
  packages/backend/src/services/MailService.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/mailService.ts
  packages/frontend/src/styles/scrollbar.css
  packages/frontend/src/types/mail.ts
  yarn.lock
Due: backend, frontend

도커빌드시 불필요한 파일들이 대거(수기가) 포함되는 문제 수정
  .dockerignore
  package-lock.json
  packages/backend/.dockerignore
  packages/frontend/package.json
  packages/frontend/src/components/mailbox/ComposeMailDialog.tsx
  packages/frontend/src/components/mailbox/LinkPreview.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  yarn.lock
Due: frontend

메일 보내기 폼 개선
  packages/frontend/src/components/mailbox/ComposeMailDialog.tsx
  packages/frontend/src/components/mailbox/LinkPreview.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
Due: frontend

메일함 UI 개선
  packages/frontend/src/App.tsx
  packages/frontend/src/components/mailbox/ComposeMailDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
Due: frontend

메일함 기능 개선
  packages/backend/src/models/Mail.ts
  packages/backend/src/routes/mails.ts
  packages/backend/src/services/MailService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  packages/frontend/src/services/mailService.ts
Due: backend, frontend

모두 읽기처리, 메일함 비우기 기능 버그 수정
  packages/backend/src/models/Mail.ts
  packages/backend/src/routes/mails.ts
  packages/backend/src/services/MailService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  packages/frontend/src/services/mailService.ts
Due: backend, frontend

Update mails.ts
  packages/backend/src/routes/mails.ts
Due: backend

Update MailboxPage.tsx
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
Due: frontend

인게임 기능 추가중
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/game/CouponsPage.tsx
  packages/frontend/src/pages/game/HotTimeButtonEventPage.tsx
  packages/frontend/src/pages/game/IngameNoticesPage.tsx
  packages/frontend/src/pages/game/ItemRewardsPage.tsx
  packages/frontend/src/pages/game/LiveEventPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

설문지 기능 추가
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/database/migrations/007_create_surveys.js
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/surveys.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/components/game/SurveyConfigDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/surveyService.ts
Due: backend, frontend

서비스 공지 추가
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/006_remote_config_final_seed_data.js.skip
  packages/backend/src/database/migrations/010_create_service_notices.js
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/serviceNotices.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/services/SurveyService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
  packages/frontend/src/styles/global.css
Due: backend, frontend

정돈
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/010_create_service_notices.js
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/utils/dateUtils.ts
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
Due: backend, frontend

로컬라이징추가
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
Due: frontend

서비스 공지 기능추가
  package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/SimplePagination.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/styles/scrollbar.css
  scripts/add-100-service-notices.js
  scripts/add-service-notice-via-api.js
Due: frontend

서비스 공지 개선
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
Due: backend, frontend

서비스공지 웹뷰 문제 수정
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/routes/admin/serviceNotices.ts
  packages/backend/src/routes/public/index.ts
  packages/backend/src/routes/public/serviceNotices.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/utils/enhancedAuditLog.ts
  packages/frontend/.env.development
  packages/frontend/public/react-test.html
  packages/frontend/public/service-notices-simple.html
  packages/frontend/public/service-notices-standalone.html
  packages/frontend/public/ue4-test.html
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
  packages/frontend/src/styles/scrollbar.css
Due: backend, frontend

서비스 공지 이모지 편집 기능 추가
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/service-notices-standalone.html
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  yarn.lock
Due: frontend

서비스 공지 입력기 강화
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
