Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix: SDK stats display, error/recovery effects, context field isEnabled, dashboard UX improvements
  archived/tsc-errors.txt
  packages/backend/src/models/FeatureFlag.ts
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/IdleDefenseGame.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/MatrixBackground.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/idle-defense/GameEngine.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/idle-defense/GameRenderer.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/idle-defense/GameSprites.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/idle-defense/GameTypes.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/FeaturesClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/GatrixClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Types.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Simplit/Assets/Scripts.meta
  packages/sdks/client-sdks/gatrix-unity-sdk/Simplit/Assets/Scripts/SimplitDashboard.cs.meta
  packages/sdks/client-sdks/gatrix-unity-sdk/Simplit/Assets/Scripts/SimplitFlagCard.cs.meta
  packages/sdks/client-sdks/gatrix-unity-sdk/Simplit/Assets/Scripts/SimplitMain.cs.meta
  packages/sdks/client-sdks/gatrix-unity-sdk/Simplit/Assets/Scripts/SimplitStatsPanel.cs.meta
Due: backend

feat(svelte-sdk): add dashboard example mirroring React SDK dashboard
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/index.html
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/App.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/BootScreen.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/ConfigForm.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/ConfirmDialog.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/Dashboard.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/DisconnectScreen.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/FlagCard.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/FlagDetailModal.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/GatrixWrapper.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/MatrixBackground.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/StatsPanel.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/main.ts
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/vite-env.d.ts
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/svelte.config.js
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/vite.config.js
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/yarn.lock
Due: none

feat(dashboard): add SDK identifiers and hide offline-irrelevant options
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/ConfigForm.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/GatrixWrapper.svelte
Due: none

refactor(js-client-sdk): redesign fetchFlags retry/backoff scheduling
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
Due: none

feat(sdk): standardize HTTP headers, version files, stats, and metrics retry across all client SDKs
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixClient.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixEvents.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixFeaturesClient.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixTypes.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixVersion.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/src/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/client.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/events.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/features_client.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/version.dart
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_events.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_features_client.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_types.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_version.gd
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Metrics.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/events.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Events.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/FeaturesClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/GatrixClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Metrics.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Types.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Version.cs
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixSDKModule.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixEvents.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixFeaturesClient.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixFileStorageProvider.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixSDKModule.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixTypes.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixVersion.h
Due: none

feat(sdk): add comprehensive config validation to all client SDKs
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/src/GatrixClient.cpp
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/client.dart
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_client.gd
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/validateConfig.ts
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/GatrixClient.cs
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixClient.cpp
Due: none

fix(sdk): unify SDK version header to X-SDK-Version across all SDKs and backend
  packages/backend/src/constants/headers.ts
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/src/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/features_client.dart
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_features_client.gd
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Metrics.ts
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/FeaturesClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Metrics.cs
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixFeaturesClient.cpp
Due: backend

feat(sdk): add Python client SDK with comprehensive unit tests
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-python-sdk/README.md
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__init__.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/__init__.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/client.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/errors.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/events.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/features_client.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/flag_proxy.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/storage.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/types.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/validate_config.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/version.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/client.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/errors.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/events.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/features_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/flag_proxy.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/storage.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/types.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/validate_config.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/version.py
  packages/sdks/client-sdks/gatrix-python-sdk/pyproject.toml
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__init__.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/__init__.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/fixtures.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_client.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_events.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_features_client.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_flag_proxy.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_storage.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_validate_config.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/fixtures.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_events.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_features_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_flag_proxy.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_storage.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_validate_config.py
Due: none

chore(python-sdk): add .gitignore and remove cached artifacts
  packages/sdks/client-sdks/gatrix-python-sdk/.gitignore
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/__init__.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/client.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/errors.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/events.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/features_client.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/flag_proxy.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/storage.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/types.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/validate_config.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/__pycache__/version.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/__init__.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/fixtures.cpython-313.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_client.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_events.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_features_client.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_flag_proxy.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_storage.cpython-313-pytest-9.0.2.pyc
  packages/sdks/client-sdks/gatrix-python-sdk/tests/__pycache__/test_validate_config.cpython-313-pytest-9.0.2.pyc
Due: none

feat(sdk): add LogViewer panel, fetch caller logging, and dashboard improvements
  packages/sdks/client-sdks/gatrix-js-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/LogViewer.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/GatrixWrapper.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/LogViewer.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/StatsPanel.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/index.html
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/App.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/BootScreen.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/ConfigForm.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/ConfirmDialog.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/Dashboard.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/DisconnectScreen.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/FlagCard.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/FlagDetailModal.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/GatrixPluginWrapper.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/LogViewer.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/MatrixBackground.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/StatsPanel.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/env.d.ts
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/main.ts
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/vite.config.ts
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-vue-sdk/yarn.lock
Due: none

style(dashboard): apply Inconsolata font to logs, improve auto-scroll, and fix React game layout
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/LogViewer.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/LogViewer.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/LogViewer.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/styles.css
Due: none

fix: sdk version issue
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/database/migrations/043_add_sdk_version_to_metrics.js
  packages/backend/src/database/migrations/044_update_unknown_flags_unique_key.js
  packages/backend/src/services/FeatureMetricsService.ts
  packages/backend/src/services/UnknownFlagService.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/server.ts
  packages/edge/src/services/metricsAggregator.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Metrics.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
Due: backend

refactor: remove all baselinePayload/payload references, update spec doc
  archived/feature-flag-evaluation-api.md
  packages/backend/docs/SPEC_VALUE_RESOLUTION.md
  packages/backend/src/controllers/ClientController.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

feat: Refactor feature flag UI - ValueEditorField, BooleanSwitch, form improvements
  packages/backend/archived/seed-online-game-flags.ts
  packages/backend/scripts/seed-feature-flags.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/049_grant_wildcard_to_admin.js
  packages/backend/src/database/migrations/050_grant_wildcard_to_specific_admin.js
  packages/backend/src/models/Environment.ts
  packages/backend/src/services/FeatureMetricsService.ts
  packages/frontend/src/components/common/BooleanSwitch.tsx
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
Due: backend, frontend

fix: Remove remoteConfigRequiresValueType message - value type is always required now
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

fix: Critical strategy save bug + UI improvements
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

fix: Rename envSpecificSettings to 'Variants & Values', move impression data toggle
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: boolean false 값 평가 오류 수정 및 플래그 타입 아이콘 통합
  archived/tsc-errors.txt
  packages/backend/src/database/migrations/051_remove_flag_usage_add_remote_config_type.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
  packages/frontend/src/utils/flagTypeIcons.tsx
Due: backend, frontend

feat: improve empty value display and toast UX
  package.json
  packages/backend/package.json
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/shared/package.json
  packages/shared/src/evaluation/FeatureFlagEvaluator.ts
  packages/shared/src/evaluation/index.ts
  packages/shared/src/evaluation/types.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  yarn.lock
Due: backend, frontend

Playground: enhance loading animation, improve result font, fix segment localization
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

feat: enhance constraint operators - remove NOT variants, add exists/date_eq/array operators
  archived/constraint-operator-comparison.md
  packages/backend/src/database/migrations/052_add_array_context_field_type.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
  packages/sdks/client-sdks/gatrix-unity-sdk/README.md
  packages/shared/package.json
  packages/shared/src/evaluation/FeatureFlagEvaluator.test.ts
  packages/shared/src/evaluation/FeatureFlagEvaluator.ts
  packages/shared/src/evaluation/types.ts
  packages/shared/tsconfig.json
  yarn.lock
Due: backend, frontend

feat: enhance country/array context types and fix UI issues
  archived/lint-output.txt
  packages/backend/src/database/migrations/052_add_array_context_field_type.js
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/CountrySelect.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
  packages/frontend/src/styles/global.css
  packages/frontend/src/utils/countries.ts
Due: backend, frontend

style: move add constraint button and handle ghost tooltips
  archived/lint-errors.txt
  archived/lint-output.txt
  archived/lint-summary.txt
  archived/lint.json
  packages/frontend/src/components/common/LocalizedDateTimePicker.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

feat: enhance ValueEditorField and fix environment save bug
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

feat(frontend): improve environment variants editor UI and fix tooltip behavior
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

fix: parseJsonField dropping string values from mysql2 JSON columns, prevent env values from corrupting global flag defaults, ensure non-null values when saving env override
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

refactor(sdks): rename isExplicitSync/canSyncFlags, payload->value, variantType->valueType across JS/React/Vue/Svelte SDKs and spec
  packages/backend/src/models/FeatureFlag.ts
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/dashboard.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/watch-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FlagProxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/VariationProvider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagDetailModal.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/IdleDefenseGame.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixProvider.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/src/useGatrixContext.ts
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/Dashboard.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/FlagCard.svelte
  packages/sdks/client-sdks/gatrix-svelte-sdk/examples/dashboard/src/components/FlagDetailModal.svelte
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/Dashboard.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/FlagCard.vue
  packages/sdks/client-sdks/gatrix-vue-sdk/examples/dashboard/src/components/FlagDetailModal.vue
Due: backend

refactor(python-sdk): apply variationInternal pattern per CLIENT_SDK_SPEC
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/features_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/flag_proxy.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/types.py
  packages/sdks/client-sdks/gatrix-python-sdk/gatrix/variation_provider.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/fixtures.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_features_client.py
  packages/sdks/client-sdks/gatrix-python-sdk/tests/test_flag_proxy.py
Due: none

refactor(flutter-sdk): implement VariationProvider pattern per CLIENT_SDK_SPEC
  packages/sdks/client-sdks/gatrix-flutter-sdk/.dart_tool/package_config.json
  packages/sdks/client-sdks/gatrix-flutter-sdk/.dart_tool/package_graph.json
  packages/sdks/client-sdks/gatrix-flutter-sdk/example/.dart_tool/package_config.json
  packages/sdks/client-sdks/gatrix-flutter-sdk/example/.dart_tool/package_graph.json
  packages/sdks/client-sdks/gatrix-flutter-sdk/example/pubspec.lock
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/gatrix_flutter_sdk.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/features_client.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/flag_proxy.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/models.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/lib/src/variation_provider.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/pubspec.lock
  packages/sdks/client-sdks/gatrix-flutter-sdk/pubspec.yaml
  packages/sdks/client-sdks/gatrix-flutter-sdk/test/features_client_test.dart
  packages/sdks/client-sdks/gatrix-flutter-sdk/test/models_and_flag_proxy_test.dart
Due: none

refactor(godot-sdk): implement VariationProvider pattern per CLIENT_SDK_SPEC
  packages/sdks/client-sdks/gatrix-godot-sdk/README.md
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_client.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_features_client.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_flag_proxy.gd
  packages/sdks/client-sdks/gatrix-godot-sdk/addons/gatrix_sdk/gatrix_types.gd
Due: none

refactor(unity): refactor sdk to align with spec and add unit tests
  packages/sdks/client-sdks/gatrix-unity-sdk/Editor/GatrixBehaviourInspector.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Editor/GatrixMonitorWindow.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/README.md
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/FeaturesClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/FlagProxy.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/IFeaturesClient.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/IVariationProvider.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Runtime/Types.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Tests/Editor/FeaturesClientTests.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Tests/Editor/FlagProxyTests.cs
  packages/sdks/client-sdks/gatrix-unity-sdk/Tests/Editor/Gatrix.Unity.SDK.Tests.asmdef
  packages/sdks/client-sdks/gatrix-unity-sdk/Tests/Editor/TypesTests.cs
Due: none

refactor(sdk): refactor Unreal and Cocos2d-x SDKs to align with CLIENT_SDK_SPEC
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/README.md
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixFeaturesClient.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixFlagProxy.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixTypes.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/include/GatrixVariationProvider.h
  packages/sdks/client-sdks/gatrix-cocos2dx-sdk/src/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/README.md
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Private/GatrixFlagProxy.cpp
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixFeaturesClient.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixFlagProxy.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixTypes.h
  packages/sdks/client-sdks/gatrix-unreal-sdk/Source/GatrixSDK/Public/GatrixVariationProvider.h
Due: none

fix: separate global/env flag value updates, fix playground evaluation, fix FeatureSwitch onChange
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagDetailModal.tsx
  packages/shared/src/evaluation/FeatureFlagEvaluator.ts
Due: backend, frontend

localization
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/slot-machine/SlotSounds.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/slot-machine/SlotTypes.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/yarn.lock
Due: frontend

feat(slot): rewrite reel system with scrollOffset queue, fix auto-spin, widen panel
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/apple.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/banana.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/cherry.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/coin.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/lemon.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/public/assets/slot/logo.png
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/SlotMachineGame.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/slot-machine/SlotScene.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/slot-machine/SlotTypes.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: none

feat: unify field type icons and add operator SVG icons with rich tooltips
  packages/backend/src/database/migrations/053_add_display_name_to_context_fields.js
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/components/common/FieldTypeIcon.tsx
  packages/frontend/src/components/common/OperatorIcon.tsx
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend
