Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

Update StoreProductController.ts
  packages/backend/src/controllers/StoreProductController.ts
Due: backend

스토어 상품 관리 보완
  packages/backend/src/controllers/StoreProductController.ts
  packages/backend/src/routes/admin/storeProducts.ts
  packages/backend/src/services/StoreProductService.ts
  packages/frontend/src/components/game/SyncPreviewDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/services/storeProductService.ts
Due: backend, frontend

SDK 환경처리 개선 및 캐싱 누락된 부분 반영
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
Due: backend

wildcard environment 지원
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/types/config.ts
Due: backend

sdk 멀티환경 지원 작업중
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/spawn-idle-servers.ts
Due: backend

sdk 버그 수정
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/src/types/events.ts
Due: backend, frontend

정돈
  docker-compose.dev.yml
  local test/bruno.json
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/ServerEnvironmentController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/middleware/environmentResolver.ts
  packages/edge/src/config/env.ts
  packages/edge/src/index.ts
  packages/edge/src/routes/health.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/spawn-idle-servers.ts
Due: backend, frontend

다중환경 처리 버그 수정
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/services/EnvironmentService.ts
  packages/sdks/server-sdk/src/types/api.ts
Due: none

멀티 환경문제 수정
  local test/edge cache 확인.bru
  packages/edge/src/services/sdkManager.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
Due: none

Update CacheManager.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
Due: none

backend sql 오류 수정
  docker-compose.dev.yml
  packages/backend/src/models/Environment.ts
Due: backend

정돈
  docker-compose.yml
  docs/docs/api/server-sdk-api.md
  docs/docs/deployment/docker.md
  docs/docs/deployment/edge-server.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/server-sdk-api.md
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/ServerGameWorldController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/sdks/server-sdk/README.md
Due: backend, frontend

Update ServerListPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

정돈
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
Due: frontend

sdk 정리
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/BaseEnvironmentService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
Due: none

edge 토큰 타입 추가
  packages/backend/src/controllers/InternalApiTokensController.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/server/index.ts
  packages/edge/src/index.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/services/tokenMirrorService.ts
  packages/edge/src/services/tokenUsageTracker.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

캐시 무효화 관련 버그 수정
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/src/config/swagger.ts
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/InternalApiTokensController.ts
  packages/backend/src/database/migrations/062_add_edge_all_token_types.js
  packages/backend/src/models/Environment.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/edge/public/game-service-notices.html
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/services/tokenMirrorService.ts
  packages/edge/src/services/tokenUsageTracker.ts
  packages/frontend/.env.example
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/sdks/server-sdk/src/cache/EventListener.ts
  setup-env.ps1
  setup-env.sh
Due: backend, frontend

정돈
  .env.example
  archived/coupon_system_design.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/docs/deployment/docker.md
  docs/docs/features/monitoring.md
  docs/docs/monitoring/setup.md
  package.json
  packages/backend/nodemon.json
  packages/backend/package.json
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/chat-server/nodemon.json
  packages/chat-server/package.json
  packages/edge/nodemon.json
  packages/edge/package.json
  packages/event-lens/nodemon.json
  packages/event-lens/package.json
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/types/config.ts
  yarn.lock
Due: backend, frontend

정돈
  packages/backend/src/index.ts
  packages/chat-server/src/app.ts
  packages/edge/src/config/env.ts
  packages/event-lens/src/index.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: backend, frontend

변경된 포트 적용안된것들 수정
  EASY_SETUP.md
  EASY_SETUP_KO.md
  EASY_SETUP_ZH.md
  README.md
  archived/HTTPS_DEPLOYMENT_GUIDE.md
  docker-compose.dev.yml
  setup-env.ps1
  setup-env.sh
Due: none

포트정돈
  .env.backup.20251118_193237
  .env.example
  .env.production.example
  docs/docs/deployment/docker.md
Due: none

Update Dockerfile
  packages/edge/Dockerfile
Due: none

설정 오류들 수정
  .env.example
  archived/edge-server-implementation-plan-en.md
  archived/edge-server-implementation-plan.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docs/docs/deployment/docker.md
  docs/docs/deployment/edge-server.md
  packages/backend/Dockerfile
  packages/backend/src/config/swagger.ts
  packages/edge/Dockerfile
  packages/edge/src/config/env.ts
  packages/frontend/.env.example
  packages/frontend/docker-entrypoint.sh
  packages/frontend/nginx.conf
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
  setup-env.ps1
  setup-env.sh
Due: backend, frontend

Update MaintenancePage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
Due: frontend

환경 처리 안되는 부분 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

etcd 내부 포트 잘못 지정된것 수정
  .env.example
  .env.production.example
Due: none

정돈
  packages/frontend/docker-entrypoint.sh
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
Due: frontend

fix(server-sdk): fix multi-environment mode to skip invalid environment fallback
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdk/test-servers/maintenance-watcher-test.ts
  packages/sdks/server-sdk/test-servers/start-single-server.ts
Due: none

feat(server-sdk): auto-add environment/region labels from SDK config in registerService
  .env.example
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  setup-env.ps1
  yarn.lock
Due: frontend

fix: bulk health check re-run issue and environment copy message
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
Due: frontend

fix: Grafana 403 error in dev environment
  docker-compose.dev.yml
  docker-compose.yml
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/frontend/vite.config.ts
Due: frontend

스토어상품 관리 페이지 개선
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/controllers/StoreProductController.ts
  packages/backend/src/database/migrations/063_add_multilang_to_store_products.js
  packages/backend/src/routes/admin/cmsCashShop.ts
  packages/backend/src/routes/admin/storeProducts.ts
  packages/backend/src/services/CmsCashShopService.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/backend/src/services/StoreProductService.ts
  packages/frontend/src/components/game/BatchProcessDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/services/storeProductService.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend, frontend

sdk 전면 개편
  package-lock.json
  packages/backend/src/controllers/ServerStoreProductController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/edge/src/routes/client.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/BaseEnvironmentService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/CouponService.ts
  packages/sdks/server-sdk/src/services/GameWorldService.ts
  packages/sdks/server-sdk/src/services/PopupNoticeService.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/services/ServiceMaintenanceService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/services/StoreProductService.ts
  packages/sdks/server-sdk/src/services/SurveyService.ts
  packages/sdks/server-sdk/src/services/WhitelistService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/utils/EnvironmentResolver.ts
  packages/sdks/server-sdk/src/version.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
  yarn.lock
Due: backend, frontend

정돈
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: frontend

docker-compose.lite.yml 추가
  docker-compose.lite.yml
  packages/backend/Dockerfile
  packages/chat-server/Dockerfile
  packages/edge/Dockerfile
  packages/event-lens/Dockerfile
Due: none

웹뷰 주소 잘못 인식하는것 수정
  packages/edge/Dockerfile
  packages/frontend/index.html
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: frontend

Update .env.production.example
  .env.production.example
Due: none
