Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

웹뷰 서비스 공지 페이지 http/https 이슈 수정
  .env.example
  .env.production.example
  docker-compose.yml
  packages/edge/src/app.ts
  setup-env.ps1
  setup-env.sh
Due: none

모니터링 잘안되는 이슈 수정
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/grafana/dashboards/gatrix-game-servers.json
  packages/backend/src/models/Environment.ts
  packages/frontend/public/config.js
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/frontend/vite.config.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/tsconfig.json
Due: backend, frontend

모니터링 페이지 접근 안되는 문제 수정
  .env.example
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.yml
  packages/edge/src/config/env.ts
  packages/frontend/docker-entrypoint.sh
  packages/frontend/public/config.js
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
Due: frontend

Update LogsPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
Due: frontend

fix(monitoring): fix Grafana access and setup-env host validation
  EASY_SETUP.md
  README.md
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
  packages/frontend/src/pages/admin/GrafanaDashboardPage.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/frontend/vite.config.ts
  setup-env.ps1
  setup-env.sh
Due: frontend

fix(build): fix SWC build issues on Windows
  package.json
  packages/backend/.swcrc
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/backend/package.json
  packages/backend/src/routes/admin/ipWhitelist.ts
  packages/backend/src/routes/admin/messageTemplates.ts
  packages/backend/src/routes/admin/platformDefaults.ts
  packages/backend/src/routes/admin/tags.ts
  packages/backend/src/routes/admin/translation.ts
  packages/chat-server/.swcrc
  packages/chat-server/Dockerfile
  packages/chat-server/package.json
  packages/event-lens/.swcrc
  packages/event-lens/Dockerfile
  packages/event-lens/package.json
  packages/sdks/server-sdk/.swcrc
  packages/sdks/server-sdk/package.json
  tsconfig.json
  yarn.lock
Due: backend

grafna 접근오류 수정
  .env.example
  archived/add_bulk_copy_buttons.js
  archived/fix_bulk_health_check.js
  archived/grafana_service.yaml
  archived/replace_checkerboard.js
  archived/replace_checkerboard_tooltip.js
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
  packages/backend/package.json
  packages/chat-server/package.json
  packages/event-lens/package.json
  packages/frontend/lint_output.txt
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/vite.config.ts
  packages/sdks/server-sdk/package.json
Due: frontend

fix: add SWC musl binding for Alpine Linux Docker builds
  packages/backend/Dockerfile
  packages/chat-server/Dockerfile
  packages/edge/Dockerfile
  packages/edge/Dockerfile.dev
  packages/event-lens/Dockerfile
Due: none

fix: add -W flag for yarn workspace root installation
  packages/backend/Dockerfile
  packages/chat-server/Dockerfile
  packages/edge/Dockerfile
  packages/edge/Dockerfile.dev
  packages/event-lens/Dockerfile
Due: none

fix: replace yarn workspace commands with cd && yarn build in Dockerfiles
  packages/chat-server/Dockerfile
  packages/event-lens/Dockerfile
Due: none

fix: restructure chat-server and event-lens Dockerfile builder stage
  packages/chat-server/Dockerfile
  packages/event-lens/Dockerfile
Due: none

fix: skip Cypress binary download in Docker builds
  packages/backend/Dockerfile
  packages/chat-server/Dockerfile
  packages/edge/Dockerfile
  packages/edge/Dockerfile.dev
  packages/event-lens/Dockerfile
Due: none

Update ServerListPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

fix: add build verification steps to Dockerfiles and update package versions
  archived/docker-build-log.txt
  archived/old-backend-dockerfile.txt
  archived/old-chat-server-dockerfile.txt
  archived/old-event-lens-dockerfile.txt
  packages/backend/package.json
  packages/chat-server/package.json
  packages/edge/Dockerfile
  packages/event-lens/Dockerfile
  packages/event-lens/package.json
  packages/frontend/Dockerfile
  packages/sdks/server-sdk/package.json
Due: none

feat(edge): add internal cache API on separate port for security
  docs/docs/deployment/edge-server.md
  local test/http---121.5.26.153-3400-api-v1-client-qa-client-version-platform=pc.bru
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/index.ts
  packages/edge/src/internalApp.ts
  packages/edge/src/routes/health.ts
  packages/edge/src/routes/internal.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/environmentService.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  setup-env.ps1
Due: backend, frontend

fix(edge): unify cache env variable naming to EDGE_CACHE_*
  deploy/docker-stack.yml
  docker-compose.dev.yml
  docker-compose.lite.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat(frontend): add Chinese font support and font selection in editor
  packages/edge/public/game-service-notices.html
  packages/frontend/public/about-zh.html
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

Fix: Ensure environment context in SDK events and expose Edge internal cache
  docker-compose.dev.yml
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/SurveyService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/edge/src/internalApp.ts
Due: backend

fix(sdk): optimize deleted event handling for client version and service notice
  packages/backend/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
Due: backend

feat(sdk): optimize created/updated events with full data payload
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend

fix(grafana): resolve origin not allowed CSRF error for iframe embedding
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docs/GRAFANA_IFRAME_EMBEDDING.md
  local test/http---localhost-3410-internal-cache-refresh.bru
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/SurveyController.ts
  packages/backend/src/scripts/verify-deletion-events.ts
  packages/edge/src/routes/internal.ts
  packages/frontend/nginx.conf
  packages/frontend/vite.config.ts
Due: backend

fix(edge): update logger to JSON format with service metadata for Loki
  docker-compose.prod.yml
  docker/prometheus/prometheus.base.yml
  packages/edge/src/config/logger.ts
Due: none

fix(services): register correct metricsApi ports for service discovery
  packages/backend/src/index.ts
  packages/chat-server/src/app.ts
  packages/edge/src/services/sdkManager.ts
  packages/event-lens/src/index.ts
  targets.json
  targets_utf8.json
Due: backend

fix(backend): include environment and region labels in Prometheus discovery response
  packages/backend/src/routes/public/monitoring.ts
  targets.json
  targets_utf8.json
Due: backend

sdk 확장
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/MetricsServer.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
Due: none

feat: improve client version handling and server list localization
  package-lock.json
  packages/backend/src/app.ts
  packages/backend/src/database/migrations/065_fix_client_version_unique_constraint.js
  packages/backend/src/index.ts
  packages/chat-server/src/app.ts
  packages/edge/src/app.ts
  packages/edge/src/index.ts
  packages/edge/src/internalApp.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/services/edgeMetrics.ts
  packages/edge/src/services/metricsServer.ts
  packages/edge/src/services/sdkManager.ts
  packages/event-lens/src/index.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
  yarn.lock
Due: backend, frontend

feat(deploy): add comprehensive deployment scripts with gatrix prefix
  deploy/README.md
  deploy/build_and_push.ps1
  deploy/build_and_push.sh
  deploy/deploy.ps1
  deploy/deploy.sh
  deploy/list_images.ps1
  deploy/list_images.sh
  deploy/login_registry.ps1
  deploy/login_registry.sh
  deploy/registry.env
  deploy/rollback.ps1
  deploy/scale.ps1
  deploy/status.ps1
  deploy/update.ps1
  package.json
  packages/backend/src/middleware/errorHandler.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/src/services/MetricsServer.ts
  yarn.lock
Due: backend, frontend

fix(deploy): update docker-stack.yml and scripts for gatrix- prefix
  deploy/deploy.sh
  deploy/docker-stack.yml
  deploy/update.sh
Due: none

feat: improve monitoring, graceful shutdown, and auto-registration
  docker-compose.dev.yml
  docker-compose.yml
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-logs.json
  docs/docs/features/monitoring.md
  packages/backend/src/index.ts
  packages/backend/src/routes/public/monitoring.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/chat-server/src/app.ts
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
Due: backend, frontend

Fix: resolve duplicate metric registration in server-sdk and gatrix-edge
  packages/edge/src/app.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
Due: none

Feat: add Promtail for collecting PM2 game server logs
  docker-compose.dev.yml
  docker-compose.yml
  docker/promtail/promtail-config.yml
  docs/docs/features/monitoring.md
  docs/docs/monitoring/setup.md
Due: none

feat(sdk): implement Loki direct push and refactor logging
  docker-compose.dev.yml
  docker-compose.yml
  docker/fluent-bit/fluent-bit.conf
  docker/grafana/dashboards/gatrix-logs.json
  docker/mysql/init/01-init.sql
  docker/promtail/promtail-config.yml
  docs/docs/features/monitoring.md
  docs/docs/monitoring/setup.md
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/PubSubService.ts
  packages/frontend/src/components/LogViewer.tsx
  packages/frontend/src/pages/monitoring/LogsPage.tsx
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/client/ApiClient.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/LokiTransport.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
  packages/sdks/server-sdk/src/utils/logger.ts
Due: backend, frontend

Update docker-compose.lite.yml
  docker-compose.lite.yml
Due: none

feat: improve service discovery robustness and replace 'busy circle' with scanning magnifying glass icon
  docker/grafana/dashboards/gatrix-sdk-metrics.json
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/MetricsServer.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/cloudMetadata.ts
Due: backend, frontend

feat: add 'busy' status support and scanning magnifying glass icon for loading/initializing states
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

feat(metrics,frontend): improve game server metrics and clipboard robustness
  docker/grafana/dashboards/gatrix-game-servers.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/utils/clipboard.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/utils/httpMetrics.ts
Due: frontend

feat(edge): include customPayload in world list response
  packages/edge/src/routes/client.ts
Due: none

feat(backend): improve client version duplicate check by environment
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/package.json
Due: backend

feat(backend): update VarsController and environment migrations
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/database/migrations/048_extend_environments_for_multi_env.js
Due: backend
