Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix(onboarding): use proper logout function instead of redirect
  packages/frontend/src/contexts/OrgProjectContext.tsx
Due: frontend

fix(onboarding): URL path + logout redirect to login page
  packages/frontend/src/contexts/OrgProjectContext.tsx
Due: frontend

fix(onboarding): prevent 401 on loadProjects when not authenticated
  packages/frontend/src/contexts/OrgProjectContext.tsx
Due: frontend

feat(ui): unify all page backgrounds to theme solid color
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/frontend/src/pages/LandingPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

feat(rbac): add SSE notifications + audit logs for all permission changes
  packages/backend/src/routes/admin/rbac.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

fix(users): fix race condition + deduplicate role save in user edit
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

feat(ui): redesign AccountSuspendedPage to match onboarding style + rewrite i18n texts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/auth/AccountSuspendedPage.tsx
Due: frontend

fix(rbac): hide service accounts from Viewer + add permission checks for CRUD buttons
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
Due: frontend

fix(workspace): refresh org/project context after creating new org
  packages/frontend/src/pages/admin/WorkspacePage.tsx
Due: frontend

fix(rbac): auto-bind Manager role to org creator so new org has proper RBAC access
  packages/backend/src/routes/admin/rbac.ts
Due: backend

fix(rbac): fix org creator auto-bind column name (assignedAt) + add description column to g_role_bindings
  .agent/workflows/database-migration.md
  packages/backend/src/routes/admin/rbac.ts
Due: backend

feat: service account env picker tree UI, fix login USER_NOT_FOUND redirect, redesign session-expired page
  packages/backend/src/models/ServiceAccount.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin/serviceAccounts.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
  packages/frontend/src/pages/auth/SessionExpiredPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/serviceAccountService.ts
Due: backend, frontend

fix: VIEWER flag value edit restriction, platform-defaults permission, remove debug logs, translate Korean comments
  errors.txt
  old_domain.cs
  packages/backend/src/routes/admin/index.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/services/api.ts
  test_payload.json
Due: backend, frontend

refactor: translate Korean comments to English in BulkClientVersionForm, remove emoji
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/UserForm.tsx
  packages/frontend/src/components/admin/WhitelistOverview.tsx
Due: frontend

fix: add migration 026 to restructure g_planning_data_uploads table
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/admin/InvitationStatusCard.tsx
  packages/frontend/src/components/admin/InvitationSuccess.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/services/actionSetService.ts
  packages/frontend/src/services/auth.ts
  packages/frontend/src/services/gameWorldService.ts
  packages/frontend/src/services/signalEndpointService.ts
Due: frontend

fix: localize hardcoded error messages in api.ts and linkPreviewService.ts
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/linkPreviewService.ts
Due: frontend

refactor: apply createLogger pattern across all edge services
  archived/apply_createLogger.js
  archived/translate_round2.js
  packages/edge/src/app.ts
  packages/edge/src/config/logger.ts
  packages/edge/src/index.ts
  packages/edge/src/internalApp.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/routes/server.ts
  packages/edge/src/services/FlagStreamingService.ts
  packages/edge/src/services/metricsAggregator.ts
  packages/edge/src/services/sdkManager.ts
  packages/edge/src/services/tokenMirrorService.ts
  packages/edge/src/services/tokenUsageTracker.ts
  packages/edge/src/utils/apiResponse.ts
  packages/edge/src/utils/evaluationHelper.ts
Due: none

fix: update EvaluationUtils import from @gatrix/shared to @gatrix/evaluator
  packages/edge/src/utils/evaluationHelper.ts
Due: none

refactor: rename edge files to kebab-case convention
  archived/rename_edge_files.js
  packages/edge/package.json
  packages/edge/src/app.ts
  packages/edge/src/index.ts
  packages/edge/src/internal-app.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/health.ts
  packages/edge/src/routes/internal.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/routes/server.ts
  packages/edge/src/services/edge-metrics.ts
  packages/edge/src/services/flag-streaming-service.ts
  packages/edge/src/services/metrics-aggregator.ts
  packages/edge/src/services/request-stats.ts
  packages/edge/src/services/sdk-manager.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/edge/src/services/token-usage-tracker.ts
  packages/edge/src/utils/api-response.ts
  packages/edge/src/utils/evaluation-helper.ts
Due: none

Update index.ts
  packages/edge/src/index.ts
Due: none

refactor: rename gatrix-js-client-sdk files to kebab-case
  archived/rename_client_sdk.js
  packages/sdks/client-sdks/gatrix-js-client-sdk/build_errors.txt
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/context-utils.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/event-emitter.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/features-client.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/flag-proxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/gatrix-client.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/in-memory-storage-provider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/local-storage-provider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/logger.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/metrics.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/storage-provider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types/config.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/validate-config.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/value-source.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/variation-provider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/watch-flag-group.ts
Due: none

refactor: rename server-sdk files to kebab-case convention
  archived/rename_server_sdk.js
  packages/sdks/server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdk/src/cache/event-listener.ts
  packages/sdks/server-sdk/src/cache/maintenance-watcher.ts
  packages/sdks/server-sdk/src/cache/storage-provider.ts
  packages/sdks/server-sdk/src/client/api-client.ts
  packages/sdks/server-sdk/src/gatrix-server-sdk.maintenance.ts
  packages/sdks/server-sdk/src/gatrix-server-sdk.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/banner-service.ts
  packages/sdks/server-sdk/src/services/base-environment-service.ts
  packages/sdks/server-sdk/src/services/client-version-service.ts
  packages/sdks/server-sdk/src/services/coupon-service.ts
  packages/sdks/server-sdk/src/services/environment-service.ts
  packages/sdks/server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdk/src/services/game-world-service.ts
  packages/sdks/server-sdk/src/services/metrics-server.ts
  packages/sdks/server-sdk/src/services/popup-notice-service.ts
  packages/sdks/server-sdk/src/services/service-discovery-service.ts
  packages/sdks/server-sdk/src/services/service-maintenance-service.ts
  packages/sdks/server-sdk/src/services/service-notice-service.ts
  packages/sdks/server-sdk/src/services/store-product-service.ts
  packages/sdks/server-sdk/src/services/survey-service.ts
  packages/sdks/server-sdk/src/services/vars-service.ts
  packages/sdks/server-sdk/src/services/whitelist-service.ts
  packages/sdks/server-sdk/src/types/feature-flags.ts
  packages/sdks/server-sdk/src/types/index.ts
  packages/sdks/server-sdk/src/utils/cloud-metadata.ts
  packages/sdks/server-sdk/src/utils/environment-resolver.ts
  packages/sdks/server-sdk/src/utils/http-metrics.ts
  packages/sdks/server-sdk/src/utils/logger.ts
  packages/sdks/server-sdk/src/utils/loki-transport.ts
  packages/sdks/server-sdk/src/utils/sdk-metrics.ts
Due: none

remove temporary files
  packages/frontend/extract-korean-sections.cjs
  packages/frontend/find-admin-crashes.cjs
  packages/frontend/find-duplicates.cjs
  packages/frontend/fix-all-indent.cjs
  packages/frontend/fix-ko-complete.cjs
  packages/frontend/fix-ko-json.cjs
  packages/frontend/fix-mui-grid.cjs
  packages/frontend/fix-ts-errors.cjs
  packages/frontend/fix-ts-errors.js
  packages/frontend/fix-whitelist-indent.cjs
  packages/frontend/fix-zh-structure.cjs
  packages/frontend/fix-zh.cjs
  packages/frontend/gameWorlds-korean.json
  packages/frontend/lint_capture.txt
  packages/frontend/lint_out.txt
  packages/frontend/lint_output.txt
  packages/frontend/lint_results.txt
  packages/frontend/remove-duplicates.cjs
  packages/frontend/sync-locales.cjs
  packages/frontend/tsc_output.txt
  packages/frontend/validate_json.js
  packages/frontend/vite.config.ts.timestamp-1764585882795-c3f44bbf0dd6b.mjs
  packages/frontend/vite.config.ts.timestamp-1764843480653-e14b39aa1af7e.mjs
Due: none

Update rbac.ts
  packages/backend/src/routes/admin/rbac.ts
Due: backend

feat(frontend): optimize bundle size with code splitting and remove moment
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/chat/ChatElementsMessageList.tsx
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/LandingPage.tsx
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
Due: frontend

refactor: remove environmentId || 'development' anti-pattern, add auto-format workflow
  .github/workflows/format.yml
  archived/build-errors.txt
  packages/backend/src/controllers/admin-controller.ts
  packages/backend/src/controllers/auth-controller.ts
  packages/backend/src/controllers/banner-client-controller.ts
  packages/backend/src/controllers/banner-controller.ts
  packages/backend/src/controllers/change-request-controller.ts
  packages/backend/src/controllers/chat-channel-controller.ts
  packages/backend/src/controllers/chat-sync-controller.ts
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/controllers/client-crash-controller.ts
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/controllers/coupon-settings-controller.ts
  packages/backend/src/controllers/crash-event-controller.ts
  packages/backend/src/controllers/data-management-controller.ts
  packages/backend/src/controllers/environment-controller.ts
  packages/backend/src/controllers/impact-metrics-controller.ts
  packages/backend/src/controllers/job-controller.ts
  packages/backend/src/controllers/message-template-controller.ts
  packages/backend/src/controllers/platform-defaults-controller.ts
  packages/backend/src/controllers/vars-controller.ts
Due: backend

adjustments
  packages/backend/src/controllers/internal-api-tokens-controller.ts
  packages/backend/src/controllers/job-execution-controller.ts
  packages/backend/src/controllers/job-type-controller.ts
  packages/backend/src/controllers/maintenance-controller.ts
  packages/backend/src/controllers/planning-data-controller.ts
  packages/backend/src/controllers/public-invitation-controller.ts
  packages/backend/src/controllers/server-auth-controller.ts
  packages/backend/src/controllers/server-banner-controller.ts
  packages/backend/src/controllers/server-chat-controller.ts
  packages/backend/src/controllers/server-client-version-controller.ts
  packages/backend/src/controllers/server-environment-controller.ts
  packages/backend/src/controllers/server-feature-flag-controller.ts
  packages/backend/src/controllers/server-file-controller.ts
  packages/backend/src/controllers/server-game-world-controller.ts
  packages/backend/src/controllers/server-notification-controller.ts
  packages/backend/src/controllers/server-service-notice-controller.ts
  packages/backend/src/controllers/server-store-product-controller.ts
  packages/backend/src/controllers/server-user-controller.ts
  packages/backend/src/controllers/service-discovery-config-controller.ts
  packages/backend/src/controllers/service-notice-controller.ts
  packages/backend/src/controllers/store-product-controller.ts
  packages/backend/src/controllers/survey-controller.ts
  packages/backend/src/controllers/system-console-controller.ts
  packages/backend/src/controllers/user-controller.ts
Due: backend

refactor: simplify GatrixEdges page - on-demand buttons, PageContentLoader, icon fix
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
Due: frontend

feat: add name field validation for org/project/environment (lowercase, numbers, _, - only)
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/environmentService.ts
  packages/frontend/src/utils/validation.ts
Due: frontend

fix: remove broken JWT role checks, add status icons, fix localization keys
  .env.example
  .env.local.example
  packages/backend/src/controllers/internal-api-tokens-controller.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/models/environment.ts
  packages/backend/src/models/server-lifecycle-event.ts
  packages/backend/src/routes/admin/notifications.ts
  packages/backend/src/routes/admin/rbac.ts
  packages/backend/src/routes/admin/service-discovery.ts
  packages/edge/src/config/env.ts
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: backend, frontend

feat: add legacy unsecured token compatibility (default/default/development)
  packages/backend/src/middleware/api-token-auth.ts
  packages/edge/src/index.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/services/token-mirror-service.ts
Due: backend

fix: add featureFlags to getAllCachedData in cache-manager
  packages/sdks/server-sdk/src/cache/cache-manager.ts
Due: none

fix: resolve environment name to SDK cache token key in Edge
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/routes/server.ts
  packages/edge/src/services/environment-registry.ts
  packages/edge/src/utils/evaluation-helper.ts
Due: none
