Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

UI 버그 수정
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: frontend

로컬라이징 누락 수정
  archived/check-locales.js
  packages/backend/src/controllers/AdminController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/typecheck_output.txt
Due: backend, frontend

로컬라이징 누락 처리
  archived/check-locales.js
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/AccountSuspendedPage.tsx
Due: frontend

edge 서버 추가
  .env.example
  archived/edge-server-implementation-plan-en.md
  archived/edge-server-implementation-plan.md
  archived/edge-stress-test.ps1
  docker-compose.dev.yml
  docker-compose.yml
  docker/grafana/dashboards/gatrix-edge.json
  docker/prometheus/prometheus.base.yml
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/routes/server/index.ts
  packages/edge/.eslintrc.json
  packages/edge/Dockerfile
  packages/edge/Dockerfile.dev
  packages/edge/nodemon.json
  packages/edge/package.json
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/config/logger.ts
  packages/edge/src/index.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/health.ts
  packages/edge/src/services/metricsServer.ts
  packages/edge/src/services/sdkManager.ts
  packages/edge/tsconfig.json
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
Due: backend

스트레스 테스트 적용
  archived/edge-stress-test.js
  packages/edge/src/routes/client.ts
Due: none

remote config env 제거
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/controllers/RemoteConfigSDKController.ts
  packages/backend/src/controllers/RemoteConfigTemplateController.ts
  packages/backend/src/database/migrations/005_remote_config_final_system.js
  packages/backend/src/database/migrations/045_seed_remote_config_environments.js
  packages/backend/src/database/migrations/048_extend_environments_for_multi_env.js
  packages/backend/src/database/migrations/049_add_environment_id_to_tables.js
  packages/backend/src/database/migrations/050_create_api_token_environments.js
  packages/backend/src/database/migrations/052_create_user_environments.js
  packages/backend/src/database/migrations/053_add_environment_id_to_rc_tables.js
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/middleware/environmentMiddleware.ts
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/models/Project.ts
  packages/backend/src/models/RemoteConfigChangeRequest.ts
  packages/backend/src/models/RemoteConfigSegment.ts
  packages/backend/src/models/RemoteConfigTemplate.ts
  packages/backend/src/routes/admin/environments.ts
  packages/backend/src/routes/admin/remoteConfigV2.ts
  packages/backend/src/utils/environmentContext.ts
Due: backend

대시보드 개선
  archived/create-crash-events.js
  archived/seed_crash_events.sql
  packages/backend/src/database/migrations/005_remote_config_final_system.js
  packages/backend/src/database/migrations/045_seed_remote_config_environments.js.skip
  packages/backend/src/database/migrations/048_extend_environments_for_multi_env.js
  packages/backend/src/database/migrations/056_add_crash_event_user_agent.js
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/User.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/services/maintenanceService.ts
Due: backend, frontend

super admin 에 wildcard 퍼미션 부여
  packages/backend/src/database/migrations/057_add_superadmin_wildcard_permission.js
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: backend, frontend

대비보드 개선
  packages/backend/src/controllers/EnvironmentController.ts
  packages/backend/src/utils/systemKV.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/EnvironmentSelector.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: backend, frontend

sdk 정돈
  docs/docs/features/monitoring.md
  packages/backend/src/routes/public/monitoring.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/sdks/server-sdk/README.md
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/index.ts
  packages/sdks/server-sdk/src/services/MetricsServer.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/utils/metrics.ts
  packages/sdks/server-sdk/src/utils/sdkMetrics.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend, frontend

sdk 변경된 내용 대응
  packages/chat-server/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/services/sdkManager.ts
  packages/event-lens/src/index.ts
Due: none

docker-compose.prod.yml 적용
  docker-compose.prod.yml
  docs/docs/deployment/docker.md
  package.json
  scripts/docker-build.js
Due: none

로컬라이징 이슈 처리
  archived/test_csv_lines.js
  archived/test_csv_parse.js
  archived/test_loctab.js
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

대시보드 편집
  archived/test_char_translate.js
  archived/test_csv_lines.js
  archived/test_csv_parse.js
  archived/test_loctab.js
  docker-compose.dev.yml
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/models/Environment.ts
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: backend, frontend

로컬라이징 이슈 수정
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/components/EnvironmentSelector.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/EnvironmentContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: backend, frontend

로컬라이징 누락 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
Due: frontend

정돈
  packages/backend/src/controllers/ServerBannerController.ts
  packages/backend/src/controllers/ServerClientVersionController.ts
  packages/backend/src/controllers/ServerServiceNoticeController.ts
  packages/backend/src/models/Banner.ts
  packages/backend/src/services/BannerService.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/BannerService.ts
  packages/sdks/server-sdk/src/services/ClientVersionService.ts
  packages/sdks/server-sdk/src/services/ServiceNoticeService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/types/events.ts
Due: backend, frontend

Update ClientVersion.ts
  packages/backend/src/models/ClientVersion.ts
Due: backend

채팅서버 mysql2 패키지 버전 이슈 수정
  chat_server_logs.txt
  packages/chat-server/package.json
  yarn.lock
Due: none

backend가 여러개 실행중일때 생길수 있는 문제 회피
  packages/backend/src/index.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
Due: backend

Update ApiTokenUsageService.ts
  packages/backend/src/services/ApiTokenUsageService.ts
Due: backend

keys 명령 제거
  packages/backend/src/services/ApiTokenUsageService.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
Due: backend

Update RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
Due: backend

inactive 서비스 목록 관리
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
Due: backend

서비스 디스커버리 오동작하는 문제들 수정
  archived/backend_full_log.txt
  archived/debug_etcd_logs.txt
  archived/debug_no_response.txt
  docker-compose.dev.yml
  packages/backend/src/index.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/chat-server/nodemon.json
  packages/chat-server/package.json
  packages/chat-server/src/app.ts
Due: backend

서비스디스커버리 완성(에러 상황에서는 어찌되는지)
  docker-compose.dev.yml
  docker-compose.yml
  docs/docs/deployment/docker.md
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/frontend/src/components/common/RelativeTime.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
Due: backend, frontend

Update ServerListPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

Update EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
Due: backend

cluster view 시각화 개선
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: frontend

인식된 전체 서버 점검 기능 추가
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

서버 점검 기능 개선
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

상품 스토어 제어 기능 추가중
  packages/backend/src/controllers/StoreProductController.ts
  packages/backend/src/database/migrations/060_create_store_products.js
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/storeProducts.ts
  packages/backend/src/services/StoreProductService.ts
  packages/backend/src/types/permissions.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/types/permissions.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
