Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add hasVariantChanges check and disable save button when no changes
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: always show variant save button in edit mode
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: set default rollout to 100 when changing strategy type
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: change userIds input to chip-based autocomplete with Enter key support
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: add chip-based input for IP addresses and hostnames with Enter key support
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: group segments and inline constraints with collapsible accordion, remove redundant helper texts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: always set rollout to 100 percent when changing strategy type, add spacing to add strategy button
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: use Monaco JSON editor for JSON variant payload editing
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: default JSON variant payload to empty object
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: validate JSON payload and disable save button on validation errors
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: localize flag type names and descriptions
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagTypesPage.tsx
Due: frontend

style: center align lifetime column in flag types table
  packages/frontend/src/pages/game/FeatureFlagTypesPage.tsx
Due: frontend

fix: use flag.variantType for variant payload type when saving
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: detect variantType changes and apply JSON validation only for json type
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: use index-based tracking for JSON payload validation errors
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: enable JSON validation for standard mode in JsonEditor
  packages/frontend/src/components/common/JsonEditor.tsx
Due: frontend

feat: reset variant payloads to default value when type changes
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

style: improve variant card layout - move delete button to name row
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: add variantType to feature flags for variant payload type persistence
  packages/backend/src/database/migrations/027_add_variant_type_to_feature_flags.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

feat: navigate to list view after saving strategies or variants
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: move feature-flags routes from /game to root path
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat: reorganize feature-flags routes with segments, context-fields, types as subpaths
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
Due: frontend

fix: default feature flag to disabled on creation for safety
  packages/backend/src/services/FeatureFlagService.ts
Due: backend

fix: sidebar menu highlighting for feature-flags subpaths
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

feat: add empty state and payload warning for variants tab
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: update payload warning to mention system performance
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

style: use dashed border for empty constraints box
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: hide add constraint button in header when no constraints
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: improve no segments message wording
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(server-sdk): fix variant selection and constraint evaluation logic
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
Due: none

feat(server-sdk): add FeatBit-style variation methods
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
Due: none

chore: clean up variation method comments
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
Due: none

fix: use MurmurHash3 for consistent feature flag bucketing
  packages/backend/src/services/FeatureEvaluator.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
Due: backend

wip: feature flag unleash-style schema refactoring (migration + plan)
  archived/feature-flag-unleash-refactor-plan.md
  packages/backend/src/database/migrations/028_feature_flags_unleash_style.js
Due: backend

refactor(feature-flags): Unleash-style schema - global flags with per-environment settings
  archived/feature-flag-unleash-refactor-plan.md
  packages/backend/src/database/migrations/028_feature_flags_unleash_style.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/backend/src/services/FeatureFlagService.ts
Due: backend

feat(feature-flags): per-environment toggle UI with custom FeatureSwitch
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/common/FeatureSwitch.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
  packages/sdks/server-sdk/package.json
  packages/sdks/server-sdk/src/utils/LokiTransport.ts
Due: backend, frontend

fix: feature flag detail page loading and navigation issues
  archived/FeatureFlagDetailPage_backup.tsx
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/components/common/FeatureSwitch.tsx
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
Due: backend, frontend

fix: feature flag detail page improvements
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat(feature-flags): enhance strategy and settings UI
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

feat(frontend): improve Feature Flag UI - variantType change detection, separate segment expansion states, AND chip theme styling
  packages/backend/build_output.txt
  packages/backend/src/database/migrations/030_add_weight_lock_to_variants.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
