Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix: use projectId for client version ETag cache key and fix tag invalidation scope
  packages/backend/src/services/client-version-service.ts
  packages/backend/src/services/tag-service.ts
Due: backend

refactor: rename Project Token to Universal Client Token (project -> universal_client, gxp_ -> gxuc_)
  packages/backend/src/controllers/internal-api-tokens-controller.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/middleware/environment-key-auth.ts
  packages/backend/src/models/api-access-token.ts
  packages/backend/src/routes/admin/api-tokens.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/edge/src/services/version-map-service.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

fix: apply PageContentLoader to IP whitelist tab for consistent tab transition
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
Due: frontend

feat: force approve for CR - bypass approver threshold with CHANGE_REQUESTS_SKIP permission
  packages/backend/src/services/change-request-service.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ChangeRequestDetailPage.tsx
  packages/frontend/src/services/changeRequestService.ts
Due: backend, frontend

chore: misc updates - universal client token, whitelist drawer, client version form fixes
  packages/backend/src/app.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/edge/src/app.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/services/environment-registry.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/WhitelistFullInfoDrawer.tsx
  packages/frontend/src/components/common/JsonEditor.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  spec/table_scope_classification.md
  spec/universal_client_token.md
  spec/universal_client_token_diagram.png
Due: backend, frontend

yarn format
  packages/backend/src/app.ts
  packages/edge/src/app.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/WhitelistFullInfoDrawer.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
Due: backend, frontend

feat: add PATCH_UPDATE_REQUIRED status, remove BLOCKED_PATCH_ALLOWED, update labels
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/models/client-version.ts
  packages/edge/src/routes/client.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

feat: add status icons with descriptions, convert Korean comments to English
  packages/backend/src/config/swagger.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/common/ClientStatusIcon.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

refactor: convert all Korean comments to English in ClientVersionsPage
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: frontend

fix: add whitelist address fields to import handler for round-trip consistency
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: frontend

feat(ui): refactor sidebar menu into single level accordion structure
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

style(ui): remove outline from cancel button in invitation modal
  packages/frontend/src/components/admin/InvitationForm.tsx
Due: frontend

feat: unified workspace tabbed page (Orgs/Projects/Environments)
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
  packages/frontend/src/pages/admin/WorkspaceTabbedPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
Due: frontend

feat: add sidebar context switcher (Org/Project/Env) and UI improvements
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/SidebarContextSwitcher.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/WorkspaceTabbedPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/services/environmentService.ts
Due: frontend

style: adjust sidebar width to 270px
  packages/frontend/src/components/layout/MainLayout.tsx
Due: frontend

시스템설정 통합: 콘솔/데이터관리/외부서비스/SDKs 탭 이동, 클라이언트버전 상태 우선순위 수정, 채널 캐시 무효화, 스크롤바 Monaco 충돌 수정
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/controllers/vars-controller.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/utils/passive-data-utils.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/ArrayEditor.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/admin/DataManagementPage.tsx
  packages/frontend/src/pages/admin/SystemConsolePage.tsx
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
  packages/frontend/src/pages/settings/IntegrationsSdksPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
Due: backend, frontend

fix: token usage tracking, prefix alignment, token mirroring, unsecured universal_client token
  packages/backend/src/controllers/api-tokens-controller.ts
  packages/backend/src/controllers/internal-api-tokens-controller.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/middleware/environment-key-auth.ts
  packages/backend/src/models/api-access-token.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/services/api-token-usage-service.ts
  packages/edge/src/index.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/middleware/server-auth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/services/token-mirror-service.ts
  packages/edge/src/services/token-usage-tracker.ts
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
Due: backend, frontend

fix: Yarn 4 Docker migration - path aliases, missing deps, idempotent migrations & auto-seed
  .dockerignore
  deploy/.build-history.json
  deploy/list-images.ps1
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/database/migration.ts
  packages/backend/src/database/migrations/003_feature_flags_system.js
  packages/backend/src/database/seed.ts
  packages/backend/src/index.ts
  packages/chat-server/Dockerfile
  packages/edge/Dockerfile
  packages/event-lens/Dockerfile
  packages/frontend/Dockerfile
  packages/frontend/src/locales/zh.ini
  yarn.lock
Due: backend, frontend

refactor: merge crash database into main database
  deploy/.build-history.json
  packages/backend/src/config/crash-database.ts
  packages/backend/src/config/knex.ts
  packages/backend/src/index.ts
Due: backend

chore: add etcd storage optimization settings to prevent database space exceeded errors
  docker-compose.lite.yml
Due: none

fix: deploy script - Yarn Berry compat, evaluator bundling, shared path fix
  deploy/.build-history.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/scripts/deploy-to-game-server.ts
Due: none

feat: deploy script copies planning tools to game server - Copies admin-tool-data-builder.js and loctab-converter.js to game/gatrix/planning-data/lib/ during SDK deployment
  packages/sdks/server-sdks/gatrix-node-server-sdk/scripts/deploy-to-game-server.ts
Due: none

fix(frontend): UI cursor misalignment issue in JsonEditor
  packages/frontend/src/components/common/JsonEditor.tsx
Due: frontend

feat(apiTokens): replace 2-step project+env selector with unified EnvironmentTreeSelector
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

fix(apiTokens): project column display, resizable drawers, modern design
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

fix(whitelist): disable add button until required fields are filled
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

fix(groups): rename create to add, add subtitle, fix button label
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GroupsPage.tsx
Due: frontend

fix(users): change add user button to common.add, remove cancel outline
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

fix(sdk): fix event channel subscription and multi-env API calls
  deploy/.build-history.json
  packages/frontend/src/components/layout/SidebarContextSwitcher.tsx
  packages/frontend/src/contexts/OrgProjectContext.tsx
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-listener.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/banner-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/popup-notice-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/store-product-service.ts
Due: frontend

fix: universal client token dynamic environment resolution
  packages/backend/src/middleware/api-token-auth.ts
  packages/backend/src/models/client-version.ts
  packages/backend/src/models/project.ts
  packages/edge/src/middleware/client-auth.ts
  packages/edge/src/services/version-map-service.ts
Due: backend

fix: SDK cache invalidation and environment resolution for multi-env edge mode
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/cache-manager.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/gatrix-server-sdk.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/base-environment-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/service-maintenance-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/store-product-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/survey-service.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/whitelist-service.ts
Due: none

feat(image): batch texture creation, GIF metadata-only parsing, eliminate double-decode, frame skip on lag, fix static WebP gray image
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixBannerClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixBannerWidget.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixImageLoader.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixImageManager.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixWebImage.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixBannerClient.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixBannerWidget.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixImageLoader.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixImageManager.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixImageSource.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixWebImage.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/ThirdParty/GatrixGifDecoder.h
  packages/sdks/client-sdks/spec/GATRIX_BANNER_GUIDE.md
  packages/sdks/client-sdks/spec/GATRIX_BANNER_IMAGE_SPEC.md
  packages/sdks/client-sdks/spec/IMAGE_OPTIMIZATION_INFOGRAPHIC.png
  packages/sdks/client-sdks/spec/IMAGE_OPTIMIZATION_REPORT.md
  packages/sdks/client-sdks/spec/widget_architecture.png
  packages/sdks/client-sdks/spec/widget_hero.png
  packages/sdks/client-sdks/spec/widget_umg_flow.png
  packages/sdks/client-sdks/spec/widget_usecases.png
Due: frontend

feat: shimmer loading animation + fix banner dirty state detection
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixBannerWidget.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixWebImage.cpp
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixBannerWidget.h
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Public/GatrixWebImage.h
Due: frontend

chore: apply recent updates from multiple debugging and feature refinement sessions
  deploy/.build-history.json
  manual/ko/13-planning-data.md
  packages/backend/src/controllers/server-feature-flag-controller.ts
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/routes/client.ts
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/layout/SidebarContextSwitcher.tsx
  packages/frontend/src/components/planning-data/PlanningDataGuideDrawer.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixFeaturesClient.cpp
  packages/sdks/client-sdks/gatrix-unreal-lua-client-sdk/Source/GatrixLuaClientSDK/Private/LuaGatrix.cpp
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-listener.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/services/feature-flag-service.ts
  scripts/upload-planning-data.js
Due: backend, frontend

feat(frontend): legalValues dropdown for value editing
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: frontend

feat(store-products): override management, planning data integration, UI improvements
  converted-planning-data/cashshop-lookup.json
  packages/backend/src/controllers/store-product-controller.ts
  packages/backend/src/routes/admin/store-products.ts
  packages/backend/src/services/planning-data-service.ts
  packages/backend/src/services/store-product-service.ts
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/services/storeProductService.ts
Due: backend, frontend

fix(gatrix): Fix CMS sales dates sync, resolve ER_OUT_OF_SORTMEMORY, and update UI components
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/contents/cms/admin-tool-data-builder.js
  packages/backend/src/services/cms-cash-shop-service.ts
  packages/backend/src/services/planning-data-service.ts
  packages/backend/src/services/store-product-service.ts
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/storeProductService.ts
Due: backend, frontend

feat: Fix store product sync timezone mismatch and pagination reset
  packages/backend/src/controllers/store-product-controller.ts
  packages/backend/src/services/store-product-service.ts
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/services/storeProductService.ts
Due: backend, frontend

Fix: Standardize game_world.* event format across backend and SDKs
  deploy/.build-history.json
  packages/backend/src/contents/cms/admin-tool-data-builder.js
  packages/backend/src/controllers/game-world-controller.ts
  packages/backend/src/services/game-world-service.ts
  packages/backend/src/services/outbox-service.ts
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Events/SdkEventTypes.cs
  packages/sdks/server-sdks/gatrix-go-server-sdk/types/events.go
  packages/sdks/server-sdks/gatrix-node-server-sdk/package.json
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/cache/event-handlers/game-world-event-handler.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/types/events.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdks/gatrix-node-server-sdk/test-servers/idle-server.ts
  packages/sdks/server-sdks/gatrix-rust-server-sdk/src/types/events.rs
Due: backend
