Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

리스트뷰 페이지 사이즈 localStorage에 기억
  packages/frontend/src/hooks/usePageState.ts
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

로컬라이징 이슈 처리
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/auth/PendingPage.tsx
  packages/frontend/src/pages/user/ProfilePage.tsx
Due: frontend

request logging 개선
  packages/backend/migrations/20241203_fix_job_types_column.js
  packages/backend/src/controllers/jobTypeController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/middleware/requestLogger.ts
  packages/backend/src/models/JobType.ts
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/services/jobService.ts
Due: backend, frontend

태그 페이지 기능 개선
  packages/backend/src/controllers/TagController.ts
  packages/backend/src/models/Tag.ts
  packages/frontend/src/components/common/ColorPicker.tsx
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/timeService.ts
  packages/frontend/src/utils/dateFormat.ts
  scripts/add-user-action-translations.js
Due: backend, frontend

Update ColorPicker.tsx
  packages/frontend/src/components/common/ColorPicker.tsx
Due: frontend

Update TagsPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: frontend

간편 클라이언트 버전 추가 기능 문제 수정
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

이름 변경 (Gate -> Gatrix)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docker/redis/redis.conf
  package.json
  packages/backend/.env.example
  packages/backend/DATABASE_SETUP.md
  packages/backend/scripts/setup-database.bat
  packages/backend/scripts/setup-database.sh
  packages/backend/scripts/setup-database.sql
  packages/backend/scripts/start-mysql-docker.bat
  packages/backend/scripts/start-mysql-docker.sh
  packages/backend/src/app.ts
  packages/backend/src/config/swagger.ts
  packages/backend/src/services/EmailService.ts
  packages/backend/src/utils/sessionManager.ts
  packages/frontend/cypress/support/commands.ts
  packages/frontend/docker-entrypoint.sh
  packages/frontend/public/index.html
  scripts/deploy.sh
  scripts/setup.sh
Due: backend

이메일 템플릿 수정
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/services/EmailTemplateService.ts
  packages/backend/src/templates/email/en/account-approval.hbs
  packages/backend/src/templates/email/en/password-reset.hbs
  packages/backend/src/templates/email/en/password-reset.txt
  packages/backend/src/templates/email/ko/account-approval.hbs
  packages/backend/src/templates/email/ko/password-reset.hbs
  packages/backend/src/templates/email/ko/password-reset.txt
  packages/backend/src/templates/email/zh/account-approval.hbs
  packages/backend/src/templates/email/zh/password-reset.hbs
  packages/backend/src/templates/email/zh/password-reset.txt
  packages/backend/src/templates/email/zh/welcome.hbs
Due: backend

knex 전환
  packages/backend/package.json
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/services/PasswordResetService.ts
  packages/backend/src/test/knex-migration-test.ts
  packages/frontend/src/locales/admin.scheduler.schema.md
  packages/frontend/src/locales/en.json.bak.rebuild
  packages/frontend/src/locales/ko.json.bak.rebuild
  packages/frontend/src/locales/zh.json.bak.rebuild
Due: backend, frontend

스키마
  packages/backend/package.json
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/GameWorldService.ts
  packages/backend/src/test/check-schema.ts
  packages/frontend/src/pages/auth/LogoutPage.tsx
Due: backend, frontend

마이너 버그수정
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/GameWorldService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/hooks/usePageState.ts
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
Due: backend, frontend

사용하지 않는 파일들 삭제 및 유저리스트에 태깅 기능 추가
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/migrations/002_add_user_tags.js
  packages/backend/src/models/User.ts
  packages/backend/src/routes/users.ts
  packages/backend/src/services/UserTagService.ts
  packages/backend/src/services/userService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/UserForm.tsx
  packages/frontend/src/components/common/FormDialogHeader.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/DashboardPage.tsx
  packages/frontend/src/pages/LandingPage.tsx
  packages/frontend/src/pages/LoginPage.tsx
  packages/frontend/src/pages/NotFoundPage.tsx
  packages/frontend/src/pages/PendingPage.tsx
  packages/frontend/src/pages/ProfilePage.tsx
  packages/frontend/src/pages/RegisterPage.tsx
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/UnauthorizedPage.tsx
  packages/frontend/src/pages/UsersPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersPage.tsx
  packages/frontend/src/pages/auth/PendingPage.tsx
  packages/frontend/src/pages/common/UnauthorizedPage.tsx
  packages/frontend/src/services/users.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/types/user.ts
Due: backend, frontend

일반설정 화면 복구
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

사용자 관리 페이지 개선
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: backend, frontend

UI 개선작업
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/models/User.ts
  packages/backend/src/routes/admin.ts
  packages/backend/src/services/userService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  yarn.lock
Due: backend, frontend

태그처리 보완
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: frontend

폼에서 태그 설정 오류 수정
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

중간커밋
  packages/backend/src/models/ClientVersion.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

!!!
  package-lock.json
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/002_add_maintenance_fields.js
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/GameWorld.ts
  packages/frontend/package.json
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/types/clientVersion.ts
  packages/frontend/src/types/gameWorld.ts
  yarn.lock
Due: backend, frontend

UI 개선
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/routes/users.ts
  packages/backend/src/services/userService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AdminDashboardPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/users.ts
Due: backend, frontend

클라이언트 버전 추가시 기본값(게임서버 주소, 패치서버 주소)을 통한 편의성 개선
  packages/backend/src/app.ts
  packages/backend/src/controllers/MaintenanceController.ts
  packages/backend/src/controllers/PlatformDefaultsController.ts
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/platformDefaults.ts
  packages/backend/src/services/PlatformDefaultsService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/PlatformDefaultsDialog.tsx
  packages/frontend/src/constants/platforms.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/platformDefaultsService.ts
Due: backend, frontend

로컬라이징 이슈 수정
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

Update ko.json
  packages/frontend/src/locales/ko.json
Due: frontend

로컬라이징 이슈들 처리
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/types/clientVersion.ts
Due: frontend

불필요한 로깅제거, 로컬라이징 오류 수정
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/auditLogService.ts
Due: frontend

Update MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: frontend

UI 버그수정
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
Due: frontend

게임월드 표시 순서 관련 버그 수정
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/middleware/auth.ts
  packages/backend/src/models/GameWorld.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/clientVersionService.ts
Due: backend, frontend

UI 버그 수정
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: frontend

언어별 점검 메시지 안되던 문제 수정
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/models/GameWorld.ts
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: backend, frontend

구글 번역 API 적용
  packages/backend/src/app.ts
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/controllers/TranslationController.ts
  packages/backend/src/routes/translation.ts
  packages/backend/src/services/TranslationService.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/services/translationService.ts
Due: backend, frontend

github 로그인 안되는 문제 수정
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/routes/auth.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/OAuthCallbackPage.tsx
  packages/frontend/src/services/auth.ts
Due: backend, frontend

wechat, baidu 로그인 추가(현재 동작안함)
  package-lock.json
  packages/backend/package.json
  packages/backend/src/config/index.ts
  packages/backend/src/config/passport.ts
  packages/backend/src/database/migrations/007_add_auth_type_to_users.js
  packages/backend/src/models/User.ts
  packages/backend/src/routes/auth.ts
  packages/backend/src/types/user.ts
  packages/frontend/src/components/icons/BaiduIcon.tsx
  packages/frontend/src/components/icons/QQIcon.tsx
  packages/frontend/src/components/icons/WeChatIcon.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/services/auth.ts
  packages/frontend/src/types/index.ts
  yarn.lock
Due: backend, frontend

wechat, baidu 정상적용
  packages/backend/src/routes/auth.ts
  packages/backend/src/services/BaiduOAuth.ts
  packages/backend/src/services/WeChatOAuth.ts
  packages/frontend/src/pages/auth/LoginPage.tsx
Due: backend, frontend

회원가입/로그인 관련 수정사항 반영
  packages/backend/src/routes/auth.ts
  packages/baidu-svgrepo-com.svg
  packages/frontend/src/assets/icons/baidu-svgrepo-com.svg
  packages/frontend/src/assets/icons/qq-fill-svgrepo-com.svg
  packages/frontend/src/assets/icons/wechat-o-svgrepo-com.svg
  packages/frontend/src/components/LanguageSelector.tsx
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/icons/BaiduIcon.tsx
  packages/frontend/src/components/icons/QQIcon.tsx
  packages/frontend/src/components/icons/WeChatIcon.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/ForgotPasswordPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/pages/auth/PendingApprovalPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/pages/auth/SignUpPromptPage.tsx
  packages/qq-fill-svgrepo-com.svg
  packages/wechat-o-svgrepo-com.svg
Due: backend, frontend

가입관련 UI 개선
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/ForgotPasswordPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/pages/auth/PendingApprovalPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

로그인/회원가입 관련 오류 수정
  packages/frontend/src/components/auth/AuthLayout.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/pages/auth/OAuthCallbackPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

비밀번호 리셋 관련한 버그들 수정
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/migrations/008_add_used_column_to_password_reset_tokens.js
  packages/backend/src/database/migrations/009_add_updatedAt_column_to_password_reset_tokens.js
  packages/backend/src/models/User.ts
  packages/backend/src/routes/users.ts
  packages/backend/src/services/PasswordResetService.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/templates/email/en/password-reset.hbs
  packages/backend/src/templates/email/en/password-reset.txt
  packages/backend/src/templates/email/ko/password-reset.hbs
  packages/backend/src/templates/email/ko/password-reset.txt
  packages/backend/src/templates/email/zh/password-reset.hbs
  packages/backend/src/templates/email/zh/password-reset.txt
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/ForgotPasswordPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/ResetPasswordPage.tsx
  packages/frontend/src/services/users.ts
Due: backend, frontend
