Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: env-level overrideEnabledValue/overrideDisabledValue flags with toggle UI
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/common/ContextFieldChip.tsx
  packages/frontend/src/components/common/ValueEditorField.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

fix: SDK polling bug, config structure, dashboard UI improvements
  packages/sdks/client-sdks/gatrix-js-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/FlagDetailModal.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/SlotMachineGame.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-client-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/GatrixProvider.tsx
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/examples/dashboard/src/components/Dashboard.svelte
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/examples/dashboard/src/components/FlagCard.svelte
  packages/sdks/client-sdks/gatrix-svelte-client-sdk/examples/dashboard/src/components/StatsPanel.svelte
  packages/sdks/client-sdks/gatrix-vue-client-sdk/examples/dashboard/src/components/Dashboard.vue
  packages/sdks/client-sdks/gatrix-vue-client-sdk/examples/dashboard/src/components/FlagCard.vue
  packages/sdks/client-sdks/gatrix-vue-client-sdk/examples/dashboard/src/components/StatsPanel.vue
Due: none

adjustments
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/routes/admin/features.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/valueSource.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/variantSource.ts
  packages/sdks/client-sdks/gatrix-react-client-sdk/src/useVariant.ts
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Editor/GatrixMonitorWindow.cs
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/FeaturesClient.FlagAccess.cs
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/ValueSource.cs
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Evaluation/FeatureFlagEvaluator.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Models/EvaluationResult.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/FeatureFlagService.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/tests/Gatrix.Server.Sdk.Tests/FeatureFlagEvaluatorTests.cs
  packages/shared/src/evaluation/EvaluationUtils.ts
  packages/shared/src/evaluation/FeatureFlagEvaluator.ts
  packages/shared/src/evaluation/ValueSource.test.ts
  packages/shared/src/evaluation/index.ts
  packages/shared/src/evaluation/valueSource.ts
  packages/shared/src/evaluation/variantSource.ts
Due: backend

refactor: multi-instance fixes + dead code cleanup
  packages/backend/data/game-mock-data.sql
  packages/backend/src/app.ts
  packages/backend/src/controllers/ContextFieldControllerNew.ts
  packages/backend/src/controllers/PlanningDataController.ts
  packages/backend/src/models/ContextField.ts
  packages/backend/src/routes/admin/notifications.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/services/FlagStreamingService.ts
  packages/backend/src/services/PubSubService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/campaignScheduler.ts
  packages/backend/src/services/jobs/CampaignCheckJob.ts
  packages/backend/src/services/jobs/index.ts
  packages/backend/src/services/schedulerJobs.ts
  packages/backend/src/services/sseNotificationService.ts
  packages/backend/src/services/sseNotificationService.ts.tmp
  packages/sdks/server-sdk/src/cache/EventListener.ts
Due: backend

feat: granular EventListener optimization for Node.js and .NET SDKs
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/services/VarsService.ts
  packages/sdks/server-sdk/src/cache/EventListener.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/services/VarsService.ts
  packages/sdks/server-sdk/src/types/events.ts
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Cache/FlagDefinitionCache.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/DependencyInjection/ServiceCollectionExtensions.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Events/EventListener.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Events/SdkEvent.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/BannerService.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/ClientVersionService.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/FeatureFlagService.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/ServiceNoticeService.cs
Due: backend

feat(backend,edge): add flagNames/segmentNames query filtering to feature flag and segment APIs with standardized error responses
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/edge/package.json
  packages/edge/src/routes/server.ts
  packages/edge/src/utils/apiResponse.ts
Due: backend

fix: omit empty segments from compact response and skip DB queries in single-flag endpoint
  packages/backend/src/controllers/ServerFeatureFlagController.ts
Due: backend

feat: add compact query param support to edge server features route - Strip strategies/variants/enabledValue from disabled flags when compact=true - Omit empty segments array from response
  packages/edge/src/routes/server.ts
Due: none

feat: add Chinese localization for reference check feature
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: release flow SSE real-time updates, resume button, and zh.ini translations
  packages/backend/src/services/ReleaseFlowService.ts
  packages/backend/src/services/releaseFlowScheduler.ts
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

fix: audit log improvements - IP, descriptions, filtering, integration events
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/routes/admin/apiTokens.ts
  packages/backend/src/routes/admin/clientVersionRoutes.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/FeatureFlagAuditLogs.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/types/index.ts
Due: backend, frontend

refactor: improve reference display with reusable ResourceReferenceList component
  docs/docs/features/feature-flags.md
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/services/ReleaseFlowService.ts
  packages/backend/src/services/schedulerJobs.ts
  packages/frontend/src/components/common/ReferenceCheckDialog.tsx
  packages/frontend/src/components/common/ResourceReferenceList.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Evaluation/FeatureFlagEvaluator.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Models/EvaluationResult.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Models/FeatureFlag.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Services/FeatureFlagService.cs
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/tests/Gatrix.Server.Sdk.Tests/FeatureFlagEvaluatorTests.cs
  packages/shared/src/features/FeatureFlagEvaluator.ts
  packages/shared/src/features/types.ts
Due: backend, frontend

feat: add real-time progress bar to active release flow milestone card
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

fix: release flow milestone button flicker on pause/resume and UI improvements
  packages/frontend/src/components/features/ReleaseFlowTab.tsx
Due: frontend

feat: Phase 1 frontend service URL path scoping
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
  packages/frontend/src/services/tagService.ts
Due: frontend

feat: Phase 2 SDK token-based single environment scoping
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/ApiAccessToken.ts
Due: backend

feat: Remove :env path params from SDK routes, add Environment.getById
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/Environment.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/routes/server/index.ts
Due: backend

feat: Remove environment from Unity/Unreal client SDKs
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/FeaturesClient.Fetch.cs
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/FeaturesClient.Streaming.cs
  packages/sdks/client-sdks/gatrix-unity-client-sdk/src/Assets/Plugins/Gatrix/Runtime/Metrics.cs
  packages/sdks/client-sdks/gatrix-unreal-client-sdk/Source/GatrixClientSDK/Private/GatrixFeaturesClient.cpp
Due: none

feat: Merge migrations 005/006 into 002, rename g_network_traffic to g_feature_network_traffic
  packages/backend/src/models/Environment.ts
Due: backend

Update Environment.ts
  packages/backend/src/models/Environment.ts
Due: backend

refactor: Split FeatureFlag.ts (1618 lines) into modular folder structure
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/models/FeatureFlag/FeatureContextFieldModel.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagEnvironmentModel.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagModel.ts
  packages/backend/src/models/FeatureFlag/FeatureMetricsModel.ts
  packages/backend/src/models/FeatureFlag/FeatureSegmentModel.ts
  packages/backend/src/models/FeatureFlag/FeatureStrategyModel.ts
  packages/backend/src/models/FeatureFlag/FeatureVariantModel.ts
  packages/backend/src/models/FeatureFlag/index.ts
  packages/backend/src/models/FeatureFlag/types.ts
Due: backend

fix: Resolve all TypeScript build errors - apiTokenAuth, server routes, FeatureFlag imports
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/models/FeatureFlag/FeatureFlagModel.ts
  packages/backend/src/models/FeatureFlag/types.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/server/index.ts
Due: backend

chore: Remove unused types/events.ts
  packages/backend/src/types/events.ts
Due: backend

Update client.ts
  packages/backend/src/routes/client/client.ts
Due: backend

fix: Use g_environments.id instead of g_environments.environmentId (PK is id)
  packages/backend/src/models/ApiAccessToken.ts
  packages/backend/src/models/ChangeRequest.ts
  packages/backend/src/utils/environmentContext.ts
Due: backend

fix: Add isProcessed to g_signals, fix environmentId column refs in ServerEnvironmentController
  packages/backend/src/controllers/ServerEnvironmentController.ts
Due: backend

feat: Add internal gatrix org/project/env to seed, fix g_signals isProcessed, fix seed env id
  packages/backend/src/database/seed.ts
Due: backend

fix: Edge resolves env name to ULID ID via backend API before SDK init
  packages/backend/src/controllers/ServerEnvironmentController.ts
  packages/edge/src/services/sdkManager.ts
Due: backend

fix: Remove g_users.role column refs - role is now in g_organisation_members.orgRole
  packages/backend/src/models/User.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/ChangeRequestService.ts
Due: backend

fix: Login queries org membership for JWT orgId/orgRole instead of hardcoded values
  packages/backend/src/services/AuthService.ts
Due: backend

fix: Remove g_user_environments refs, add orgRole join in User queries
  packages/backend/src/models/User.ts
Due: backend

fix: Remove blanket requireAdmin, fix User model legacy refs
  packages/backend/src/routes/admin/index.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
