Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - 'packages/*/dist'
    - 'packages/*/build'
    - 'packages/*/coverage'
    - 'packages/*/node_modules'
    - 'packages/*/*.config.*'
    - 'packages/*/src/test'
    - 'packages/*/cypress'
    - 'packages/backend/src/database/migrations'
    - 'packages/backend/src/config'
    - 'packages/backend/src/index.ts'
    - 'packages/frontend/src/main.tsx'
    - 'packages/frontend/src/vite-env.d.ts'

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix: add chip-style borders to NOT and case-sensitivity buttons
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: increase NOT/Tt button height to 34px for alignment
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: set operator select to fixed width 130px
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: increase operator select padding to 8px for better visual clarity
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: fine-tune operator select padding to 7px
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: reduce NOT/Tt button size to 28px
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: set field name selector to fixed width 170px with ellipsis overflow
  packages/frontend/src/components/features/ConstraintEditor.tsx
Due: frontend

fix: set ConstraintDisplay field name and operator to fixed width 130px for table-like alignment
  packages/frontend/src/components/features/ConstraintDisplay.tsx
Due: frontend

fix: soften ConstraintDisplay background color in dark mode
  packages/frontend/src/components/features/ConstraintDisplay.tsx
Due: frontend

fix: reduce backdrop blur and opacity for less intrusive overlay
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

fix: remove backdrop blur entirely
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

fix: add subtle blur(2px) back to backdrop
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

fix: reduce backdrop blur to 1px
  packages/frontend/src/contexts/ThemeContext.tsx
Due: frontend

fix: apply PageContentLoader pattern to IntegrationsPage to prevent flickering
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

fix: apply PageContentLoader pattern to TagsPage
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: frontend

fix: add zebra striping to AuditLogsPage rows
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
Due: frontend

fix: simplify UnauthorizedPage - remove verbose permission info and flashy button
  packages/frontend/src/pages/common/UnauthorizedPage.tsx
Due: frontend

fix: remove localization fallback strings from ChangeRequestDetailDrawer
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
Due: frontend

feat: enhance crash events - show env/project/org names, add filters, context menu
  packages/backend/src/controllers/crash-event-controller.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/services/crashService.ts
Due: backend, frontend

fix: improve integration page UI
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

fix: show environment displayName in playground selector instead of ID
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

Update ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

refactor: AI tools split into domain files, fix permission wildcard matching, fix Claude tool_use
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/backend/src/services/ai/ai-tool-types.ts
  packages/backend/src/services/ai/ai-tools.ts
  packages/backend/src/services/ai/providers/claude-provider.ts
  packages/backend/src/services/ai/tools/banner-tools.ts
  packages/backend/src/services/ai/tools/feature-flag-tools.ts
  packages/backend/src/services/ai/tools/game-world-tools.ts
  packages/backend/src/services/ai/tools/maintenance-tools.ts
  packages/backend/src/services/ai/tools/service-notice-tools.ts
Due: backend

feat: add AI tools for all domains (segments, client-versions, surveys, store-products, ingame-popups, reward-templates, coupons)
  packages/backend/src/services/ai/ai-tools.ts
  packages/backend/src/services/ai/tools/client-version-tools.ts
  packages/backend/src/services/ai/tools/coupon-tools.ts
  packages/backend/src/services/ai/tools/ingame-popup-tools.ts
  packages/backend/src/services/ai/tools/reward-template-tools.ts
  packages/backend/src/services/ai/tools/segment-tools.ts
  packages/backend/src/services/ai/tools/store-product-tools.ts
  packages/backend/src/services/ai/tools/survey-tools.ts
Due: backend

feat: improve AI assistant panel (resize persistence, virtual scroll, dark mode, UX)
  packages/backend/.env.example
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/frontend/package.json
  packages/frontend/src/components/ai/AIChatPanel.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  yarn.lock
Due: backend, frontend

feat: auto-load last chat on panel open, show history count chip
  packages/frontend/src/components/ai/AIChatPanel.tsx
Due: frontend

fix: AI chat panel - load last chat on open, show per-chat message count, support chained tool calls, fix marketType in test script
  packages/backend/src/models/game-world.ts
  packages/backend/src/scripts/add-test-crashes.ts
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/frontend/src/components/ai/AIChatPanel.tsx
  packages/frontend/src/services/aiChatService.ts
Due: backend, frontend

fix: AI chat panel smooth loading - skeleton during load, fade-in transition for content
  packages/frontend/src/components/ai/AIChatPanel.tsx
Due: frontend

feat: add delete_service_notice AI tool
  packages/backend/src/services/ai/tools/service-notice-tools.ts
Due: backend

fix: use native tool_use/tool_result format in LLM providers for proper tool chain execution
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/backend/src/services/ai/llm-types.ts
  packages/backend/src/services/ai/providers/claude-provider.ts
  packages/backend/src/services/ai/providers/openai-provider.ts
Due: backend

fix: add debug logging to follow-up stream, clean up delete handler
  packages/backend/src/services/ai/ai-chat-service.ts
Due: backend

fix: segment tool handler - correct listSegments signature (search, projectId)
  packages/backend/src/services/ai/tools/segment-tools.ts
Due: backend

UI consistency: update buttons, dirty checks, and styling alignment
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/RewardSelector.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/features/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
Due: frontend

Unify drawer header/footer bgcolor across all ResizableDrawer usages
  packages/frontend/src/components/admin/SubmitPreviewDrawer.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/game/SurveyConfigDialog.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagTypesPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
Due: frontend

Fix stepper transparent bgcolor causing content to show through in CreateIntegrationWizard
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
Due: frontend

Fix stepper bgcolor mismatch: remove sticky positioning since dialog has fixed height
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
Due: frontend

UI: unified borderRadius (shape.borderRadius: 4), removed env card left color indicator, fixed release template update button disabled state
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/pages/common/DashboardPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend

fix: release template update button disabled state - use initialData snapshot instead of ref
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
Due: frontend
