Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

인게임 팝업 공지 기능 추가중
  packages/backend/migrations/20250121_create_ingame_popup_notices_table.sql
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/ingamePopupNotices.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/IngameNoticesPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/services/ingamePopupNoticeService.ts
  packages/frontend/src/services/serviceNoticeService.ts
Due: backend, frontend

인게임팝업공지 관련 문제들 수정
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/services/ingamePopupNoticeService.ts
Due: backend, frontend

timezone 이슈로 인해서 시간 잘못 표시 및 변환되는 문제 수정
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

timezone 이슈들 처리
  packages/frontend/src/components/common/MaintenanceSettingsInput.tsx
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

플랫폼 와일드카드 추가
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: backend, frontend

컬럼셋팅 컨포넌트화
  packages/frontend/src/components/common/ColumnSettingsDialog.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
Due: frontend

컴포넌트 통일
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: frontend

UI 개선
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/common/ResizableDrawer.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

kv 설정 기능 추가
  package-lock.json
  packages/backend/package.json
  packages/backend/src/controllers/VarsController.ts
  packages/backend/src/database/migrations/008_add_survey_targeting.js
  packages/backend/src/database/migrations/011_add_kv_support_to_vars.js
  packages/backend/src/index.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/routes/admin/serviceNotices.ts
  packages/backend/src/routes/admin/vars.ts
  packages/backend/src/routes/mails.ts
  packages/backend/src/services/SurveyService.ts
  packages/backend/src/utils/systemKV.ts
  packages/frontend/package.json
  packages/frontend/src/components/common/ArrayEditor.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/pages/settings/KeyValuePage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/surveyService.ts
  packages/frontend/src/services/varsService.ts
  yarn.lock
Due: backend, frontend

kv 값 설정 1차 마무리
  packages/frontend/src/components/common/ArrayEditor.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/settings/KeyValuePage.tsx
Due: frontend

게임 기획 테이블 추가
  packages/backend/src/contents/cms/ADMIN_TOOL_INTEGRATION_GUIDE.md
  packages/backend/src/contents/cms/ADMIN_TOOL_USAGE.md
  packages/backend/src/contents/cms/HOW_IT_WORKS.md
  packages/backend/src/contents/cms/README.md
  packages/backend/src/contents/cms/REWARD_TYPE_REFERENCE.md
  packages/backend/src/contents/cms/USAGE_SUMMARY.md
  packages/backend/src/contents/cms/reward-localization-cn.json
  packages/backend/src/contents/cms/reward-localization-kr.json
  packages/backend/src/contents/cms/reward-localization-us.json
  packages/backend/src/contents/cms/reward-lookup.json
  packages/backend/src/contents/cms/reward-type-list.json
  packages/backend/src/contents/cms/rewardLookupBuilder.js
  packages/backend/src/utils/systemKV.ts
Due: backend

기획 데이터 테이블 읽어들이기
  packages/backend/src/controllers/PlanningDataController.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/planningData.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/planningDataService.ts
Due: backend, frontend

설문지 보상 처리 마무리
  packages/backend/src/index.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: backend, frontend

기획데이터 이름 오류 수정
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/contents/cms/reward-lookup.json
Due: backend

UI 개선
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/pages/game/ItemRewardsPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
Due: backend, frontend

Update adminToolDataBuilder.js
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

확률 컬럼 추가
  packages/backend/src/contents/cms/materecruiting-lookup.json
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/pages/game/PlanningDataPage.tsx
Due: backend, frontend

보상 아이템 선택기에서 아이템 클리어 기능 제거(무조건 선택되어야함)
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

서버 모니터링 기능 추가
  docker-compose.dev.yml
  docker-compose.yml
  etcd_discovery_implementation.md
  packages/backend/package.json
  packages/backend/scripts/SERVICE_DISCOVERY_TEST.md
  packages/backend/scripts/test-service-discovery.ts
  packages/backend/src/app.ts
  packages/backend/src/controllers/ServiceDiscoveryConfigController.ts
  packages/backend/src/controllers/ServiceDiscoveryController.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/ServiceDiscoveryFactory.ts
  packages/backend/src/services/serviceDiscoveryService.ts
  packages/backend/src/types/serviceDiscovery.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryConfigService.ts
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/frontend/vite.config.ts
  yarn.lock
Due: backend, frontend

Update ServerListPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

회원가입시 비밀번호 확인에서 안내메시지 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

회원가입 페이지 정돈
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

쿠폰 시스템 작업 전 마지막 버전
  coupon_system_design.md
  docker-compose.dev.yml
  package-lock.json
  package.json
  packages/chat-server/src/config/index.ts
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/services/chatService.ts
  packages/frontend/src/services/chatWebSocketService.ts
  packages/frontend/vite.config.ts
  yarn.lock
Due: frontend

Update coupon_system_design.md
  coupon_system_design.md
Due: none

쿠폰시스템 구현중
  coupon_system_design.md
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/012_create_coupon_system.js
  packages/backend/src/database/migrations/013_rename_coupon_name_description.js
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/ColumnSettingsDialog.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigDashboardNew.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/services/couponService.ts
Due: backend, frontend

쿠폰처리
  packages/backend/src/controllers/CouponRedeemController.ts
  packages/backend/src/controllers/CouponSettingsController.ts
  packages/backend/src/database/migrations/014_add_coupon_generation_status.js
  packages/backend/src/routes/admin/couponSettings.ts
  packages/backend/src/routes/coupons.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/jobs/CouponGenerationJob.ts
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/services/couponService.ts
Due: backend, frontend

쿠폰관련 코드 개선
  packages/backend/src/services/CouponSettingsService.ts
  packages/frontend/src/locales/ko.json
Due: backend, frontend

쿠폰관련 버그 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

쿠폰시스템 작업중
  packages/backend/COUPON_CACHE_ANALYSIS.md
  packages/backend/src/database/migrations/013_optimize_coupon_indexes.js
  packages/backend/src/database/migrations/014_add_coupon_count_cache.js
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
  packages/backend/src/services/jobs/CouponGenerationJob.ts
  packages/frontend/src/components/coupons/SDKGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
