Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

Feature Flag UI improvements: Metrics tab, creator name display, UX enhancements
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: backend, frontend

Fix: ConstraintDisplay - keep outer box, remove inner border and constraint icon
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

UI improvements: variant value copy, color indicators on variant cards
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

UI improvements: sharp color indicator edges for variant/environment cards
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

Reset variant payload values when variant type changes (number: 0, json: {}, string: empty)
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

Fix: Always save variants (including empty array) to properly clear deleted variants; Remove optional placeholder from payload inputs
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Add drag-and-drop strategy reordering with dnd-kit
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix: Environment toggle optimistic update - handle undefined environments and add key for proper re-rendering
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat: Add row checkboxes to feature flags list with select all functionality
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

style: Align Add Link button to right side
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Show read-only flag name at top of feature flag edit form
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat: Improve feature flag UI - save links, drawer forms, type icons, lastSeenAt column
  packages/backend/src/models/FeatureFlag.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

feat: Add lastSeenAt to flag detail sidebar, improve terminology to 'Last Used'
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat(feature-flags): improve export/import with clean data and safe import
  packages/backend/src/database/migrations/031_remove_stickiness_from_variants.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: backend, frontend

fix(backend): fix variant metrics bucket key matching - Convert metricsBucket to ISO string for consistent key comparison - Ensures variant counts properly merge with main metrics data
  packages/backend/src/models/FeatureFlag.ts
Due: backend

feat(sdk): add auto-periodic feature flag evaluation in idle-server - Evaluate all flags every 10 seconds with random users - Generates continuous metrics data for time-series visualization
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: none

feat(frontend): persist tab selection in URL and default all envs - Add query param ?tab=metrics to persist tab selection on refresh - Default metrics view to select all environments
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat(metrics): add application name filtering for feature flag metrics
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/database/migrations/033_add_appname_to_feature_metrics.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/services/FeatureMetricsService.ts
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

feat: improve feature flag detail page UI
  packages/backend/src/database/migrations/034_add_favorite_to_feature_flags.js
  packages/backend/src/database/migrations/035_add_stale_to_feature_flags.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/hooks/useGlobalPageSize.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
Due: backend, frontend

feat: Network Traffic page improvements - Add tabbed interface, chart grouping, round chip filters
  archived/network-feature-implementation-plan.md
  build_errors.txt
  frontend_errors.txt
  frontend_tsc_errors.txt
  frontend_tsc_errors2.txt
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/database/migrations/036_add_network_traffic_table.js
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/routes/server/index.ts
  packages/backend/src/services/NetworkTrafficService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
  packages/sdks/server-sdk/test-servers/idle-server.ts
Due: backend, frontend

fix: Hide chart legend when groupBy is 'all'
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
Due: frontend

feat(metrics): Improve Feature Flag Metrics UI - Move summary cards above chart, embed detail table in chart Paper, add URL query sync for filters/period/groupBy, implement chart groupBy (all/app/env)
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

feat(metrics): Show exposed/notExposed/total for each app/env in chart groupBy mode
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

style(env-card): Show empty light circle with tooltip when no metrics
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
Due: frontend

style(detail-page): Show empty light circle with tooltip when no metrics
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix(detail-page): Match empty circle size to metrics circle (52x52)
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

style(metrics): Remove dash from empty circle, add hourly collection hint to tooltip
  packages/frontend/src/components/features/EnvironmentSettingsCard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

fix(feature-flags): Apply column visibility settings to table headers and body
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

fix(feature-flags): Apply column visibility and order settings dynamically
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat(feature-flags): Add variant time-series line chart to metrics
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

feat(feature-flags): Add angled x-axis labels and collapsible detail table for variant chart
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

fix(feature-flags): Fix variant chart legend spacing, table header z-index, and add hourlyDetail localization
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(network): Add 48h and 30d time range options with consistent localization
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
Due: frontend

fix(network): Remove maxWidth constraint for consistent page layout
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
Due: frontend

fix(feature-flags): Default variant table to expanded state
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

style(metrics,network): Use Chip components for environment and app columns in detail tables
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
Due: frontend

style: Add rounded borderRadius to Chips and 45-degree X-axis rotation to network charts
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
  packages/frontend/src/pages/game/FeatureNetworkPage.tsx
Due: frontend

fix(feature-flags): Reduce page flickering by using isRefreshing state for subsequent loads
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

feat(feature-flags): Add variant chart grouping (all/app/env) with URL parameter sync
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend

fix(feature-flags): Fix variant table data access for grouped mode
  packages/frontend/src/components/features/FeatureFlagMetrics.tsx
Due: frontend
