Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

clickhouse 실행 이슈 수정
  docker-compose.yml
  packages/event-lens/src/config/clickhouse.ts
Due: none

event lens 실행 안되는 문제점 수정
  docker-compose.yml
  packages/event-lens/src/workers/event-worker.ts
  packages/event-lens/src/workers/profile-worker.ts
  packages/event-lens/src/workers/session-worker.ts
Due: none

Update redis.conf
  docker/redis/redis.conf
Due: none

서버들 시작 오류 및 헬스체크 실패 처리
  .env
  docker-compose.yml
  packages/chat-server/src/app.ts
  packages/chat-server/src/config/database.ts
  packages/chat-server/src/database/migrations/20241217000001_create_channels.js
  packages/chat-server/src/database/migrations/20241217000002_create_channel_members.js
  packages/chat-server/src/database/migrations/20241217000003_create_messages.js
  packages/chat-server/src/database/migrations/20241217000004_create_users.js
  packages/chat-server/src/database/migrations/20241217000005_create_message_attachments.js
  packages/chat-server/src/database/migrations/20241222_create_api_tokens.js
  packages/chat-server/src/services/ApiTokenService.ts
  packages/event-lens/Dockerfile
  packages/event-lens/migrations/clickhouse/001_create_events_table.sql
  packages/event-lens/migrations/clickhouse/005_add_advanced_optimizations.sql
  packages/event-lens/migrations/clickhouse/006_apply_openpanel_optimizations.sql
  packages/event-lens/src/config/clickhouse.ts
  packages/event-lens/src/index.ts
Due: none

필드명 오류 수정
  packages/backend/src/controllers/ApiTokensController.ts
  packages/backend/src/models/ApiAccessToken.ts
Due: backend

기획데이터 업로드 기능 버그 수정
  packages/backend/package.json
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/config/index.d.ts
  packages/backend/src/config/index.d.ts.map
  packages/backend/src/config/index.js
  packages/backend/src/config/index.js.map
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/services/PlanningDataService.ts
  packages/backend/src/utils/ulid.d.ts
  packages/backend/src/utils/ulid.d.ts.map
  packages/backend/src/utils/ulid.js
  packages/backend/src/utils/ulid.js.map
  packages/backend/tsconfig.json
  packages/backend/tsconfig.scripts.json
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
Due: backend, frontend

기획데이터 로컬라이징 이슈 처리
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/contents/cms/eventpage-lookup.json
  packages/backend/src/contents/cms/hottimebuff-lookup.json
  packages/backend/src/contents/cms/liveevent-lookup.json
  packages/backend/src/contents/cms/loctab.json
  packages/backend/src/contents/cms/materecruiting-lookup.json
  packages/backend/src/contents/cms/oceannpcarea-lookup.json
  packages/backend/src/contents/cms/reward-lookup-en.json
  packages/backend/src/contents/cms/reward-lookup-ko.json
  packages/backend/src/contents/cms/reward-lookup-zh.json
  packages/backend/src/contents/cms/reward-type-list.json
  packages/backend/src/controllers/PlanningDataController.ts
  packages/backend/src/routes/admin/planningData.ts
  packages/backend/src/services/CacheService.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/planningDataService.ts
Due: backend, frontend

데이터 로컬라이징 수정
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/frontend/src/components/game/RewardDisplay.tsx
  packages/frontend/src/components/game/RewardItemSelector.tsx
  packages/frontend/src/services/planningDataService.ts
Due: backend, frontend

Update adminToolDataBuilder.js
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

액세스 토큰 expired시에 이상한 동작 반복되는 현상 수정
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/services/AuthService.ts
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/services/api.ts
Due: backend, frontend

로그인폼 레이아웃 들쑥날쑥한 현상 수정
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
Due: frontend

기획데이터 완료!
  .env
  docker-compose.dev.yml
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/app.ts
  packages/backend/src/contents/cms/PLANNING_DATA_BUILD_AND_DEPLOY.md
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/contents/cms/eventpage-lookup-en.json
  packages/backend/src/contents/cms/eventpage-lookup-kr.json
  packages/backend/src/contents/cms/eventpage-lookup-zh.json
  packages/backend/src/contents/cms/hottimebuff-lookup-en.json
  packages/backend/src/contents/cms/hottimebuff-lookup-kr.json
  packages/backend/src/contents/cms/hottimebuff-lookup-zh.json
  packages/backend/src/contents/cms/liveevent-lookup-en.json
  packages/backend/src/contents/cms/liveevent-lookup-kr.json
  packages/backend/src/contents/cms/liveevent-lookup-zh.json
  packages/backend/src/contents/cms/loctab.json
  packages/backend/src/contents/cms/materecruiting-lookup-en.json
  packages/backend/src/contents/cms/materecruiting-lookup-kr.json
  packages/backend/src/contents/cms/materecruiting-lookup-zh.json
  packages/backend/src/contents/cms/oceannpcarea-lookup-en.json
  packages/backend/src/contents/cms/oceannpcarea-lookup-kr.json
  packages/backend/src/contents/cms/oceannpcarea-lookup-zh.json
  packages/frontend/index.html
  packages/frontend/src/pages/auth/ForgotPasswordPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/pages/auth/ResetPasswordPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/global.css
Due: backend, frontend

서비스 공지 UE4 웹뷰에서 안나오는 문제 수정
  packages/backend/src/app.ts
  packages/backend/src/routes/index.ts
  packages/frontend/nginx.conf
  packages/frontend/public/game-notices.html
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
Due: backend, frontend

기획데이터 로컬라이징 이슈 대응
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/contents/cms/adminToolDataBuilder.js
Due: backend

정리
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/frontend/nginx.conf
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: backend, frontend

공지기능 수정 (채널 지정하도록 수정)
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/035_add_channel_targeting_to_service_notices.js
  packages/backend/src/routes/public/serviceNotices.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

worldServerAddress 필드 추가
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/database/migrations/036_add_world_server_address.js
  packages/backend/src/models/GameWorld.ts
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/services/serviceNoticeService.ts
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

포트 5xxxx 대로 정리
  .env
  .env.example
  .env.production.example
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/src/controllers/ApiTokensController.ts
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/types/apiToken.ts
Due: backend, frontend

정돈
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/utils/clipboard.ts
  packages/frontend/vite.config.ts
Due: frontend

주소 이슈들 수정
  .env
  docker-compose.dev.yml
  packages/backend/src/routes/chat/index.ts
  packages/backend/src/routes/public/index.ts
  packages/backend/src/services/ChatServerService.ts
  packages/backend/src/services/ConsoleService.ts
  packages/chat-server/src/database/migrations/20241222_create_api_tokens.js
  packages/chat-server/src/database/migrations/20250105_fix_api_tokens_schema.js
  packages/chat-server/src/routes/apiTokens.ts
  packages/frontend/src/services/timeService.ts
  packages/frontend/vite.config.ts
Due: backend, frontend

Update my.cnf
  docker/mysql/conf.d/my.cnf
Due: none

메일 보낼때 발생하는 디비 오류 수정
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_create_mails_table.js
Due: backend

서비스공지 웹뷰 기능 추가
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: frontend

Update PlanningDataPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
Due: frontend

목록이 비었을때 colspan이 안맞는 경우 수정
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

신규 가입 완료후 완료 확인 페이지 안나오는 문제 수정
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
Due: frontend

Update UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

동영상 링크 추가 기능 적용
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
Due: frontend

Update RichTextEditor.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
Due: frontend

공지 기능 수정
  packages/backend/src/controllers/IngamePopupNoticeController.ts
  packages/backend/src/controllers/ServiceNoticeController.ts
  packages/backend/src/database/migrations/036_make_service_notices_enddate_nullable.js
  packages/backend/src/database/migrations/037_make_ingame_popup_notices_enddate_nullable.js
  packages/backend/src/services/IngamePopupNoticeService.ts
  packages/backend/src/services/ServiceNoticeService.ts
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  packages/frontend/src/services/ingamePopupNoticeService.ts
  packages/frontend/src/services/serviceNoticeService.ts
Due: backend, frontend

Update ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
Due: frontend

글 내용 편집시에 delete all 안되는 문제 수정
  packages/frontend/public/game-service-notices.html
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
Due: frontend

편지기에서 동영상 추가시 문제점들 수정
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

대량 쿠폰 생성 안되는 문제 수정
  .env
  packages/backend/src/database/migrations/036_add_totalCount_to_coupon_settings.js
  packages/frontend/src/components/game/ServiceNoticeFormDialog.tsx
  packages/frontend/src/components/mailbox/RichTextEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

레디스 서비스 디스커버리 안되는 문제 수정
  docker-compose.dev.yml
  docker/redis/redis.conf
  packages/backend/src/routes/server/serviceDiscovery.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/sdks/server-sdk/src/GatrixSDK.ts
  packages/sdks/server-sdk/src/discovery/RedisServiceDiscovery.ts
  packages/sdks/server-sdk/src/discovery/ServiceDiscovery.ts
  packages/sdks/server-sdk/src/services/ServiceDiscoveryService.ts
  packages/sdks/server-sdk/src/types/api.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/test-servers/authd.ts
  packages/sdks/server-sdk/test-servers/base-server.ts
  packages/sdks/server-sdk/test-servers/chatd.ts
  packages/sdks/server-sdk/test-servers/lobbyd.ts
  packages/sdks/server-sdk/test-servers/orchestrator.ts
  packages/sdks/server-sdk/test-servers/worldd.ts
Due: backend, frontend

정돈
  packages/backend/.env.example
  packages/backend/src/config/index.ts
  packages/backend/src/services/serviceDiscovery/EtcdServiceDiscoveryProvider.ts
  packages/backend/src/services/serviceDiscovery/RedisServiceDiscoveryProvider.ts
  packages/sdks/server-sdk/src/discovery/RedisServiceDiscovery.ts
  packages/sdks/server-sdk/src/discovery/ServiceDiscovery.ts
  packages/sdks/server-sdk/src/types/config.ts
Due: backend
