Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

정돈
  packages/backend/src/config/knex.ts
  packages/backend/src/routes/admin/serviceDiscovery.ts
  packages/backend/src/services/PlanningDataService.ts
  packages/backend/src/utils/dateUtils.ts
  packages/edge/src/internalApp.ts
  packages/edge/src/routes/internal.ts
  packages/frontend/src/components/common/DynamicFilterBar.tsx
  packages/frontend/src/components/common/RelativeTime.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
  packages/frontend/src/utils/dateFormat.ts
  packages/frontend/tsc_errors.txt
  packages/sdks/server-sdk/src/cache/CacheManager.ts
Due: backend, frontend

feat: Add APP_VERSION Docker build-arg for unified service versioning
  .gitignore
  converted-planning-data/cashshop-lookup.json
  deploy/build_and_push.ps1
  deploy/build_and_push.sh
  packages/backend/Dockerfile
  packages/backend/scripts/convert-planning-data.ts
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/backend/src/index.ts
  packages/chat-server/Dockerfile
  packages/chat-server/src/app.ts
  packages/edge/Dockerfile
  packages/edge/src/services/sdkManager.ts
  packages/event-lens/Dockerfile
  packages/event-lens/src/index.ts
  packages/frontend/src/components/planning-data/PlanningDataGuideDrawer.tsx
  packages/frontend/src/components/planning-data/PlanningDataUpload.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

feat: Add -Latest/-l option to build scripts for tagging images as latest
  deploy/build_and_push.ps1
  deploy/build_and_push.sh
Due: none

refactor: Unify all deploy scripts to Linux-style arguments
  deploy/README.md
  deploy/README.zh.md
  deploy/build_and_push.ps1
  deploy/deploy.ps1
  deploy/list_images.ps1
  deploy/login_registry.ps1
  deploy/rollback.ps1
  deploy/scale.ps1
  deploy/status.ps1
  deploy/update.ps1
Due: none

refactor: Rename deploy scripts to use hyphens instead of underscores
  deploy/README.md
  deploy/build-and-push.ps1
  deploy/build-and-push.sh
  deploy/deploy.ps1
  deploy/deploy.sh
  deploy/list-images.ps1
  deploy/list-images.sh
  deploy/login-registry.ps1
  deploy/login-registry.sh
  deploy/status.ps1
  deploy/status.sh
Due: none

docs: Update README.ko.md and README.zh.md to match English version
  deploy/README.ko.md
  deploy/README.zh.md
Due: none

feat: Add build history logging to build-and-push scripts
  .gitignore
  deploy/build-and-push.ps1
  deploy/build-and-push.sh
Due: none

fix: Resolve @gatrix/shared package resolution for Vite
  deploy/build-and-push.ps1
  deploy/build-and-push.sh
  packages/frontend/Dockerfile
  packages/shared/package.json
Due: none

fix: Change shared package to ESM for Vite/Rollup compatibility
  deploy/.build-history.json
  packages/shared/tsconfig.json
Due: none

feat: Add lite deployment scripts
  backend_lint_errors.txt
  deploy/README.md
  frontend_lint.txt
  lint_frontend_errors.txt
  lint_output.txt
  package-lite.ps1
  package-lite.sh
  update-lite.ps1
  update-lite.sh
Due: none

docs: Add QUICKSTART guide in EN/KO/ZH
  QUICKSTART.ko.md
  QUICKSTART.md
  QUICKSTART.zh.md
  deploy/deploy.sh
  package-lite.ps1
  package-lite.sh
Due: none

chore: Save deployment packages to artifacts/ folder
  .gitignore
  package-lite.ps1
  package-lite.sh
Due: none

chore: Add time to package filename (YYYYMMDD-HHMM)
  package-lite.ps1
  package-lite.sh
Due: none

fix: Include docker config folders in deployment package
  deploy/.build-history.json
  package-lite.ps1
  package-lite.sh
Due: none

fix: Use explicit ESM path for errors export in shared package
  packages/shared/src/index.ts
Due: none

fix: Prevent API calls when environment is not yet selected
  deploy/.build-history.json
  manual/ko/images/0-login.png
  manual/ko/images/1-register.png
  manual/ko/images/2-dashboard.png
  manual/ko/images/3-adminpanel.png
  manual/ko/images/4-gamemanagement.png
  manual/ko/images/5-settings.png
  packages/backend/src/database/migrations/019_add_totalcount_to_coupon_settings.js
  packages/frontend/src/components/layout/MainLayout.tsx
Due: backend, frontend

fix: Prevent PlanningDataContext API calls before environment is selected
  packages/frontend/src/contexts/PlanningDataContext.tsx
Due: frontend

fix: Use correct localStorage key for X-Environment header
  packages/frontend/src/services/api.ts
Due: frontend

fix: Correct timezone handling for MySQL Date objects
  packages/backend/src/utils/dateUtils.ts
Due: backend

fix: Add missing serverList.sort.label translations for en/zh
  deploy/.build-history.json
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
Due: frontend

refactor(frontend): enhance landing page UI with theme selection and improved design
  packages/frontend/Dockerfile
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/LandingPage.tsx
  packages/frontend/src/vite-env.d.ts
  packages/frontend/vite.config.ts
Due: frontend

feat: add etcd storage optimization and store product sync warning
  docker-compose-infra.yml
  docker-compose.yml
  packages/backend/src/contents/cms/adminToolDataBuilder.js
  packages/frontend/src/components/planning-data/PlanningDataGuideDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

fix: remove undefined setListViewLastHeartbeatTime call and fix environment change overlay name display
  packages/frontend/src/components/EnvironmentChangeOverlay.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

refactor(frontend): replace EmptyTableRow with EmptyState pattern to hide table headers when empty
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: frontend

fix: EmptyState 컴포넌트 표시 시 테이블 헤더 없이 표시되도록 개선
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

fix: EmptyState 및 로딩 상태 개선 (추가 페이지)
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
Due: frontend

feat: SearchTextField 공통 컴포넌트 추가 및 검색 기능 개선
  packages/backend/src/controllers/CrashEventController.ts
  packages/backend/src/controllers/ServerLifecycleController.ts
  packages/frontend/src/components/common/SearchTextField.tsx
  packages/frontend/src/pages/admin/CrashEventsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/ServerLifecyclePage.tsx
Due: backend, frontend

feat(gatrix-edges): enhance detail view with table/JSON toggle and separate refresh intervals
  benchmark/edge-performance.yml
  packages/edge/src/services/requestStats.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GatrixEdgesPage.tsx
  packages/frontend/src/services/serviceDiscoveryService.ts
Due: frontend

Update ServerListPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

정돈
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ServerListPage.tsx
Due: frontend

feat: implement Feature Flag system
  packages/backend/.env.example
  packages/backend/src/constants/cacheKeys.ts
  packages/backend/src/database/migrations/021_feature_flags_system.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/backend/src/services/ServiceRegistry.ts
  packages/backend/src/types/permissions.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
  packages/frontend/src/services/featureFlagService.ts
  packages/frontend/src/types/permissions.ts
  packages/sdks/server-sdk/src/GatrixServerSDK.ts
  packages/sdks/server-sdk/src/cache/CacheManager.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/config.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/types/index.ts
Due: backend, frontend

feat(feature-flags): improve targeting UI and add strategy-specific parameters
  archived/add-all-missing-locales.js
  archived/add-already-used.js
  archived/add-constraint-keys.js
  archived/add-empty-segment-key.js
  archived/add-missing-keys.js
  archived/add-missing-locales.js
  archived/add-op-labels.js
  archived/add-operator-keys.js
  archived/add-select-context.js
  archived/add-stickiness-help.js
  archived/add-strategy-keys.js
  archived/add-strategy-type-keys.js
  archived/add-variant-locales.js
  archived/convert-json-to-ini.js
  archived/remove-duplicate-locales.js
  packages/backend/src/database/migrations/022_change_audit_log_entityid_to_varchar.js
  packages/backend/src/database/migrations/023_add_datetime_to_context_field_type.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/routes/admin/features.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/config/menuIcons.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/contexts/I18nContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureSegmentsPage.tsx
  packages/frontend/src/plugins/vite-plugin-ini.ts
  packages/frontend/src/services/featureFlagService.ts
  packages/frontend/src/vite-env.d.ts
  packages/frontend/vite.config.ts
  scripts/ini-to-json.js
Due: backend, frontend

feat(feature-flags): improve constraint editor UI with date picker and toggle options
  archived/add-constraints-list-key.js
  archived/add-killswitch.js
  archived/add-strategy-desc-keys.js
  archived/add-variant-field-help.js
  archived/add-variant-name-help.js
  archived/add-variant-ui-keys.js
  archived/add-weight-dist.js
  archived/add-weight-keys.js
  archived/fix-weight-dist.js
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend
