Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

feat(playground): add evaluation blueprint showing full strategy structure with evaluation status
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(playground): improve UI - wider popover, JSON copy button, dark theme fixes
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

style(playground): make AND chip more subtle with grey colors
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

style(playground): make AND chip more subtle with opaque grey color
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

정돈
  packages/frontend/lint_output.txt
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
Due: frontend

feat(playground): refine evaluation blueprint, context fields UI, and add transition animation
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
Due: frontend

feat(frontend): refine variants editor UI and enhance playground evaluation details
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

refactor(playground): simplify evaluation UI and fix strategy evaluation logic
  lint_error.txt
  lint_error_final.txt
  lint_output.txt
  lint_output_2.txt
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend, frontend

refactor(playground): simplify evaluation UI and fix strategy evaluation logic
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/routes/admin/features.ts
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureFlagsPage.tsx
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend, frontend

cleanup
  frontend_errors.txt
  frontend_tsc_errors.txt
  frontend_tsc_errors2.txt
Due: none

정돈
  .gitignore
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/database/migrations/047_cleanup_context_field_type.js
  packages/backend/src/models/FeatureFlag.ts
  packages/backend/src/services/FeatureEvaluator.ts
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/features/ConstraintDisplay.tsx
  packages/frontend/src/components/features/ConstraintEditor.tsx
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
  packages/frontend/src/components/features/PlaygroundDialog.tsx
  packages/frontend/src/components/features/SortableStrategyList.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/game/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/game/FeatureFlagDetailPage.tsx
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend, frontend

feat(integrations): Add wizard UI for creating integrations
  packages/backend/package.json
  packages/backend/src/addons/Addon.ts
  packages/backend/src/addons/EventFormatter.ts
  packages/backend/src/addons/LarkAddon.ts
  packages/backend/src/addons/SlackAddon.ts
  packages/backend/src/addons/TeamsAddon.ts
  packages/backend/src/addons/WebhookAddon.ts
  packages/backend/src/addons/definitions.ts
  packages/backend/src/addons/index.ts
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/database/migrations/048_integration_system.js
  packages/backend/src/models/Integration.ts
  packages/backend/src/models/IntegrationEvent.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/admin/integrations.ts
  packages/backend/src/services/IntegrationService.ts
  packages/backend/src/types/integrationEvents.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/assets/icons/integrations/lark.svg
  packages/frontend/src/assets/icons/integrations/slack.svg
  packages/frontend/src/assets/icons/integrations/teams.svg
  packages/frontend/src/assets/icons/integrations/webhook.svg
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/components/integrations/IntegrationSelectors.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/settings/CreateIntegrationPage.tsx
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
  packages/sdks/server-sdk/src/types/featureFlags.ts
  yarn.lock
Due: backend, frontend

fix(i18n): Disable keySeparator to support flat dotted keys
  packages/frontend/src/contexts/I18nContext.tsx
Due: frontend

fix(integrations): Add missing t() call for provider displayName in configured integrations list
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

fix(integrations): Add t() call for delete confirmation dialog
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

fix(integrations): Improve wizard stepper spacing
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
Due: frontend

fix(integrations): Add provider description and reorder enabled switch
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
Due: frontend

fix(integrations): Improve UI spacing and localization wording
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/locales/ko.ini
Due: frontend

feat(integrations): Improve wizard UI - skip step 1 when provider selected, fix description default, increase empty state height
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

feat(integrations): AWS IAM-style event selector with accordion categories and individual checkboxes
  packages/frontend/src/components/integrations/IntegrationSelectors.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
Due: frontend

fix(integrations): EventSelector as dropdown popover, EnvironmentSelector as clickable chips
  packages/frontend/src/components/integrations/IntegrationSelectors.tsx
Due: frontend

fix(integrations): Remove cancel button, enable save only when form is dirty
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: frontend

feat(settings): Remove unused integrations tab from system settings page
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
Due: frontend

fix(integrations): Prevent card size jump on selection by using consistent border
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
Due: frontend

feat(integrations): Add slack-app (Slack Web API) integration provider
  packages/backend/src/addons/SlackAppAddon.ts
  packages/backend/src/addons/definitions.ts
  packages/backend/src/addons/index.ts
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/settings/CreateIntegrationPage.tsx
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: backend, frontend

feat: add debug integration and improve sdk icon adaptation
  packages/backend/src/addons/DebugAddon.ts
  packages/backend/src/addons/definitions.ts
  packages/backend/src/addons/index.ts
  packages/frontend/src/assets/icons/integrations/debug.svg
  packages/frontend/src/assets/icons/sdks/bevy.svg
  packages/frontend/src/assets/icons/sdks/cryengine.svg
  packages/frontend/src/assets/icons/sdks/raylib.svg
  packages/frontend/src/assets/icons/sdks/unreal.svg
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
  packages/frontend/src/pages/settings/IntegrationsSdksPage.tsx
Due: backend, frontend

refactor: unify audit log and integration event handling
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/types/user.ts
  packages/backend/src/utils/enhancedAuditLog.ts
Due: backend

feat: add client version maintenance events and support multiple integration events per audit log
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/types/integrationEvents.ts
Due: backend

feat(frontend): add client version maintenance events to integration selector
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: frontend

feat(frontend): add missing translations for client version maintenance events
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat(frontend): add missing integration event description localizations
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: frontend

fix(frontend): remove 'v' prefix from version display
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(frontend): add missing localization keys for debug provider and category
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(frontend): consistently strip 'v' prefix from displayed version string
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
Due: frontend

fix(frontend): display version exactly as provided without modification
  packages/frontend/src/components/layout/Sidebar.tsx
Due: frontend

fix(backend,frontend): implementation integration events for feature flag strategy changes
  packages/backend/src/services/FeatureFlagService.ts
  packages/frontend/src/components/integrations/CreateIntegrationWizard.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: backend, frontend

fix(frontend): expose all event data properties to translation params
  packages/frontend/src/pages/settings/EditIntegrationPage.tsx
Due: frontend
