Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Delete Augment 프롬프트.txt
  Augment 프롬프트.txt
Due: none

Update CLIENT_API.md
  packages/backend/CLIENT_API.md
Due: none

docusaurus 셋업
  README.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/client-api.md
  docs/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/client-api.md
  packages/backend/CLIENT_API.md
  packages/backend/EMAIL_SETUP.md
  packages/backend/src/constants/README.md
  packages/backend/src/controllers/ClientController.ts
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/utils/README.md
Due: backend, frontend

태깅처리
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/controllers/WhitelistController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/Job.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/Whitelist.ts
  packages/backend/src/routes/clientVersionRoutes.ts
  packages/backend/src/routes/jobs.ts
  packages/backend/src/routes/messageTemplates.ts
  packages/backend/src/routes/whitelist.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/jobService.ts
  packages/frontend/src/services/messageTemplateService.ts
  packages/frontend/src/types/job.ts
Due: backend, frontend

knex porting
  package-lock.json
  packages/backend/package.json
  packages/backend/src/config/knex.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/Job.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  yarn.lock
Due: backend, frontend

쿼리 버그 수정
  packages/backend/src/controllers/IpWhitelistController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/frontend/src/components/common/SimplePagination.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/messageTemplateService.ts
Due: backend, frontend

쿼리 오류 수정
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/messageTemplateService.ts
Due: backend, frontend

로컬라이징 수정
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/routes/ipWhitelist.ts
  packages/backend/src/routes/jobs.ts
  packages/backend/src/routes/messageTemplates.ts
  packages/backend/src/routes/tags.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/services/auditLogService.ts
Due: backend, frontend

클라이언트 버전에 태그 설정 가능하도록 개선
  packages/backend/src/models/ClientVersion.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

Update BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
Due: frontend

gatrix
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/Dockerfile
  packages/frontend/.env.example
  packages/frontend/Dockerfile
  packages/frontend/public/index.html
  yarn.lock
Due: none

데이터베이스 필드명 정리
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/controllers/jobExecutionController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/001_unified_camelcase_schema.js
  packages/backend/src/database/reset.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/Job.ts
  packages/backend/src/models/JobExecution.ts
  packages/backend/src/models/JobType.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/Vars.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/QueueService.ts
  packages/frontend/src/components/jobs/JobExecutionHistory.tsx
  packages/frontend/src/services/jobService.ts
  packages/frontend/src/types/index.ts
  packages/frontend/src/types/job.ts
Due: backend, frontend

로그인, 회원가입시 문제점 수정
  packages/backend/src/controllers/jobTypeController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/auth/AccountSuspendedPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/PendingApprovalPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/pages/auth/SignUpPromptPage.tsx
Due: backend, frontend

final commit
  .env.example
  README.md
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/database/migrations/001_unified_camelcase_schema.js
  packages/backend/src/database/migrations/002_add_missing_tables.js
  packages/backend/src/database/migrations/003_add_whitelists_table.js
  packages/backend/src/database/migrations/004_add_account_whitelists_table.js
  packages/backend/src/database/migrations/005_add_client_versions_table.js
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/Whitelist.ts
  packages/backend/src/scripts/createAdmin.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/TagService.ts
  packages/backend/src/types/user.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: backend, frontend

테이블 정돈
  packages/backend/src/controllers/WhitelistController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/001_unified_camelcase_schema.js
  packages/backend/src/database/migrations/002_add_missing_tables.js
  packages/backend/src/database/migrations/003_add_whitelists_table.js
  packages/backend/src/database/migrations/004_add_account_whitelists_table.js
  packages/backend/src/database/migrations/005_add_client_versions_table.js
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/services/WhitelistService.ts
Due: backend

11
  packages/backend/fix-audit-logs.js
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/routes/clientVersionRoutes.ts
  packages/backend/src/routes/ipWhitelist.ts
  packages/backend/src/routes/jobs.ts
  packages/backend/src/routes/messageTemplates.ts
  packages/backend/src/routes/tags.ts
  packages/backend/src/routes/whitelist.ts
  packages/backend/src/scripts/checkAdmin.ts
  packages/backend/src/scripts/testLogin.ts
  packages/backend/src/types/user.ts
  packages/frontend/src/services/api.ts
Due: backend, frontend

데이터베이스 필드 변경으로 인한 오류들 수정
  docs/docs/features/job-management.md
  packages/backend/migrations/20241201_remove_job_schedule_fields.js
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_update_job_created_by.js
  packages/backend/src/middleware/auditLog.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/Job.ts
  packages/backend/src/models/JobType.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/routes/clientVersionRoutes.ts
  packages/backend/src/routes/jobs.ts
  packages/backend/src/routes/messageTemplates.ts
  packages/backend/src/routes/tags.ts
  packages/backend/src/routes/whitelist.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/jobs/DynamicJobDataForm.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/jobService.ts
  packages/frontend/src/services/messageTemplateService.ts
  packages/frontend/src/types/job.ts
  scripts/fix-job-created-by.js
Due: backend, frontend

bugfix
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/003_rename_vars_columns.js
  packages/backend/src/middleware/auth.ts
  packages/backend/src/models/AuditLog.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/routes/clientVersionRoutes.ts
  packages/backend/src/services/ClientVersionService.ts
  packages/backend/test-client-version.js
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/auditLogService.ts
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/jobService.ts
Due: backend, frontend

버그수정
  docker-compose.dev.yml
  docker-compose.yml
  docker/mysql/init/01-init.sql
  docker/redis/redis.conf
  packages/backend/.env.example
  packages/backend/src/controllers/IpWhitelistController.ts
  packages/backend/src/controllers/WhitelistController.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_rename_memo_to_purpose.js
  packages/backend/src/database/migrations/004_add_multilanguage_support_to_message_templates.js
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/components/common/FormDialogHeader.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/LoginPage.tsx
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/messageTemplateService.ts
  packages/frontend/src/services/whitelistService.ts
  packages/frontend/src/types/clientVersion.ts
Due: backend, frontend

UI 통일성 보완작업
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: frontend

중간커밋
  execute_sql.js
  generate_1000_users.js
  insert_1000_users.sql
  insert_additional_users.sql
  insert_test_users.sql
  insert_test_users_fixed.sql
  packages/backend/insert_1000_users.sql
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/database/migrations/002_add_created_by_to_users.js
  packages/backend/src/models/User.ts
  packages/backend/src/services/userService.ts
  packages/backend/src/types/user.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/services/auditLogService.ts
  packages/frontend/src/types/index.ts
Due: backend, frontend

whitelist 테스트 기능 추가
  packages/backend/src/controllers/WhitelistController.ts
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/IpWhitelist.ts
  packages/backend/src/routes/whitelist.ts
  packages/backend/src/services/IpWhitelistService.ts
  packages/backend/src/services/WhitelistService.ts
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/admin/WhitelistOverview.tsx
  packages/frontend/src/components/common/SimplePagination.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/services/ipWhitelistService.ts
  packages/frontend/src/services/whitelistService.ts
Due: backend, frontend

메시지 템플릿 기능 개선
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/Tag.ts
  packages/backend/src/services/WhitelistService.ts
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/settings/TagsPage.tsx
  packages/frontend/src/services/tagService.ts
  scripts/generate-message-templates.js
Due: backend, frontend

is_enabled 이슈
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  scripts/check-table-structure.js
  scripts/debug-tags.js
  scripts/fix-whitelist-tags-v2.js
  scripts/fix-whitelist-tags.js
  scripts/generate-whitelists.js
  scripts/test-whitelist-api.js
  scripts/test-whitelist-model.js
Due: backend, frontend

Update Job.ts
  packages/backend/src/models/Job.ts
Due: backend

isEnabled flag
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/JobType.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/services/whitelistService.ts
Due: backend, frontend

데이터베이스 필드 정리
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/database/migrations/002_add_created_by_to_users.js
  packages/backend/src/database/migrations/002_rename_memo_to_purpose.js
  packages/backend/src/database/migrations/002_update_job_created_by.js
  packages/backend/src/database/migrations/003_rename_vars_columns.js
  packages/backend/src/database/migrations/004_add_multilanguage_support_to_message_templates.js
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/models/JobType.ts
  packages/backend/src/models/Tag.ts
  packages/backend/src/models/TagAssignment.ts
  packages/backend/src/services/WhitelistService.ts
  packages/frontend/src/components/jobs/DynamicJobDataForm.tsx
  packages/frontend/src/services/whitelistService.ts
  packages/frontend/src/types/job.ts
  scripts/add-account-whitelist-fields.js
  scripts/check-all-tables.js
  scripts/check-users-table.js
  scripts/fix-updatedby-field.js
  scripts/reset-database.js
  scripts/test-knex-models.js
Due: backend, frontend

lint 문제 및 필드명 중구난방 문제점 수정
  package-lock.json
  packages/backend/.eslintrc.js
  packages/backend/data/README.md
  packages/backend/data/cleanup.sql
  packages/backend/data/mock-data.sql
  packages/backend/data/sample-users.sql
  packages/backend/data/status-check.sql
  packages/backend/package.json
  packages/backend/src/config/passport.ts
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/MessageTemplateController.ts
  packages/backend/src/controllers/UploadController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/controllers/jobController.ts
  packages/backend/src/controllers/jobTypeController.ts
  packages/backend/src/database/migrate.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/middleware/rateLimiter.ts
  packages/backend/src/middleware/upload.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/routes/admin.ts
  packages/backend/src/routes/jobs-simple.ts
  packages/backend/src/scripts/executeSql.ts
  packages/backend/src/services/AuthService.ts
  packages/backend/src/services/CacheService.ts
  packages/backend/src/services/QueueService.ts
  packages/backend/src/services/jobs/JobFactory.ts
  packages/backend/src/services/jobs/LogMessageJob.ts
  packages/backend/src/test/setup.ts
  packages/backend/src/types/global.d.ts
  packages/frontend/src/components/jobs/DynamicJobDataForm.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/services/jobService.ts
  packages/frontend/src/services/messageTemplateService.ts
  packages/frontend/src/types/job.ts
  yarn.lock
Due: backend, frontend

로그인 흐름 문제 수정
  packages/backend/package.json
  packages/backend/src/config/passport.ts
  packages/backend/src/database/migrations/001_initial_schema.js
  packages/backend/src/scripts/executeSql.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/LandingPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/services/auth.ts
Due: backend, frontend

로컬라이징 누락 처리
  packages/backend/src/controllers/AuthController.ts
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/EmptyTableRow.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/AuditLogsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: backend, frontend

로컬라이징 이슈 대응
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/services/GameWorldService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/layout/Header.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/PendingPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/auth/LoginPage.tsx
  packages/frontend/src/pages/auth/LogoutPage.tsx
  packages/frontend/src/pages/auth/RegisterPage.tsx
  packages/frontend/src/types/gameWorld.ts
Due: backend, frontend

로컬라이징 대응
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/ko.json
  packages/frontend/src/types/clientVersion.ts
Due: frontend

로컬라이징 대응
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/zh.json
  temp_ko.json
Due: frontend

로컬라이징 이슈 대응
  packages/backend/src/app.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/TagController.ts
  packages/backend/src/models/AccountWhitelist.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/Job.ts
  packages/backend/src/models/MessageTemplate.ts
  packages/backend/src/models/TagAssignment.ts
  packages/backend/src/services/TagService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/common/TimezoneSelector.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/JobsPage.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/timeService.ts
  packages/frontend/src/utils/dateFormat.ts
Due: backend, frontend

RequestLog 두번 나오는 문제 수정
  packages/backend/src/config/logger.ts
  packages/backend/src/controllers/GameWorldController.ts
  packages/backend/src/controllers/TagController.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/WhitelistPage.tsx
Due: backend, frontend

Update logger.ts
  packages/backend/src/config/logger.ts
Due: backend

디버그 로그 정리
  packages/backend/src/controllers/ClientVersionController.ts
  packages/backend/src/models/ClientVersion.ts
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/services/clientVersionService.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
