Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

fix(frontend): add missing localization keys for event details and results
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix(frontend): remove hardcoded 'v' version prefix from MainLayout and update lockfile
  packages/frontend/src/components/layout/MainLayout.tsx
  yarn.lock
Due: frontend

fix(frontend): improve relative time formatting localization in dateFormat
  packages/frontend/src/utils/dateFormat.ts
Due: frontend

chore(edge): reorder dependencies in package.json
  packages/edge/package.json
Due: none

fix(edge): improve loki transport error handling in logger
  packages/edge/src/config/logger.ts
Due: none

chore(event-lens): add winston-loki dependency and update clean script
  packages/event-lens/package.json
Due: none

fix(backend): mark webhook url parameter as non-sensitive to allow viewing
  packages/backend/src/addons/definitions.ts
Due: backend

정돈
  packages/backend/package.json
  packages/backend/src/addons/Addon.ts
  packages/backend/src/addons/DebugAddon.ts
  packages/backend/src/config/logger.ts
  packages/backend/src/models/Integration.ts
  packages/backend/src/models/IntegrationEvent.ts
  packages/backend/src/routes/admin/integrations.ts
  packages/chat-server/package.json
  packages/chat-server/src/config/logger.ts
  packages/event-lens/src/utils/logger.ts
Due: backend

fix(backend): capture http status code in webhook integration errors
  packages/backend/src/addons/Addon.ts
  packages/backend/src/addons/WebhookAddon.ts
Due: backend

feat(integrations): show last event status in integration list
  packages/backend/src/models/Integration.ts
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: backend, frontend

feat(integrations): move status icon to provider icon overlay and add navigation
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

feat(integrations): replace delete button with context menu (edit, log, toggle, delete)
  packages/frontend/src/pages/settings/IntegrationsPage.tsx
Due: frontend

fix(backend): capture http status code in all integration providers
  packages/backend/src/addons/Addon.ts
  packages/backend/src/addons/DingTalkAddon.ts
  packages/backend/src/addons/DiscordAddon.ts
  packages/backend/src/addons/GoogleChatAddon.ts
  packages/backend/src/addons/KakaoAddon.ts
  packages/backend/src/addons/LarkAddon.ts
  packages/backend/src/addons/LineAddon.ts
  packages/backend/src/addons/PagerDutyAddon.ts
  packages/backend/src/addons/SlackAddon.ts
  packages/backend/src/addons/TeamsAddon.ts
  packages/backend/src/addons/TelegramAddon.ts
  packages/backend/src/addons/WeComAddon.ts
  packages/backend/src/addons/WebhookAddon.ts
  packages/backend/src/addons/WhatsAppAddon.ts
Due: backend

정돈
  packages/backend/src/addons/Addon.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: backend, frontend

feat(js-client-sdk): implement core SDK features
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/.prettierrc
  packages/sdks/client-sdks/gatrix-js-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/jest.config.js
  packages/sdks/client-sdks/gatrix-js-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/rollup.config.mjs
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/EventEmitter.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FlagProxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Logger.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/WatchFlagGroup.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/events.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/storage-provider-inmemory.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/storage-provider-localstorage.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/storage-provider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/utils.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/version.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/EventEmitter.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FlagProxy.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tsconfig.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/yarn.lock
Due: none

test: fix SDK tests and add variation method
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/EventEmitter.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
Due: none

feat(js-client-sdk): add FlagProxy Details/OrThrow methods and comprehensive tests
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FlagProxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FlagProxy.test.ts
Due: none

feat(js-client-sdk): add offline mode and logger integration
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/console-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
Due: none

feat(js-client-sdk): improve dashboard with auto-aligned table and flag change tracking
  packages/backend/src/controllers/ClientController.ts
  packages/event-lens/src/utils/logger.ts
  packages/sdks/client-sdks/CLIENT_SDK_SPEC.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/.editorconfig
  packages/sdks/client-sdks/gatrix-js-client-sdk/README.md
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/console-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/dashboard.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/simple-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/watch-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/jest.config.js
  packages/sdks/client-sdks/gatrix-js-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/rollup.config.mjs
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/EventEmitter.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FlagProxy.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/InMemoryStorageProvider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/LocalStorageProvider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Metrics.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/StorageProvider.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/errors.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/events.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/utils.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/EventEmitter.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FeaturesClient.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tests/FlagProxy.test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/tsconfig.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/yarn.lock
Due: backend

feat(js-sdk): add real-time dashboard and improve examples
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/config.sample.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/config.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/console-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/dashboard.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/simple-test.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/examples/watch-test.ts
Due: none

feat: add Gatrix React SDK with hooks and dashboard example
  packages/backend/src/constants/headers.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/package.json
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-react-sdk/README.md
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/index.html
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/main.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/vite.config.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-react-sdk/package.json
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixProvider.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useBoolVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlag.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlags.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlagsStatus.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useGatrixClient.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useGatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useJsonVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useNumberVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useStringVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useUpdateContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useVariant.ts
  packages/sdks/client-sdks/gatrix-react-sdk/tsconfig.json
  packages/sdks/client-sdks/gatrix-react-sdk/vite.config.js
  packages/sdks/client-sdks/gatrix-react-sdk/yarn.lock
Due: backend

feat(react-sdk): enhance dashboard with NES.css retro theme and improved UX
  archived/react-sdk-implementation-plan.md
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/index.html
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/package.json
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/BootScreen.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/main.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/tsconfig.json
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/vite.config.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/yarn.lock
  packages/sdks/client-sdks/gatrix-react-sdk/package.json
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixProvider.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/src/index.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useBoolVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlag.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlags.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useFlagsStatus.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useGatrixClient.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useGatrixContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useJsonVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useNumberVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useStringVariation.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useUpdateContext.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/useVariant.ts
  packages/sdks/client-sdks/gatrix-react-sdk/tsconfig.json
Due: none

feat(arkanoid): enhance collision precision and add levels; refactor(login): replace placeholder animations with ASM64-style infinite tunnel background
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ArkanoidGame.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/BootScreen.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfirmDialog.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/DisconnectScreen.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/PaletteBackground.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: none

feat(dashboard): add flag detail modal and enhance UI aesthetics
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagDetailModal.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: none

feat(dashboard): remove unnecessary UI elements from disconnect screen
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/DisconnectScreen.tsx
Due: none

feat(dashboard): enhance layout and animations
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: frontend

fix(dashboard): resolve CORS issues and prevent duplicate SDK initialization
  packages/backend/src/app.ts
  packages/backend/src/constants/headers.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixProvider.tsx
Due: backend

fix(sdk): improve 304 handling and react provider initialization
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-react-sdk/src/GatrixProvider.tsx
Due: none

fix(sdk): make start() fully idempotent and silent on double-start
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
Due: none

chore(sdk): include connectionId in start log for easier tracking
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
Due: none

style(sdk): improve start log format by moving connectionId after version
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
Due: none

refactor(sdk): use Logger interface instead of console.log in GatrixClient
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/GatrixClient.ts
Due: none

style(dashboard): tighten FlagDetailModal layout for better usability
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagDetailModal.tsx
Due: none

feat(sdk): add metrics events and track metrics stats in dashboard
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: none

feat: implement client metrics submission and unknown flag tracking
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/services/UnknownFlagService.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/FeaturesClient.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/Metrics.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/events.ts
  packages/sdks/client-sdks/gatrix-js-client-sdk/src/types.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/FlagCard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/StatsPanel.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: backend

feat(edge): implement feature flag proxy and metrics aggregation
  archived/edge-feature-flags-plan.md
  packages/edge/.eslintrc.json
  packages/edge/package.json
  packages/edge/public/game-service-notices.html
  packages/edge/src/app.ts
  packages/edge/src/config/env.ts
  packages/edge/src/config/logger.ts
  packages/edge/src/index.ts
  packages/edge/src/internalApp.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/health.ts
  packages/edge/src/routes/internal.ts
  packages/edge/src/routes/public.ts
  packages/edge/src/routes/server.ts
  packages/edge/src/services/edgeMetrics.ts
  packages/edge/src/services/metricsAggregator.ts
  packages/edge/src/services/requestStats.ts
  packages/edge/src/services/sdkManager.ts
  packages/edge/src/services/tokenMirrorService.ts
  packages/edge/src/services/tokenUsageTracker.ts
  packages/edge/tsconfig.json
  yarn.lock
Due: none

fix(auth): resolve server auth regression, edge 403 error, and react sdk example token logic
  packages/backend/src/constants/headers.ts
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/middleware/apiTokenAuth.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/server/index.ts
  packages/edge/src/app.ts
  packages/edge/src/middleware/clientAuth.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/services/sdkManager.ts
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/ConfigForm.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/components/Dashboard.tsx
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/styles.css
Due: backend

feat(sdk-example): update dashboard polling interval to 5s
  packages/sdks/client-sdks/gatrix-react-sdk/examples/dashboard/src/App.tsx
Due: none

fix(edge): resolve ETag consistency issue and implement newest-first sorting
  packages/backend/src/controllers/ClientController.ts
  packages/backend/src/controllers/ServerFeatureFlagController.ts
  packages/backend/src/models/FeatureFlag.ts
  packages/edge/src/app.ts
  packages/edge/src/routes/client.ts
  packages/sdks/server-sdk/src/services/FeatureFlagService.ts
  packages/sdks/server-sdk/src/types/featureFlags.ts
  packages/sdks/server-sdk/src/utils/FeatureFlagEvaluator.ts
Due: backend
