Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: number input allows empty during typing, draft saves only changed values
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: frontend

fix: variant add button right-align, allow empty number inputs during typing
  packages/frontend/src/components/features/EnvironmentVariantsEditor.tsx
Due: frontend

feat: add world server address verification (health check icon + /info endpoint)
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/controllers/game-world-controller.ts
  packages/backend/src/routes/admin/client-version-routes.ts
  packages/backend/src/routes/admin/game-worlds.ts
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/services/clientVersionService.ts
  packages/frontend/src/services/gameWorldService.ts
Due: backend, frontend

fix: store products action context menu, form button label, planning data upload id, switch checked type
  packages/backend/src/services/planning-data-service.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
Due: backend, frontend

feat: add AI-powered name suggestion for feature flags
  packages/backend/src/controllers/ai-chat-controller.ts
  packages/backend/src/routes/admin/ai-chat.ts
  packages/backend/src/services/ai/ai-suggest-service.ts
  packages/frontend/src/components/common/AISuggestNames.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/services/aiChatService.ts
Due: backend, frontend

fix: improve AI service notice content update - truncate content in list, add get_by_id tool, enhance logging
  packages/backend/src/services/ai/ai-chat-service.ts
  packages/backend/src/services/ai/llm-types.ts
  packages/backend/src/services/ai/providers/claude-provider.ts
  packages/backend/src/services/ai/tools/service-notice-tools.ts
  packages/backend/src/services/service-notice-service.ts
  packages/frontend/src/components/game/BannerFormDialog.tsx
Due: backend, frontend

fix: SSE reconnection grace period - prevent G logo from turning red during reconnection
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
Due: frontend

feat: apply EmptyPlaceholder pattern to RewardTemplateFormDialog with grouped section styling
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: rename createTemplate label from 생성 to 추가
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: rename createSurvey label from 등록 to 추가
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
Due: frontend

feat: add minimum patch version enforcement for client versions
  docs/docs/admin/client-versions.md
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/controllers/client-version-controller.ts
  packages/backend/src/models/client-version.ts
  packages/backend/src/services/client-version-service.ts
  packages/edge/src/routes/client.ts
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/types/clientVersion.ts
  packages/sdks/server-sdks/gatrix-dotnet-server-sdk/src/Gatrix.Server.Sdk/Models/ClientVersion.cs
  packages/sdks/server-sdks/gatrix-node-server-sdk/src/types/api.ts
Due: backend, frontend

feat: add help text to message template availability toggle
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/MessageTemplatesPage.tsx
Due: frontend

fix: improve survey form trigger conditions layout
  packages/frontend/src/components/game/SurveyFormDialog.tsx
Due: frontend

refactor: unify tag selection with TagSelector component, add edit/delete/description support, fix tag assignment id generation
  packages/backend/src/controllers/admin-controller.ts
  packages/backend/src/models/client-version.ts
  packages/backend/src/models/ip-whitelist.ts
  packages/backend/src/models/job.ts
  packages/backend/src/models/message-template.ts
  packages/backend/src/models/tag-assignment.ts
  packages/backend/src/models/user.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/admin/BulkClientVersionForm.tsx
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/components/admin/GameWorldForm.tsx
  packages/frontend/src/components/admin/UserForm.tsx
  packages/frontend/src/components/common/TagSelector.tsx
  packages/frontend/src/components/game/RewardTemplateFormDialog.tsx
  packages/frontend/src/components/game/StoreProductFormDrawer.tsx
  packages/frontend/src/components/jobs/JobForm.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: backend, frontend

fix: localize toast position to bottom-center and fix Chinese translations for tags
  packages/frontend/src/App.tsx
  packages/frontend/src/locales/zh.ini
Due: frontend

fix: disable drag when only one game world exists in the list
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: frontend

fix: cache bug causing incorrect FORCED_UPDATE for minPatchVersion check
  packages/backend/src/controllers/client-controller.ts
Due: backend

feat: add tags to client API responses and edge server-side game-worlds API
  packages/backend/src/controllers/client-controller.ts
  packages/edge/src/routes/client.ts
  packages/edge/src/routes/server.ts
Due: backend

refactor: transform edge /client-versions response to client-friendly format
  packages/edge/src/routes/client.ts
Due: none

feat: add /client/client-versions list API to backend
  packages/backend/src/controllers/client-controller.ts
  packages/backend/src/routes/client/client.ts
Due: backend

fix: clean up client game-worlds response and fix backend tags
  packages/backend/src/controllers/client-controller.ts
  packages/edge/src/routes/client.ts
Due: backend

fix: invalidate stale game-worlds cache without tags
  packages/backend/src/controllers/client-controller.ts
Due: backend

fix: correct stale cache detection for game-worlds tags
  packages/backend/src/controllers/client-controller.ts
Due: backend

fix: re-invalidate SDK cache after game world tag changes
  packages/backend/src/controllers/game-world-controller.ts
  packages/backend/src/services/service-registry.ts
Due: backend

fix: correct game-worlds cache key mismatch between service and controller
  packages/backend/src/services/game-world-service.ts
Due: backend

fix: publish SDK events when tags are changed to invalidate Edge cache
  packages/backend/src/controllers/tag-controller.ts
  packages/backend/src/models/client-version.ts
  packages/backend/src/models/game-world.ts
Due: backend

fix: use TagChips in feature flag detail, move tags below description, fix chart panel border
  packages/frontend/src/components/features/ImpactMetricsChart.tsx
Due: frontend

feat: improve playground test results - show variant name as chip with value tooltip
  packages/frontend/src/components/features/PlaygroundDialog.tsx
Due: frontend

UI improvements: Signal/Action expanded views, ClientVersion collapsible sections, bulk status buttons
  packages/backend/src/controllers/api-tokens-controller.ts
  packages/backend/src/controllers/coupon-settings-controller.ts
  packages/backend/src/controllers/release-flow-controller.ts
  packages/backend/src/routes/admin/action-sets.ts
  packages/backend/src/routes/admin/signal-endpoints.ts
  packages/frontend/.env.development
  packages/frontend/.env.example
  packages/frontend/src/components/admin/ClientVersionForm.tsx
  packages/frontend/src/contexts/ThemeContext.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/services/actionSetService.ts
  packages/frontend/src/services/releaseFlowService.ts
  packages/frontend/src/services/signalEndpointService.ts
Due: backend, frontend

fix(UI): CR floating banner fixes, list page UI polish, and type errors
  packages/backend/src/models/api-access-token.ts
  packages/backend/src/models/approval.ts
  packages/backend/src/models/change-item.ts
  packages/backend/src/models/change-request.ts
  packages/backend/src/models/entity-lock.ts
  packages/backend/src/models/outbox-event.ts
  packages/backend/src/models/project.ts
  packages/backend/src/routes/admin/drafts.ts
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/change-request-service.ts
  packages/backend/src/services/draft-handlers/feature-flag-draft-handler.ts
  packages/backend/src/services/draft-handlers/segment-draft-handler.ts
  packages/backend/src/services/draft-service.ts
  packages/backend/src/services/outbox-service.ts
  packages/backend/src/services/service-registry.ts
  packages/frontend/src/components/admin/ChangeRequestDetailDrawer.tsx
  packages/frontend/src/components/admin/RevertPreviewDrawer.tsx
  packages/frontend/src/components/admin/SubmitPreviewDrawer.tsx
  packages/frontend/src/components/common/DraftBanner.tsx
  packages/frontend/src/components/common/DraftChangesDialog.tsx
  packages/frontend/src/components/common/DraftConfirmDialog.tsx
  packages/frontend/src/components/common/DraftDiffUtils.tsx
  packages/frontend/src/components/features/StrategyEditDrawer.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/admin/ChangeRequestDetailPage.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
  packages/frontend/src/services/draftService.ts
  packages/frontend/src/services/featureFlagService.ts
  packages/frontend/src/utils/changeRequestFormatter.ts
  packages/shared/src/permissions/constants.ts
Due: backend, frontend

feat(CR): support draft creation from list toggle and polish drawer footers
  packages/frontend/src/components/admin/SubmitPreviewDrawer.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
Due: frontend

feat(CR): fix missing locales and overlay pending drafts on list/playground
  packages/backend/src/routes/admin/features/flags.ts
  packages/backend/src/routes/admin/features/playground.ts
  packages/frontend/src/locales/en.ini
  packages/frontend/src/locales/ko.ini
  packages/frontend/src/locales/zh.ini
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/services/changeRequestService.ts
Due: backend, frontend

refactor(CR): unify change request draft creation to use floating banner instead of snackbar
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/utils/changeRequestToast.tsx
Due: frontend

fix(CR): check if version column exists before setting dbData.version=1 during execution
  packages/backend/src/services/change-request-service.ts
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
Due: backend, frontend

fix(UI): correct action types camelCase localization in ActionSetsPage and fix dark theme background for SignalEndpointsPage
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
Due: frontend

fix(UI): ensure Endpoint API preview is always visible, fix EmptyPlaceholder layout, load FeatureFlag tags in Edit drawer
  packages/frontend/src/components/common/EmptyPlaceholder.tsx
  packages/frontend/src/pages/admin/ChangeRequestsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
Due: frontend

fix: CR draft double-serialization of enabledValue/disabledValue and aria-hidden warning
  packages/frontend/src/components/common/PageHeader.tsx
  packages/frontend/src/components/common/ResizableDrawer.tsx
  packages/frontend/src/pages/admin/ActionSetsPage.tsx
  packages/frontend/src/pages/admin/OpenApiPage.tsx
  packages/frontend/src/pages/admin/ProjectsPage.tsx
  packages/frontend/src/pages/admin/QueueMonitorPage.tsx
  packages/frontend/src/pages/admin/RolesPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/ServiceAccountsPage.tsx
  packages/frontend/src/pages/admin/SignalEndpointsPage.tsx
  packages/frontend/src/pages/admin/WorkspacePage.tsx
  packages/frontend/src/pages/features/FeatureContextFieldsPage.tsx
  packages/frontend/src/pages/features/FeatureFlagDetailPage.tsx
  packages/frontend/src/pages/features/FeatureFlagsPage.tsx
  packages/frontend/src/pages/features/FeatureSegmentsPage.tsx
  packages/frontend/src/pages/features/ReleaseFlowTemplatesPage.tsx
  packages/frontend/src/pages/features/UnknownFlagsPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
  packages/frontend/src/pages/game/CouponUsagePage.tsx
  packages/frontend/src/pages/game/CouponsPage.tsx
  packages/frontend/src/pages/game/IngamePopupNoticesPage.tsx
  packages/frontend/src/pages/game/PlanningDataHistoryPage.tsx
  packages/frontend/src/pages/game/PlanningDataPage.tsx
  packages/frontend/src/pages/game/RewardTemplatesPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/game/StoreProductsPage.tsx
  packages/frontend/src/pages/game/SurveysPage.tsx
  packages/frontend/src/pages/monitoring/AlertsPage.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src
  frontend: any of: packages/frontend/src
