Repository maxidea1024/gatrix: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "packages/*/dist"
    - "packages/*/build"
    - "packages/*/coverage"
    - "packages/*/node_modules"
    - "packages/*/*.config.*"
    - "packages/*/src/test"
    - "packages/*/cypress"
    - "packages/backend/src/database/migrations"
    - "packages/backend/src/config"
    - "packages/backend/src/index.ts"
    - "packages/frontend/src/main.tsx"
    - "packages/frontend/src/vite-env.d.ts"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - packages/backend/src
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src
    carryforward: true

도커 빌드 및 배포 이슈 수정
  .env
  packages/chat-server/Dockerfile
  packages/event-lens/Dockerfile
  setup-env.ps1
  setup-env.sh
Due: none

prod 도커 빌드 이슈 해결
  .dockerignore
  .env
  .env.example
  .gitignore
  docker-compose.dev.yml
  docker-compose.yml
  packages/chat-server/Dockerfile
  packages/event-lens/Dockerfile
  setup-env.ps1
  setup-env.sh
Due: none

ftp 배포 스크립트 추가
  package.json
  scripts/README-SFTP-DEPLOY.md
  scripts/deploy-ftp.js
Due: none

Update deploy-ftp.js
  scripts/deploy-ftp.js
Due: none

sftpclient 추가
  package.json
  yarn.lock
Due: none

최신화
  EASY_SETUP.md
  EASY_SETUP_KO.md
  EASY_SETUP_ZH.md
  package-lock.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/controllers/DataManagementController.ts
  packages/backend/src/routes/admin/dataManagement.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/services/DataManagementService.ts
  packages/frontend/docker-entrypoint.sh
  packages/frontend/src/App.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/DataManagementPage.tsx
  packages/frontend/src/services/chatWebSocketService.ts
  scripts/deploy-ftp.js
Due: backend, frontend

Update yarn.lock
  yarn.lock
Due: none

Update dataManagement.ts
  packages/backend/src/routes/admin/dataManagement.ts
Due: backend

yarn install 타임아웃 설정해서 도커빌드하도록 개선
  packages/chat-server/Dockerfile
  packages/frontend/Dockerfile
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
Due: frontend

timeout
  packages/backend/Dockerfile
  packages/event-lens/Dockerfile
Due: none

npm 패키지 다운로드 이슈 수정(중국에서도 잘되게)
  packages/backend/Dockerfile
  packages/backend/Dockerfile.dev
  packages/chat-server/Dockerfile
  packages/chat-server/Dockerfile.dev
  packages/event-lens/Dockerfile
  packages/event-lens/Dockerfile.dev
  packages/frontend/Dockerfile
  packages/frontend/Dockerfile.dev
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Update SimplePagination.tsx
  packages/frontend/src/components/common/SimplePagination.tsx
Due: frontend

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

remote config 관련 오류들 수정
  packages/backend/src/database/migrations/045_seed_remote_config_environments.js
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/RemoteConfig/RemoteConfigParametersPage.tsx
  packages/frontend/src/services/remoteConfigService.ts
  packages/frontend/vite.config.ts.timestamp-1764585882795-c3f44bbf0dd6b.mjs
Due: backend, frontend

UI 다듬기
  packages/backend/src/services/PubSubService.ts
  packages/frontend/src/components/game/IngamePopupNoticeFormDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
  packages/frontend/src/components/game/TargetSettingsGroup.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/game/CouponSettingsPage.tsx
Due: backend, frontend

mysql -> knex 로 통일
  packages/backend/src/services/CouponRedeemService.ts
  packages/backend/src/services/CouponSettingsService.ts
Due: backend

배너 관리 기능 추가
  docker-compose.dev.yml
  docker-compose.yml
  packages/backend/src/controllers/BannerClientController.ts
  packages/backend/src/controllers/BannerController.ts
  packages/backend/src/database/migrations/046_create_banners_table.js
  packages/backend/src/models/Banner.ts
  packages/backend/src/routes/admin/banners.ts
  packages/backend/src/routes/admin/index.ts
  packages/backend/src/routes/client/client.ts
  packages/backend/src/services/BannerService.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/BannerPreview.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/components/game/SequenceEditor.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/services/bannerService.ts
  packages/frontend/src/utils/ulid.ts
Due: backend, frontend

배너관련 UI개선
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/BannerPreview.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/components/game/SequenceEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
Due: frontend

Update SurveyFormDialog.tsx
  packages/frontend/src/components/game/SurveyFormDialog.tsx
Due: frontend

월드 주소 형식 변경
  docker-compose.yml
  packages/backend/src/controllers/GameWorldController.ts
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
Due: backend, frontend

Update Dockerfile
  packages/frontend/Dockerfile
Due: none

배너 이미지 편집 UI 개선(grid, timeline 뷰 선택 가능하도록 개선)
  packages/backend/src/database/migrations/047_add_banner_name_unique_constraint.js
  packages/backend/src/models/Banner.ts
  packages/backend/src/services/BannerService.ts
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/BannerPreview.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/components/game/SequenceEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

배너 편집 UI 개선
  packages/backend/src/database/migrations/047_add_banner_name_unique_constraint.js
  packages/backend/src/services/BannerService.ts
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/components/game/SequenceEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

정돈
  packages/frontend/src/components/game/BannerFormDialog.tsx
  packages/frontend/src/components/game/BannerPreview.tsx
  packages/frontend/src/components/game/FrameEditor.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: frontend

multi environments - WIP
  packages/backend/src/controllers/RemoteConfigEnvironmentController.ts
  packages/backend/src/database/migrations/048_extend_environments_for_multi_env.js
  packages/backend/src/database/migrations/049_add_environment_id_to_tables.js
  packages/backend/src/middleware/environmentMiddleware.ts
  packages/backend/src/models/ClientVersion.ts
  packages/backend/src/models/GameWorld.ts
  packages/backend/src/models/Project.ts
  packages/backend/src/models/RemoteConfigEnvironment.ts
  packages/backend/src/models/Tag.ts
  packages/backend/src/utils/environmentContext.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
Due: backend, frontend

Update UsersManagementPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

퍼미션 UI 개선
  packages/frontend/src/components/common/PermissionSelector.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

UI/UX 개선
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

권한처리 문제 수정
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
Due: frontend

권한 이슈들 처리
  packages/backend/src/routes/admin/environments.ts
  packages/backend/src/routes/admin/index.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/contexts/GameWorldContext.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/services/api.ts
Due: backend, frontend

UI 정돈
  packages/backend/src/types/permissions.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/config/navigation.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/settings/SystemSettingsPage.tsx
  packages/frontend/src/types/permissions.ts
Due: backend, frontend

Update App.tsx
  packages/frontend/src/App.tsx
Due: frontend

원격 권한 변경 실시간 반영 기능 추가
  packages/backend/src/controllers/AdminController.ts
  packages/backend/src/types/permissions.ts
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/hooks/useSSENotifications.ts
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/types/permissions.ts
Due: backend, frontend

스크롤바 스타일 통일
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ProtectedRoute.tsx
  packages/frontend/src/components/admin/IpWhitelistTab.tsx
  packages/frontend/src/components/common/ArrayEditor.tsx
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/components/settings/KeyValueFormDrawer.tsx
  packages/frontend/src/locales/en.json
  packages/frontend/src/locales/ko.json
  packages/frontend/src/locales/zh.json
  packages/frontend/src/pages/admin/ApiTokensPage.tsx
  packages/frontend/src/pages/admin/ClientVersionsPage.tsx
  packages/frontend/src/pages/admin/GameWorldsPage.tsx
  packages/frontend/src/pages/admin/RealtimeEventsPage.tsx
  packages/frontend/src/pages/admin/UsersManagementPage.tsx
  packages/frontend/src/pages/admin/WhitelistPage.tsx
  packages/frontend/src/pages/common/UnauthorizedPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPreviewPage.tsx
  packages/frontend/src/pages/mailbox/MailboxPage.tsx
  packages/frontend/src/styles/scrollbar.css
  packages/frontend/src/types/index.ts
Due: frontend

퍼미션 대응 보완
  packages/frontend/src/components/layout/MainLayout.tsx
  packages/frontend/src/pages/admin/MaintenancePage.tsx
  packages/frontend/src/pages/admin/RemoteConfigPage.tsx
  packages/frontend/src/pages/admin/SchedulerPage.tsx
  packages/frontend/src/pages/admin/ServerListPage.tsx
  packages/frontend/src/pages/game/BannerManagementPage.tsx
  packages/frontend/src/pages/game/ServiceNoticesPage.tsx
  packages/frontend/src/pages/settings/EnvironmentsPage.tsx
  packages/frontend/src/pages/settings/TagsPage.tsx
Due: frontend
